[2014-10-10 08:48] nl5887 opened #1 "Implement simple help for command line. Eg. /help will show usage."

[2014-10-10 08:49] nl5887 opened #2 "Support for custom lifetimes"

[2014-10-16 18:09] nl5887 opened #3 "Implement download page, with viewer for images, markdown, etc."

[2014-10-16 18:40] nl5887 opened #4 "Add unit tests."

[2014-10-16 18:51] nl5887 opened #5 "Implement different storage types than only S3"

[2014-10-16 19:10] nl5887 opened #6 "add timers and stats"

[2014-10-23 11:39] CalumJEadie opened #7 "mktemp fails on Peppermint 4 Linux"
# Steps to recreate.

Running on Peppermint 4 Linux.

[code]
# What's going wrong?

In the version of mktemp on Peppermint 4 Linux, template requires at least 3 consecutive XXX's.

[code]
# Workaround

So the following workaround works.

transfer() {
    # write to output to tmpfile because of progress bar
    tmpfile=$( mktemp -t transferXXX )
    curl --progress-bar --upload-file $1 https://tran

[2014-10-23 11:44] #7 closed, assigned to nobody

[2014-11-12 16:55] thibmaek opened #9 "Not uploading files when filename has Spaces"
I'm getting upload errors when trying to upload a file with spaces, even when correctly escaping the spaces with a backslash.

**Example:** `transfer Getting\ Started\ With\ Git.pdf`

Errors when trying the above command:

[code]

[2014-11-13 11:52] epeli opened #10 "File names are converted to lower case"
`curl -v -T Gemfile.lock transfer.sh` results in `https://transfer.sh/:key/gemfile.lock` even thou curl properly sends the PUT request with correct casing.

From the log output:

[code]

This gets pretty annoying when downloading the file again.

Awesome service anyway. Thanks!

[2014-11-13 20:16] nl5887 opened #11 "Implement S3 uploading parts"
This will fix "connection reset" errors during upload.

http://docs.aws.amazon.com/AmazonS3/latest/API/mpUploadUploadPart.html

[2014-11-14 22:30] #11 closed, assigned to nobody

[2014-12-08 07:46] oren opened #13 "Docker run command errors: Error while creating storage"
Here are the steps I took:

[code]

And the error:

[code]

Ubuntu 14.10, Docker version 1.3.2, build 39fa2fa

[2014-12-08 12:50] #9 closed, assigned to nobody

[2014-12-08 13:14] #13 closed, assigned to nobody

[2014-12-08 21:37] oren opened #14 "upload a file to local host returns 301"
I am installing the app using docker on my laptop. I get 301 when trying to upload a file.
curl -v --upload-file ./hello.txt http://localhost:8080/hello.txt

[code]

[2014-12-14 12:13] melmi opened #17 "problem with the link of uploaded amr file"
Hi,

I tried this twice today: when I upload an `amr` file, transfer.sh generates a link which its content is something like this:

Thank you.

[2014-12-14 19:12] #17 closed, assigned to nobody

[2015-01-08 11:26] orschiro opened #18 "Support for mkv video files"
Hi there,

Many thanks for transfer.sh! I regularly use it to share some files.

Just now I wanted to share a screencast that I had created with `simplescreenrecorder` on my Linux machine: https://transfer.sh/RzaoH/screencast.mkv

The default format is `mkv` which currently does not seem to be supported.

Would it be possible to support `mkv` files?

Thankfully,

Robert

[2015-01-25 23:54] mapio commented on #14
This actually happens not only for an upload, but even accessing to the homepage!

[code]

I hope you'll fix it because I'd like to run this on a private network!

[2015-01-26 08:51] nl5887 commented on #14
In the main time, you can workaround this issue by removing the RedirectHandler in main.go, by changing:
[code]
to
[code]

[2015-01-26 14:01] mapio commented on #14
I assume you mean here

https://github.com/dutchcoders/transfer.sh/blob/3306a56a4b1f3e803962020c8dc3489c9a181458/transfersh-server/main.go#L172

[2015-02-26 10:10] epeli opened #22 "Add raw link to the file"
transfer.sh seems to do some kind of user agent sniffing and it displays the files in a HTML wrapper in the browser. Which is fine, but it should also display a raw link to the file which does not ever add the wrapper because now it is impossible to view images in their full size or use JSON-formatting extensions to view json files in browser.

[2015-02-26 10:38] nl5887 commented on #22
When we had links to the raw url, the service was abused by phishers which included the raw images and scripts within their phishing sites. We've chosen for a solution that when the referer is transfer.sh the raw file will be shown. I'll look into a solution.

[2015-03-29 14:03] pixelwitches opened #25 "Doesn't work on MacOS X 10.6"
Process:         launchd [11727]
Path:            /Users/melody/Downloads/transfer.sh.app/Contents/MacOS/applet
Identifier:      com.apple.ScriptEditor.id.transfer-sh
Version:         ??? (???)
Code Type:       X86-64 (Native)
Parent Process:  launchd [124]

Date/Time:       2015-03-30 01:01:51.863 +1100
OS Version:      Mac OS X 10.6.8 (10K549)
Report Version:  6

Interval Since Last Report:

[2015-03-29 18:37] nl5887 commented on #25
What app is this? I think you've created this issue in the wrong repository.

[2015-04-02 04:02] minhaz1 opened #26 "Opening uploaded html file link to browser causes browser to execute the javascript in the file"
When you upload an html file and open the given url in the browser (tested on Chrome) the javascript that was in the file executes. For example, below I have an html file that redirects the user to another website, so when I open the link to the file on transfer.sh it ends up executing the redirect code instead of just showing me a preview.

Sample code:

[code]

[2015-04-02 11:58] nl5887 commented on #26
Good one, will fix this.

[2015-04-06 14:34] johnko commented on #26
-content = html_template.HTML(fmt.Sprintf("<pre>%s</pre>", data))
+content = html_template.HTML(fmt.Sprintf("<pre>%s</pre>", html.EscapeString(data)))

[2015-05-07 04:18] Auroch opened #27 "Listening only on IPV6 after building"
After building on Debian Jessie, the transfersh-server only listen on ipv6 and on my OHV VPS, I can't disable IPV6.
Is there something I missed (some parameters on the command line) or do you think it's related to the #1 response from google at this other issue ?
https://code.google.com/p/go/issues/detail?id=5197

[2015-05-07 08:55] nl5887 commented on #27
What I'm reading at https://groups.google.com/forum/#!msg/golang-nuts/F5HE7Eqb6iM/q_um2VqT5vAJ is that the ipv4 packets are being received through the ipv6 address. Did you tested if it is able to receive data through the ipv4 address?

[code]

[2015-05-07 11:54] Auroch commented on #27
Hi, thanx for the reply !
But i'm not really sure to understand ... because (for me) nothing really come on this machine throught IPV6 (I think). Its seem to me (but maybe I'm wrong) that I can only arrive on it throught IPV4 traffic and when I test with a netstat -lntp the port listening is only on IPV6.
Sorry if I'm completely wrong, but I don't know how I can check if the building works.

my tr

[2015-05-08 12:43] Auroch commented on #27
Sorry, in fact, that work as you said but only if I test with local IP and not localhost ^^
This is OK

This NOT ok

Do you think it's normal the reply is in https ?

[2015-05-10 17:28] johnko opened #28 "support Range request from HTTP Header"
Hi,

If you want to support Range requests, the easy way is you need something like

[code]

in your `getHandler` instead of the io.Copy.

This will allow seeking for media files.

[2015-05-10 17:30] johnko commented on #28
example in my fork https://github.com/johnko/wtfc/blob/master/transfersh-server/handlers.go#L612-631

[2015-05-30 04:04] johnko commented on #18
According to http://www.matroska.org/news/webm-matroska.html

webm is a subset of mkv

So what might work is serving `*.mkv` files with a Content-Type `video/webm` as suggested in http://stackoverflow.com/questions/9622726/html5-video-can-play-mkv-files/29438223#29438223

So maybe after [line 165](https://github.com/dutchcoders/transfer.sh/blob/master/transfersh-server/main.go#L165), add:

[code]

[2015-08-19 21:39] ShadowKyogre opened #32 "[Question] Files with same token can't be easily zipped together?"
Hi transfer.sh devs! I love the service you've provided, but I have one little question.

I notice that when I upload files over curl in batches, they'll have the same token. EG:

[code]

But when I upload via the website, I get this:

[code]

I know how to write the url to bundle files under a single zip or .tar.gz, but is there a reason why files underneath the same token can't simply be referre

[2015-12-05 15:26] fredlubrano commented on #27
Hi,

I have the same problem "transfer server" listen on IPV6 only (Ubuntu 14.04).
The configuration of the IPv6 is disabled on the network interface
systcl.conf
net.ipv6.conf.all.disable_ipv6=1
net.ipv6.conf.default.disable_ipv6=1
net.ipv6.conf.lo.disable_ipv6=1

test

# ./transfersh-server -provider=local --port 8080 --temp=/tmp/ --basedir=/tmp/
2015/12/05 15:04:10 Transfer.sh server started. :

[2015-12-17 10:54] fladd opened #33 "Newlines in text files are not shown on web preview"
See: https://transfer.sh/CgpB3/crm.py

While it is correctly detected as a Python script, the web site does not show any newlines.

[2015-12-17 16:02] fladd opened #34 "encryption example does not work when using the `transfer` command"
The encryption example does not work when using the `transfer` command:

`cat crm.py | gpg -ac -o- | transfer`:

[code]

[2016-01-11 15:08] ngryman opened #35 "Add support for directories in the alias"
Hi guys,

I think it would be nice to add directory support in the given alias. We could first create a tarball of it and then upload it. Something like this:

[code]

What do you think?

[2016-02-03 15:00] singpolyma opened #36 "Support getting upload slot before upload"
Would be nice if there were some way to request the eventual fetch URL first, then upload to it, then fetch from it thereafter.  This would simplify some scripting cases.

[2016-02-23 20:03] mik-laj opened #38 "Remaing time and upload progress on web"
Hi.

I was missing a function to see the remaining time and current speed.

This seems possible to do:
http://zippshare.com/
http://stackoverflow.com/questions/28893154/get-remaining-time-and-upload-file-speed-ajax-jquery-js

[2016-03-20 10:30] capsload opened #40 "Multiple Files?"
Hello,

im trying to upload multiple files within a folder to transfer.sh

Any idea how to do so?

transfer \* > /home/kvm1/www/uploads.txt

[2016-03-20 17:32] awendland opened #41 "Alias for fish-shell"
I would like to add this function for [fish-shell](https://fishshell.com/) somewhere in the documentation, but I'm unsure as to where.

[code]

[2016-03-20 17:53] k0nsl commented on #41
@awendland: see if you can have them add your fish-shell function here:
https://transfer.sh/#samples

[2016-03-20 22:32] andrewmclagan opened #42 "Change the language listing"
change the language listing on this repo to shell or bash.  Currently its CSS.

[2016-03-21 11:07] kevjonesin opened #43 "syntax error in bashrc script"
Both the transfer.sh script [at gist](https://gist.github.com/nl5887/a511f172d3fb3cd0e42d) and the two line .bashrc version [in 'sample use cases'](https://transfer.sh/) return ...

... when running in bash via Manjaro Linux.

In the case of calling the script from my bashrc I get ...

... Inserting the two line snippet version directly in .bashrc results in similar, but with an error line number

[2016-03-21 14:24] kapouer opened #44 "DELETE a file ?"
`curl -X DELETE https://transfer.sh/xf54d/myfile.password`
would be awesome.

[2016-03-24 09:46] shaleengarg commented on #44
Hello @kapouer . I am newbie. I liked your idea of transfer files through terminal. I want to contribute to this org. Please guide me

[2016-03-25 22:35] jasonyost commented on #14
Just ran into this issue myself, the code for the redirect handler is looking for a host of `127.0.0.1` in handlers.go

[code]

Changing my curl command to `curl -v --upload-file ./hello.txt http://127.0.0.1:8080/hello.txt` resolves the issue for me

[2016-04-03 05:32] SimplyY commented on #41
Thanks a lot!

I used it, it is very useful . I think it should be added in README.

My PR  https://github.com/dutchcoders/transfer.sh/pull/46

[2016-04-12 07:29] CrashyBang commented on #41
:+1:

[2016-04-16 01:14] camdenorrb opened #47 "Install on a raspberry pi?"
I can't seem to get docker to host it's own transfer.sh site. `pi@raspberrypi:/opt $ cd transfer.sh
pi@raspberrypi:/opt/transfer.sh $ docker build -t transfersh .

Sending build context to Docker daemon 2.358 MB
Step 1 : FROM golang
latest: Pulling from library/golang
efd26ecc9548: Pull complete
a3ed95caeb02: Pull complete
d1784d73276e: Pull complete
72e581645fc3: Pull complete
01ce90e06b06: Pull

[2016-04-22 13:54] BoBeR182 opened #48 "Transfer.sh alias mangles output for hidden onion service"
https://gist.github.com/BoBeR182/27ef189e6a61ca5add5c123c558a29d4
Is what I am using for my alias

When doing the following command.

transfer files.zip

I get an incorrect URL with an invalid SSL cert. See log below...

[bober@boberbot][~]% transfer files.zip
###### ################################################################## 100.0%

https://jxm5d6emw5rknovg.onion/9EZaY/files.zip

If a file

[2016-05-13 11:37] kartikarora opened #50 "API for other platforms!"
Is there any web API available for transfer.sh? I'd like to develop mobile app for this service. If people are interested, I can start working on UI mockups and UX proposal right away.

[2016-05-13 11:38] kartikarora commented on #50
My bad, it's already an API

[2016-05-13 11:38] #50 closed

[2016-05-14 02:12] acepsaepudin commented on #14
thanks @jasonyost +1

[2016-05-14 12:51] schollz commented on #47
I don't know Docker, but why not just build with Go? After you [install Go](https://golang.org/dl/) just use:

[code]

Make sure to replace `YOURSERVER` with your DNS so it defaults to your server on the webpage and in the code. Then run

[code]

[2016-05-14 17:31] camdenorrb commented on #47
How do I install Go?

[2016-05-14 19:45] schollz commented on #47
Download and install:
[code]

Add a `work` directory to store Go dependencies.
[code]

Then `nano ~/.profile` to add these lines:

[code]

That's it! Test with

[code]

[2016-05-14 21:52] songgao opened #51 "transfer.sh Down?"
Hi there! Thanks for making and hosting such a useful service!

It looks like there's some issue with the backend right now?

[code]

[2016-05-15 05:17] camdenorrb commented on #47
Thx ^-^

[2016-05-15 05:17] #47 closed

[2016-05-15 07:22] nl5887 commented on #51
Thanks for noticing. Docker and Elastic Beanstalk failed recovering from the docker process crashing. I've restarted everything and will remove the docker layer.

[2016-05-15 09:17] onesez opened #52 "问鼎到此一游 火钳刘明"
问鼎到此一游 火钳刘明

[2016-05-15 15:12] songgao commented on #51
Thanks @nl5887 for the fast response! I'm gonna close the issue then.

Have you considered CoreOS? :)

[2016-05-15 15:12] #51 closed

[2016-05-15 18:17] nl5887 commented on #51
Don't expect that to solve this issue. But lets see first how it works without docker (they are running just one docker container per vm), so the docker container isn't really necessary. Was only for easy deployment, and that isn't too difficult to script.

[2016-05-15 18:28] songgao commented on #51
Got you. Was it docker itself, or the `transfersh-server` process within the container that crashed? I mentioned CoreOS mainly because of the `rkt` runtime. It has a [simpler process model](https://coreos.com/rkt/docs/latest/rkt-vs-other-projects.html#process-model) and is easier to manage.

But anyway hope the issue presents itself soon and gets solved!

[2016-05-15 18:47] nl5887 commented on #51
It was docker itself, not the binary. And strange this is also that this isn't detected by Amazon Elastic Beanstalk, because there are multiple instances. It just said that it failed, but didn't took appropriate action.

[2016-05-19 18:45] dschep commented on #51
@nl5887 is https://transfer.sh down again?
[code]

[2016-05-20 18:46] songgao commented on #51
This is a pretty long shot, but was the error in `Accept()` and something like "ran out of file descriptors" by any chance? I got bit by that once and solved by setting Timeouts for `http` stuff

[2016-06-04 16:46] chiwalfrm opened #53 "Possible to generate our own random token?"
I have one PC that needs to share a file that changes daily with another PC remotely (not on same network).

I looked at the example provided on the website:
(Uploading is easy using curl)
$ curl --upload-file ./hello.txt https://transfer.sh/hello.txt
https://transfer.sh/66nb8/hello.txt
(Download the file)
$ curl https://transfer.sh/66nb8/hello.txt -o hello.txt

After the upload, the curl command

[2016-06-05 14:06] darklow opened #54 "Return http scheme according to upload scheme (non-https support when printing share url)"
`https` may not be always available or hard to configure if using docker containers etc.
It would be great if URL could be returned with the same http scheme that it was uploaded, now it always return `https` url even if upload was using `http`
Looks like `https` scheme is hardcoded:
https://github.com/dutchcoders/transfer.sh/blob/7986596d2b06020bf0ba65ac1128ee8eedc522a5/transfersh-server/handlers

[2016-06-05 18:49] nl5887 commented on #51
Actually I found out that the difference between 1.4.2 and 1.6 in SSL
handling was causing the issue. I was reading and writing to S3 with https,
causing the cpu to overflow. For now this has been solved by not https 'ing
internal traffic.

On Fri, May 20, 2016 at 8:46 PM Song Gao <notifications@github.com> wrote:

--

-----
Remco Verhoef

gpg: https://keybase.io/remcov/key.asc
personal twitter: @

[2016-06-06 04:51] songgao commented on #51
Interesting. But high CPU load shouldn't cause process to be killed, right? Was it using a lot of memory?

Just genuinely interested in the root cause :D

[2016-06-18 21:04] viruzx opened #55 "Is transfer.sh down?"
I can't seem to use it anymore and the website gives a blank page.

[2016-06-19 04:46] Tolsadus commented on #55
Same here 😿

[2016-06-19 18:48] viruzx commented on #55
Seems to be back up!

[2016-06-19 18:48] #55 closed

[2016-06-23 01:32] cuongnv23 opened #57 "Empty body in PUT"
I realized that transfer.sh allows to PUT with an empty body:

[code]

Is it expected behavior?
PUT method with empty body is ok [1] but file sharing without data doesn't make sense ( at least for me )

[1] https://tools.ietf.org/html/rfc2616#section-9.6

[2016-07-11 14:58] dimovnike opened #59 "is http://transfer.sh/ down?"

[2016-07-11 15:23] MrSadoo commented on #59
Doesn't open up for me!

[2016-08-15 06:23] lospejos opened #61 "Page tries to load scripts from unsecure domain"
I'm getting warning/error in Chrome saying that http://transfer.sh tries to download scripts (*.js files) from unsecure sources (http). Consider loading all scripts from https sources

[2016-08-19 06:13] omgbox commented on #59
its working Fri 19 Aug 2016.  uploaded 800mb

[2016-08-19 06:20] omgbox commented on #40
transfer() {
  if [ $# -lt 1 ]; then
    echo -e "URL: https://transfer.sh"
    echo -e "Usage:   $0 <filename>"
    echo -e "Example: $0 file.zip file2.txt file3.jpg"
    return 1
  fi
  myArray=( "$@" )
  for arg in "${myArray[@]}"; do
    tmpfile=$( mktemp -t transferXXX )
    if tty -s; then
      basefile=$(basename "$arg" | sed -e \'s/[^a-zA-Z0-9._-]/-/g\')
      curl --progress-bar --upload

[2016-08-19 08:08] nl5887 commented on #59
I'll close this issue. We've made some changes to the infra, and no issues anymore.

[2016-08-19 08:08] #59 closed

[2016-08-22 12:20] sheerun commented on #53
I see it's currently hardcored to random: https://github.com/dutchcoders/transfer.sh/blob/master/transfersh-server/handlers.go#L350

[2016-08-22 15:22] omgbox opened #63 "how to build this, its not working ubuntu 15.04 server"
~/go/transfer.sh-master# go build -o transfersh-server/_.go
transfersh-server/main.go:43:2: cannot find package "github.com/PuerkitoBio/ghost/handlers" in any of:
    /usr/lib/go/src/pkg/github.com/PuerkitoBio/ghost/handlers (from $GOROOT)
    /root/go/src/github.com/PuerkitoBio/ghost/handlers (from $GOPATH)
transfersh-server/handlers.go:52:2: cannot find package "github.com/dutchcoders/go-clamd"

[2016-08-30 16:36] aksswami commented on #27
As @Auroch described, I am also facing same problem after building on OSX with docker. Not able to access it via `localhost` but working fine with `127.0.0.1`. If I try from another machine on same network with network IP, then also it is not working.

[2016-09-07 08:53] vynt-kenshiro opened #64 "Run transfer.sh under Nginx"
Hello, I want to run transfer.sh under Nginx but when I put transfer.sh under nginx, it redirect loop from https:// and http://. Anyone try run transfer.sh under nginx ?

[2016-09-07 14:23] #64 closed

[2016-09-10 12:48] jtoy opened #65 "remove need for file name on upload, simplify API"
the way to upload is with a command like:
curl --upload-file ./hello.txt https://transfer.sh/foo.txt

why do we need to set foo.txt ?
why can't it be something like:
curl --upload-file ./hello.txt https://transfer.sh/upload
the actual link of the fileis returned anyway so setting foo.txt doesn't help.  It seems like a needlessly complex interface.  Or am I missing something?

[2016-09-10 23:59] Damianu opened #66 "Change color of video player"
http://i.imgur.com/Gqx7rfv.png
As you may have noticed buttons under the video are hard to see when you are looking at the player for the first time. I actually had a few situations where I was sending .mp4 and people receiving the link thought that they actually have to download the video instead of just playing it.
Solution is pretty simple, just make buttons brighter than the background, becaus

[2016-09-11 18:27] nl5887 commented on #65
When using `--upload-file` the file will be send as body, without any Content-Type or filename hints. That's the reason to send the filename with the request.

[2016-09-12 14:26] jtoy commented on #65
I see, would it be useful if we generated a fake file name and extension if no file name was provided? That way we at least give the user the option of not having to double type the name every time.

[2016-09-13 07:25] nl5887 commented on #65
I'm planning an upgrade with a lot of issues fixed and enhancements, will take this into account as well.

[2016-09-25 17:17] jtoy commented on #65
@nl5887 check out file.io's api, no need to upload the file name also:
https://www.file.io/#one
$ curl -F "file=@test.txt" https://file.io
{"success":true,"key":"2ojE41"}
$ curl https://file.io/2ojE41
This is a test
$ curl https://file.io/2ojE41
{"success":false,"error":404,"message":"Not Found"}

[2016-09-25 20:41] nl5887 commented on #65
Previous week I updated transfer.sh. You should be able to upload files without a filename now. Btw curl will append the filename of the uploaded file by default.
[code]

[2016-10-04 11:57] seemsindie opened #67 "curl: no URL specified!"
So i just went to your website copied this:

[code]

I have save it in my .zshrc and when i run `transfer test.txt` i get this error:
![](http://i.imgur.com/7hJ864O.png)

Any idea why and how to fix it?

[2016-10-14 14:21] wicadmin opened #68 "Running in Docker daemon mode"
Most likely I'm misunderstanding something but how do I get this running in daemon mode in Docker? I tried the following but I could not curl a file to port 8085.

`docker run -d -p 8085:8080 --name transfersh transfersh`

Gave this error:

[code]

OK: was passing the Go params in the wrong place. This works without giving the connection refuse error but the files are not uploaded. i.e.: /tmp/ is

[2016-10-23 10:59] probonopd opened #69 "Please allow for uppercase download URLs"
Right now it seems that the download URLs returneed from transfer.sh are always lowercase. Please allow for uppercase characters in download URLs as well.

If that is already possible, please show me how.

[2016-11-25 07:01] dbazuin commented on #41
Works fine, thanks awendland.

[2016-11-26 17:45] Arinerron opened #71 "Add rate limiting"
It needs rate limiting for uploading files. Maybe 15 per minute per IP?

[2016-11-27 07:10] Arinerron commented on #69
Duplicate issue of https://github.com/dutchcoders/transfer.sh/issues/10

[2016-11-27 07:13] Arinerron commented on #40
Possible duplicate? https://github.com/dutchcoders/transfer.sh/issues/35

[2016-11-27 08:46] probonopd commented on #10
Ping :-)

[2016-12-07 00:04] deamwork opened #73 "Specific file types and size limits"
How to limit allowed file type and size?

[2016-12-08 08:28] gelim opened #74 "Transfer bashrc enable interpretation of backslash escapes"
In the bashrc snippet you display here : https://github.com/dutchcoders/transfer.sh/blob/master/transfersh-web/index.html#L153

You probably want to enable interpretation of backslash by changing `echo` to `echo -e`
That would allow to have a properly formatted error messages when no argument is passed to the function.

At the moment it looks like this:
[code]

Cheers,
Mathieu

[2016-12-10 20:44] c33s opened #76 "Github Buttons missing on transfer.sh webpage"
it looks like the embedding of the github buttons is somehow broken. the buttons are missing for me on firefox & chrome because of "unauthenticated sources"

![trans](https://cloud.githubusercontent.com/assets/649209/21075999/c47e0342-bf20-11e6-82dd-6f0582866ac2.png)

on both browser it is possible to do an unsafe reload which then shows the buttons.

this is because of the changed urls
[code]
red

[2017-02-23 17:18] Anachron commented on #44
I am also looking for a way to delete a file.

[2017-02-25 03:02] probonopd commented on #10
Is there still a chance of this being implemented? Thanks.

[2017-02-25 17:32] roccomuso opened #78 "Node.js CLI Tool :)"
Node module & Cli Tool, already available on Npm:
https://github.com/roccomuso/transfer-sh

;-)

[2017-03-22 22:41] nl5887 commented on #76
Thx! Fixed.

[2017-03-22 22:41] #76 closed

[2017-03-22 22:43] nl5887 commented on #74
Fixed! thx.

[2017-03-22 22:43] #74 closed

[2017-03-22 22:44] #65 closed

[2017-03-22 22:45] nl5887 commented on #61
Thx, this should be fixed now.

[2017-03-22 22:45] #61 closed

[2017-03-22 22:48] nl5887 commented on #42
fixed now, moved web to its own repo

[2017-03-22 22:48] #42 closed

[2017-03-23 10:15] cristian0 commented on #10
+1

[2017-03-23 10:47] #10 closed

[2017-03-28 15:09] #71 closed

[2017-03-28 15:10] nl5887 commented on #69
Commit @45bafbe48f44c711e97b5c269254d7c43d42db37 closes this issue

[2017-03-28 15:10] #69 closed

[2017-03-28 15:12] nl5887 commented on #48
Fixed with commit @2eb2d1d7f4526eff86f235667286284457c1585b

[2017-03-28 15:12] #48 closed

[2017-03-31 20:44] huguesalary commented on #67
Did you `source` your `.zshrc` after copying/pasting?

[2017-04-09 15:53] monkz commented on #44
I would recommend a second url for deletion (independent of the download link), otherwise the -X DELETE variant would be accessible for annoying people, that delete every transfer.sh hosted file.

[2017-04-14 19:01] dinosaw opened #80 "Customize The Site Layout?"
Is there a way to alter the site layout to one's unique needs? This is a great tool, but the "transfer.sh" branding everywhere confuses our customers who visit it. I'd like to be able to alter it so it looks at least similar to our branding (without of course removing the reference and fork link because we're not trying to steal credit). I'm running this via the Docker container. I can modify the

[2017-04-15 14:30] nl5887 commented on #80
Sure, you can use the parameter web-path for that. It will overrule the default static files. You can find the web interface to customize here (https://github.com/dutchcoders/transfer.sh-web) by the way.

[2017-04-15 14:30] nl5887 commented on #78
Great work! Thx.

[2017-04-15 14:30] #78 closed

[2017-04-15 14:33] nl5887 commented on #68
This looks like everything works fine. The connection refused indicates that curl cannot connect to the web server itself. Does this work without starting it in daemon mode?

[2017-04-15 14:33] nl5887 commented on #73
We don't have a feature for this atm.

[2017-04-15 14:34] nl5887 commented on #67
Any updates on this?

[2017-04-15 14:34] nl5887 commented on #63
Could you try this with latest version?

[2017-04-15 14:36] nl5887 commented on #53
Because we're using random tokens, we can keep everything simple without using authentication. If we'll allow custom tokens, we need to add authentication, authorisation and all such. And we built this just for simple sharing.

[2017-04-15 14:36] nl5887 commented on #54
Hi Kaspars, could you try this with latest version? ;-)  Should be fixed now.

[2017-04-15 14:38] nl5887 commented on #44
Exactly why we haven't implemented it yet. I can imagine returning an extra delete header, but that won't be visible for most people. Especially not the people that accidently uploaded a file they wanted to delete.

The solution I was thinking of was generating a site secret, hashing that with the hash of the file and returning it as an extra X-Delete-URL http header. That url can be called to del

[2017-04-16 07:33] monkz commented on #44
And if you return two urls - it would break the current API.

[2017-04-17 13:15] nonameolsson opened #81 "Password protection"
Hi!
Great tool!

Would it be possible to add password protection to files?
`transfer --password=mypass myfile.png`

[http://recordit.co/](http://recordit.co/) has password protection and it works pretty nice.

Thanks for developing transfer.sh!

[2017-04-25 03:19] rockymadden commented on #81
Tiny CLI interface for transfer.sh that does this:

[code]

https://github.com/rockymadden/transfer-cli

[2017-04-26 09:12] heuzef opened #83 "New awesome exemple (URL copied to clipboard)"
Thanks for this amazing tools ! New awesome example with alias (.bashrc) :

`transfer() { if [ $# -eq 0 ]; then echo -e "No arguments specified. Usage:\necho transfer /tmp/test.md\ncat /tmp/test.md | transfer test.md"; return 1; fi
tmpfile=$( mktemp -t transferXXX ); if tty -s; then basefile=$(basename "$1" | sed -e 's/[^a-zA-Z0-9._-]/-/g'); curl --progress-bar --upload-file "$1" "https://transfer

[2017-05-24 09:32] Flipez opened #85 "Google Analytics in Docker Container"
If you deploy transfer.sh on a own server with Docker is is preconfigured with Google Analytics.

In my opinion this should be opt-in or at least not hardcoded with your UA id.

[2017-06-06 23:15] danielleontiev opened #86 "QR-code"
Please, add qr-code with link to the uploaded file on `https://transfer.sh`

[2017-06-27 14:53] Alirezaies opened #87 "Ending Lines With "\n""
Hello

thank you for this usefull app.

please add "\n" at the end of response as zsh shows `https://transfer.sh/2hWcO/.zshrc%`.

thanks

[2017-06-28 15:14] shayanzare opened #88 "use transfer.sh in other programming language"
Hello.

How can i use transfer.sh **api** in other programming language like ruby and c++?
have lib for this language?

Thanks.

[2017-07-02 06:46] Jellby commented on #53
I would like some kind of predictable URL too, though I'd prefer a full path with at least a couple of directory levels. Security and privacy are not primary concerns in this case: I don't mind if others can read the file and, if I choose a nontrivial name, I can be reasonably sure the file will not be overwritten (and it's not a big deal if it is). It could be something like mailinator.

[2017-07-07 03:34] MercuryxLion commented on #87
I solved this "problem" editing the transfer alias in my .bashrc. Using ** && printf '\n'  >> $tmpfile **

[Solution.txt](https://github.com/dutchcoders/transfer.sh/files/1129922/Solution.txt)

[2017-07-07 11:46] Alirezaies commented on #87
@MercuryxLion thanks, I'll keep this issue open until this solution will be added
+1

[2017-07-10 20:06] JtokohZohl commented on #86
`curl -s --upload-file ./file.zip https://transfer.sh/file.zip | qrencode  -t UTF8 -l H -o-`

[2017-07-11 10:14] danielleontiev commented on #86
@JtokohZohl it's good but unnecessary in shell. QR code should be on the site because you may want to grab smth from foreign computer using `https://transfer.sh` and the fastest way to do it -- scan QR code on the site, where you upload files.

[2017-07-30 09:58] Ammadkhalid commented on #88
You can use curl to transfer your file.

[2017-08-03 17:34] CrazyPython opened #90 "Have alias echo trailing newline after a successful upload"

[2017-08-03 17:35] CrazyPython commented on #90
Duplicate of #87

[2017-08-03 17:35] #90 closed

[2017-08-04 12:55] sebcworks opened #91 "Doesn't work if passing web-path option with missing trailing /"
If you want a custom layout and then use the `web-path` option when launching the app, you have to add the trailing / (slash) to the path option, otherwise you'll get an error :
`runtime error: invalid memory address or nil pointer dereference`

It should be at least specified in the doc (or simply an handled case in the code).

[2017-08-10 19:00] rdeavila commented on #44
I agree with @monkz. When we send a file, the site returns the file URL like `https://transfer.sh/<random_code>/<filename>`, right?

Why not return two URLs, one for access, and one for deletion, with the same pattern? The return can be:

[code]

or a JSON:

[code]

With that, who upload the file can record the deletion URL, and this second URL will not be guessed by others.

[2017-08-10 20:11] monkz commented on #44
I would opt for the first as default, and the second may be returned if /json is at the end of the url.
This would be analog to the "Scan for malware"-example.

But back to the first option. I see a possible issue with the prefix "DOWNLOAD: ". If someone tries to use this output in a script, the output has to be piped via `head` and `cut`. If we omit the first prefix, we just need `head -n 1`

[2017-08-13 12:59] Prajjwal opened #92 "Add Support for Authenticated Uploads"
In most personal use scenarios, the user wants to lock down upload access to the server. I can't find anything in your `README` that talks about authentication. It is a matter of adding a single `access_token` to each POST request. Any plans for something like this?

[2017-08-30 22:23] programmerjake opened #94 "Can not go back to preview page due to cache overwriting"
If I go to a file-preview page (like <https://transfer.sh/GkNVP/output.png>), then click on the "home" link, if I then try to use the back button in the web browser, it tries to download instead of preview the file.

If I disable the browser cache, the problem goes away.

I'm using Google Chrome 60.0.3112.113 on X11 Linux x86_64.

From what I can tell, the preview page links to itself to display t

[2017-08-31 18:41] gingerbeardman commented on #87
+1

[2017-08-31 19:09] gingerbeardman commented on #83
you should use `pbcopy` instead as it is a built-in macOS command.

Here's my version

[code]

[2017-09-03 17:25] mitchellurgero commented on #88
Ruby, PHP, C++,C#, etc,etc all support "curl" like http clients. So uploading to transfer.sh using pretty much any language will work fine.

[2017-09-06 06:42] pepa65 commented on #43
This is a ``fish`` file, not for bash/zsh.

[2017-09-06 10:17] pepa65 commented on #44
Great idea, but definitely prefer the first form:
[code]

[2017-09-06 10:27] pepa65 commented on #87
Because the output is a URL, it is never going to be confusing to add the newline to the output. In those rare cases, it can always be easily stripped. This is basic usability.

[2017-09-25 10:58] Madji opened #95 "Add support Unicode"
Please add support Unicode on the file name.
Currently the download doesn't is if the file name contains Unicode

[2017-10-12 12:40] vadi2 commented on #59
Seems to be an issue again for at least the last 7 hours.

[2017-10-12 12:49] alexanderepstein opened #98 "Transfer.sh is down right now"
[code]

[2017-10-13 22:47] TheAssassin commented on #85
I totally agree. Not only that this might get problematic regarding privacy/data protection (even legally), this is something I can't stand with free software at all (I am preparing a few other of these posts on GitHub at the moment, too, when I had a look at transfer.sh proposing a security improvement). It should definitely become a opt-in thing (might be useful to some people).

Considering tra

[2017-10-13 22:57] TheAssassin opened #100 "[Security Issue] Docker containers' processes run as root"
(This is the proposal mentioned in https://github.com/dutchcoders/transfer.sh/issues/85#issuecomment-336584896.)

At the moment, the processes in the Docker containers run as root. This is a security problem, as Docker's isolation is not perfect and there's a lot of exploits that could make a root user break out of the container (it's way less of an issue for some random users which are ideally no

[2017-10-15 19:19] nl5887 commented on #98
We had some issues during the migration, but ping is always disabled.

[2017-10-15 19:19] #98 closed

[2017-10-15 19:30] nl5887 commented on #85
@Flipez you're right, this shouldn't be a hardcoded value and I'm happy to see a PR.

@TheAssassin before assuming the worst, and accusing people of spying consider the following:

* transfer.sh has been started out of my personal requirement of being able to upload files using curl
* the service has been made public and used by a lot of people, despite all costs I keep it running as long as possi

[2017-10-15 19:34] nl5887 commented on #85
@TheAssassin  Regarding your second remark, I'll consider removing Google Analytics. Though it is interesting for me to know how and how much the product is being used.

[2017-10-15 20:02] TheAssassin commented on #85
@nl5887 okay, sorry, that was a bit too aggressive language. I tried to describe a bit like someone totally unrelated might think about it, with some sense of sarcasm which is hard to see in written text. I didn't mean to offend anyone, and I'd like to apologize. Your tool is great, otherwise I wouldn't have deployed it myself of course.
What I'm always worried about is legal issues arising from f

[2017-10-15 20:11] sergeevabc commented on #95
I cannot stress enough how crucial this feature request is for non-Latin users and how weird to see and how weird it is to detect its absence in the 21st century. @nl5887, are you there?

[2017-10-15 20:31] sergeevabc commented on #95
For example, let’s try to upload the [following photo][1] of VDNH (major exhibition centre and park in Moscow).
Russian filename is ``ВДНХ.jpg``. And Transfer.sh simply does… nothing, i.e. file cannot be uploaded.

[1]: https://nofile.io/f/dYFVNydOfoO/ВДНХ.jpg

[2017-10-15 20:34] nl5887 commented on #85
Thanks for your clarification and support.

Currently using Amazon S3. I've added an caching layer, using the local disk as cache. This saves a lot as each recurring download will be served from cache.

A french hosting company has offered to sponsor, currently in the progress of moving to their servers. There I want to use Minio or just local disks as storage.

[2017-10-15 20:38] nl5887 commented on #95
Yeah, I understand the necessity and agree that this has to be fixed.

@sergeevabc  As this is an opensource project it is possible for the community to fix and create PRs. Because it is free and open, no-one can expect me to fix all issues.

[2017-10-15 21:18] TheAssassin commented on #85
That's great (for all of us, I guess)! I've used minio for small-scale deployments with success so far. I'd be curious to see how a distributed set-up would work. I guess it'll make your cache obsolete then, if it's all served from the same machines.

I was looking for cheaper S3 alternatives because the way S3 works seems perfect for this kind of application (storage on demand, easy to scale). Ho

[2017-10-16 14:49] GuillaumeBlin opened #101 "Launching docker version of the server over https"
Hi,
i've been trying along few stuff to get the transfer.sh server working only with https and using the docker image but was not successful at all.
Would you mind adding an example on how to launch it with https support ?
I've naively tried:
`docker run -v /tmp/truc:/tmp --publish 8081:443 dutchcoders/transfer.sh:latest --tls-listener :443 --provider local  --basedir /tmp/
2017/10/16 14:47:24 Tra

[2017-10-18 19:09] kamaln7 commented on #92
I can take a stab at implementing something like this. Either pass an "Authentication" header with the key or just a regualar parameter. @dutchcoders—is that alright?

[2017-11-06 00:39] probonopd opened #103 "File not found errors"
Today, getting lots of "File not found" errors:

![screenshot_2017-11-06_01-37-52](https://user-images.githubusercontent.com/2480569/32420960-35c47ace-c293-11e7-9429-d176b892308f.png)

Cc @sithlord48 who also experienced the same today.

[2017-11-07 11:38] nl5887 commented on #103
From what I can see the link expired 4th of nov.

[2017-11-09 21:52] probonopd commented on #103
https://transfer.sh/FB0l0/Subsurface-44007ce-x86_64.AppImage shows the HTML page, but the download is unavailable. According to https://travis-ci.org/probonopd/subsurface/jobs/299800783#L6475 this was uploaded there just 39 minutes ago.

[2017-11-09 22:06] probonopd commented on #103
Same for https://transfer.sh/aFQ0o/Subsurface-44007ce-x86_64.AppImage

[2017-11-11 19:55] probonopd commented on #103
Here are more examples:
https://download.supertux.org/#linux-files

[2017-11-12 17:53] probonopd commented on #103
Today, getting

[code]

[2017-11-12 18:12] KurtPfeifle commented on #103
I've got this same error about 5 minutes ago:
<pre>
$~> wget https://transfer.sh/Bqw0v/ImageMagick-git.4f1716e-x86_64.AppImage
--2017-11-12 19:06:00--  https://transfer.sh/Bqw0v/ImageMagick-git.4f1716e-x86_64.AppImage
Resolving transfer.sh (transfer.sh)... 51.15.129.136, 2001:bc8:4400:2200::3c29
Connecting to transfer.sh (transfer.sh)|51.15.129.136|:443... connected.
HTTP request sent, awaiting re

[2017-11-15 17:42] Repulser opened #104 "Usage with proxy"
I tried to host this and use nginx for proxying multiple domains, issue i got is that it always returned local host urls like `http://127.0.0.1:7000/yLCBL/col.png` since thats where it requests it, is there any way to change the host it uses or configure nginx differently?

[2017-11-15 18:14] Repulser commented on #104
It seems that modifying the `Host` header like so solved this problem:
[code]

[2017-11-15 18:14] #104 closed

[2017-11-27 17:03] Prajjwal commented on #92
@nl5887 I've implemented this. Care to take a look?

[2017-12-04 10:02] emmaanuel opened #106 "build error"
Trying to build the app from a fresh ubuntu install.

~/src/github.com/dutchcoders/transfer.sh$ go build -o transfersh main.go
# github.com/dutchcoders/transfer.sh/vendor/github.com/VojtechVitek/ratelimit
vendor/github.com/VojtechVitek/ratelimit/throttle.go:39: r.Context undefined (type *http.Request has no field or method Context)

Did I miss something ?

[2017-12-04 13:52] emmaanuel commented on #106
I switch to go1.7 and it's working.

[2017-12-04 13:52] #106 closed

[2017-12-07 11:18] stefanozanobini opened #107 "I cannot download | ERROR 500: Internal Server Error"
Hi, problems with download
wget https://transfer.sh/ASo5W/16999694371_e024b6dd09_o.jpg
→
Resolving transfer.sh (transfer.sh)... 51.15.35.76, 2001:bc8:4700:2000::4423
Connecting to transfer.sh (transfer.sh)|51.15.35.76|:443... connected.
HTTP request sent, awaiting response... 500 Internal Server Error
2017-12-07 12:12:14 **ERROR 500: Internal Server Error**.

What can I do?

[2017-12-07 19:22] stefanozanobini commented on #107
ok! now it's going. perhaps the files needs 8 hours to be available.

[2017-12-08 05:30] kaundinya5 opened #108 "Is the site down?"
I'm trying to upload a file to transfer.sh but it keeps saying 443 connection refused.

[2017-12-08 08:13] dmigous commented on #108
+1

[2017-12-08 10:38] drozdvadym commented on #108
+1

[2017-12-08 12:47] sedubois commented on #108
+1

`Failed to connect to transfer.sh port 443: Operation timed out`

[2017-12-16 14:54] vitorgalvao commented on #108
Site is up again, and has been for a few days. This can be closed.

[2017-12-16 15:03] vitorgalvao opened #109 "Some characters are not encoded in the response"
[code]

Notice how the spaces were correctly encoded (`%20`), but the question mark was not (should have been `%3F`). This then causes problems when trying to access the given URL, as it shows as not existing.

Notice the upload did work, and the file does exist at the correct location (`https://transfer.sh/RYw9k/file%20with%20spaces%3F.txt`), it’s just the returned response that shows incorrect i

[2017-12-17 05:49] #108 closed

[2017-12-18 11:11] goxofy opened #110 "hello, I am fresh bird to Go, I want to know how I can change the web index page?"
Thank you very much!

[2017-12-27 17:03] robertopc commented on #87
I added an 'echo' in the end of function in the .bashrc

[2018-01-04 12:43] libjs opened #111 "wget example for https://transfer.sh"
[code]

[2018-01-29 16:59] Destroyer opened #112 "File upload fails"
I am trying to upload 1GB file but right at the start I get this error: `Error (0) during upload of file`  . Can you please fix it?

[2018-02-05 07:17] #73 closed

[2018-02-06 16:40] cgebe opened #113 "Direct download link"
Is it possible to obtain a direct download link or some option to activate it?

[2018-02-08 10:00] ribamar-santarosa commented on #44
Can't you use the creation time (or another file attribute, or another creation attribute, like IP of upload ) as a simple pin code to delete the file? 3 attempts from the same IP unable to hit the code at least with hour precision -- functionality ban. This way there is no API break.

[2018-02-08 22:05] monkz commented on #44
An attacker has access to multiple IP addresses and introducing ratelimits is the same as introducing a denial-of-service attack vector.

[2018-02-09 09:24] ribamar-santarosa commented on #44
how did you get to that conclusion? how can they take advantage of having multiple IPs to change or fake the IP of the creation of the file? And how about the time of creation? I am very curious to see how such presumptions can be use simply discard a whole proposal  @monkz.

[2018-02-09 19:09] monkz commented on #44
You can use arbitrary numbers of IP addresses. This allows you to have arbitrary numbers of 3 guesses.

As the file remains just a certain time on the server the number of creationhours is limited

There are no other attributes to that data than name, creation time, IP address and the download hash.

This is difficult to implement as there are multiple technologies that change the IP address the s

[2018-02-09 20:03] Anachron commented on #44
@monkz why not let the user specify a deletion secret himself (which is optional) and can be passed as POST param?

[2018-02-09 21:51] monkz commented on #44
@Anachron: interesting approach - making the API enhancement optional! I was total fix on default API behaviour - my bad.

We've already parameters for max downloads and days (see examples)
[code]
why not (yeah i know the filename is not important)
[code]

If a hoster wants to set this behavior as default he can configure his service this way. So if the hoster decides to break the frontend api, he

[2018-02-09 23:41] monkz commented on #44
Usability thoughts about my post above:

Users who will upload files are mostly comfortable around a console. So setting request methods or additional headers and reacting on different output should come easy.
But we don't know if the person uploading the file is the person downloading and deleting the file.
A person who has only the competence (sorry this may sound a little bit harsher than inten

[2018-02-10 11:40] sergeevabc commented on #95
Err… Hello?

[2018-02-18 23:49] arifpedia commented on #113
@cgebe : I think it's already direct link

[2018-02-19 13:30] cgebe commented on #113
There is no option to get a ddl on transfer.sh. Since the self-hosted variant is an identical copy of transfer.sh, there isn't a ddl either.

Would be great to have this option atleast when self-hosting.

[2018-02-21 05:54] arifpedia commented on #113
**Right click** on a link and select **Save link as**. You also can using wget, curl, aria2 and other download manager.
Demo: https://transfer.sh/CHpeY/qterminal_id.po

[2018-02-21 12:21] cgebe commented on #113
Thank you for you advice. Guess i was just to focused on not getting a ddl via browser. However via cli tools it works like a charm.

[2018-02-21 12:21] #113 closed

[2018-02-27 21:21] Taxel commented on #112
Same here with a 4.04 GB mp4 file

[2018-02-28 22:35] techburgher commented on #92
It would be nicer, for me, if there were a password prompt when accessing the web site itself, and not simply passed via an extra header.

[2018-03-01 21:57] Favna commented on #112
With a 2.47 7z file I got this error "explaining" it. Now i'm on a quest to find some official statement from dutchcoders. Transfer.sh has been my favorite host to share files for so long this just feels so dumb:

[code]

[2018-03-01 22:00] Favna commented on #112
Well I found an official statement... Apparently Transfer.sh has been enitrely taken down.

https://twitter.com/dutchcoders/status/913835197237465089

[2018-03-01 22:17] techburgher commented on #92
Here's a BasicAuth "hack", if anyone is interested:

`func LoveHandler(h http.Handler) http.HandlerFunc {
        return func(w http.ResponseWriter, r *http.Request) {
                w.Header().Set("Server", "Panasas HTTP Server 1.0")

                w.Header().Set("WWW-Authenticate", `Basic realm="Restricted"`)

                username, password, authOK := r.BasicAuth()
                if auth

[2018-03-02 06:02] Prajjwal commented on #92
@techburgher I've already implemented authentication with auth headers in #105. Hasn't been merged in yet, though. You might want to take a look at it.

[2018-03-02 19:39] techburgher commented on #112
It seems like the ContentLength is capping out at 4294967295 bytes, preventing a file larger than this from properly uploading.

I see the following logged by the server:

2018/03/02 14:29:25 Uploading cA3TH 10g.bin 4294967295 application/octet-stream

The transfer craps out after uploading 4294967295 bytes of my 10 GB file. How would one go about correcting this?

[2018-03-02 19:49] Favna commented on #112
@techburgher as stated in the tweet I linked in my comment above, you cannot upload to transfer.sh at all anymore. Not at 1 gigabyte, not at 5, not at 10, nothing. The service is presumably down.

filetransfer.io is a good alternative

[2018-03-02 19:50] techburgher commented on #112
@Favna I'm running a local copy of the server and am running into this issue.

[2018-03-02 19:55] Favna commented on #112
Oh.. well ok. Maybe add such details right away the next time. I would recommend reading [this article on writing proper github issues](https://wiredcraft.com/blog/how-we-write-our-github-issues/) or this [etiquette article](http://www.defmacro.org/2013/04/03/issue-etiquette.html)

[2018-05-09 12:26] edhardie commented on #110
Hi @goxofy, having just been in the same boat as you I thought I'd pitch in with an answer in case anyone else comes across this.

Repo for the front end source is here - https://github.com/dutchcoders/transfer.sh-web

Any changes you make will need to be complied down into a bindata_gen.go file, if you're just editing the index.html file all you'll need to do is make sure go is installed and run

[2018-05-30 17:06] gingerbeardman opened #116 "Alternative solution now that transfer.sh is dead IN HERE"
Check out these alternatives...

**All**
- simple bash script install rather than alias
- link copied to clipboard on successful upload (macOS only)

---

**file.io**
https://gist.github.com/gingerbeardman/a7737e4c89fccab8605f8538ddaeec0d
- uses https://file.io
- expires after one single download
- default but configurable expiry duration

---

**0x0.st**
https://gist.github.com/gingerbeardman/539

[2018-06-17 04:44] hanxiao opened #120 "A Million Thanks! This is really awesome!"
My iterm2 with zmodem has strange memory leak, it doesn't work from time to time. A big headache!

`transfer.sh` works like charm. Really awesome work! Thanks again!

[2018-06-19 13:27] nl5887 commented on #120
Thanks!

[2018-06-19 13:27] #120 closed

[2018-06-19 13:28] #116 closed

[2018-06-19 16:14] #110 closed

[2018-06-19 16:14] #107 closed

[2018-06-19 16:17] aspacca commented on #101
@GuillaumeBlin , currently `--listener` seems to be mandatory: you can add an optional tls listener but that won't replace the plain http listener. I will look in a solution in the next days

[2018-06-20 19:00] dmd opened #121 "example on home page has extraneous echo"
![image](https://user-images.githubusercontent.com/41439/41678976-abadaa3a-749a-11e8-98bc-edaf0da0cf31.png)

`Usage:\necho transfer ` should just be `Usage:\ntransfer `

[2018-06-20 23:07] Yasujizr opened #122 "New Icon for Transfer.sh"
Hi,

I'm designing for open source projects, expanding my portfolio. I want designing an icon for your project. There are a few ideas in my mind, I hope you accept and I do them. If you have an idea, please let me know. In this way we create a icon.

Best Regards.

[2018-06-21 05:59] kyodev opened #123 "ssl certificate expired"
sorry if it's not the good place for that, but your ssl certificate [has expired](https://sslanalyzer.comodoca.com/?url=https%3A%2F%2Ftransfer.sh%2F):
Wed, 20 Jun 2018 23:59:59 GM

[2018-06-21 08:32] nl5887 commented on #122
Hi, that's great! Looking forward to your ideas.

[2018-06-21 10:06] #123 closed

[2018-06-21 18:20] Anachron commented on #44
Bump. Still looking forward to this feature.

[2018-06-21 20:35] monkz commented on #44
I've to extend/amend my former comments:
The deletion shouldn't be executed on a GET request - as it might result in deletion by crawlers (there were some image hosters that got mass deletions via this way)
The GET method request on the "deletion url" should present a page with a button/form that sends a PUT or DELETE method request to that same "deletion url". The second request would finally exe

[2018-06-22 08:31] pepa65 commented on #44
I think it is best to just always require a password in the url that crawlers could "never" guess right.

[2018-06-22 09:13] Anachron commented on #44
Ping @aspacca I've heard that you are the new owner of this repo.

[2018-06-23 00:45] edumorales97 opened #124 "New Line after link"
Currently, the link is displayed as follows. There should be a new line after the link.
 https://transfer.sh/xxxx/modeltester.pyeduardo@server:~/Desktop$

[2018-06-23 08:34] aspacca commented on #44
@Anachron I'm indeed now an admin of the repo.
I want to understand what's the needing behind the option to delete a file: I can see two:
- purge storage space
- amend an upload

the different solutions proposed in the thread are some flows for both of them, but I want to understand clearly what the users need to find the proper solution

[2018-06-23 08:43] Anachron commented on #44
I mostly use transfer.sh to upload logs/config files to share them temporarly. (like for debugging or help a user out)

Now I was thinking about generating a little script that automatically cleans my uploads on the next day since I don't like my stuff to rot on some public server. (Sometimes I upload password-protected files that include sensible data)

So for me it's also a bit about a security

[2018-06-23 09:14] aspacca commented on #95
@sergeevabc , I tried to upload locally a filename with cyrillic chars and I had no issue:
`$ curl --upload-file ./ВДНХ.txt http://127.0.0.1:8080/ВДНХ.txt
http://127.0.0.1:8080/d94Eb/%D0%92%D0%94%D0%9D%D0%A5.txt`

the only outcome is that the filename is urlencoded, that I think is the proper way to go. according to the client you're using to download the file it may or not support unicode in the

[2018-06-23 09:14] #95 closed

[2018-06-23 09:49] aspacca commented on #109
@vitorgalvao addressed in #125

[2018-06-23 10:55] sergeevabc commented on #95
@aspacca, ```curl``` is for geeks, the rest use and complain about web interface, i.e. www.transfer.sh.
So there is STILL no way to upload image with Cyrillic chars.

[2018-06-23 11:05] aspacca commented on #95
@sergeevabc either you provide some context to your issue or nothing can be done.
also I can address only issues in the codebase, not on the hosting part of transfer.sh
anyway, when I tested with curl I tested both locally and on transfer.sh and there's no problem upload file with cyrillic chars in the name to transfer.sh (https://transfer.sh/AAP2C/%D0%92%D0%94%D0%9D%D0%A5.txt)

[2018-06-23 11:05] aspacca commented on #95
you can also use the url with filename not urlencoded: https://transfer.sh/AAP2C/ВДНХ.txt

[2018-06-23 11:12] aspacca commented on #112
@techburgher cannot reproduce locally both with local and gdrive storage (I don't have an s3 account to test on). Anyway the content-lenght you see in the output of the server is calculated before sending to the storage and it comes from the `Content-Length` header sent from the client (unless the client sends `-1`, in this case the value is calculated according to the size of the data copied to a

[2018-06-23 11:28] pepa65 commented on #44
Using the Max-Days header is a good idea. But sometimes if you change your mind, it is good to have the option to delete a file (in a way that others can't delete your file).

[2018-06-23 11:34] aspacca commented on #44
@pepa65 the problem is that I don't find any proper solution to provide the ability for the uploader to delete the file in a way that others cannot without having either the uploader to forecast he will want to delete the file (adding upfront some delete token to match) or breaking the current output (providing two links: one for the download, one for the delete)

the solution may come with #105 :

[2018-06-23 11:38] pepa65 commented on #44
I think having the uploader specify a secret at upload-time is best. Uploaders that think they might want to delete a file at some point need to do that. If it was an option, I would always provide a secret in the upload-URL.

[2018-06-23 13:20] nl5887 commented on #44
I have thought before about this issue, and thought about returning an extra X-Url-Delete header, which would not interfere with current api / scripts and could be used in case people want to.

[2018-06-23 14:54] pepa65 commented on #44
Anything that is workable and doesn't interfere with current functioning is great!

[2018-06-23 17:14] aspacca commented on #44
@nl5887 I will implement delete with `X-Url-Delete` header, anyway I'd need #125 to be merged before

[2018-06-24 17:33] #103 closed

[2018-06-24 17:34] #88 closed

[2018-06-24 17:35] aspacca commented on #86
@danielleontiev how can we add a QR code to the output? either we return some text with a link or an image with the qr code

[2018-06-24 17:37] #83 closed

[2018-06-24 17:38] #81 closed

[2018-06-24 17:38] #80 closed

[2018-06-24 17:39] aspacca commented on #67
@seemsindie is it still a problem?

[2018-06-24 17:40] #63 closed

[2018-06-24 17:40] #54 closed

[2018-06-24 17:41] #53 closed

[2018-06-24 17:42] #43 closed

[2018-06-24 17:42] #40 closed

[2018-06-24 17:42] #38 closed

[2018-06-24 17:43] #36 closed

[2018-06-24 17:43] #33 closed

[2018-06-24 17:45] aspacca commented on #32
@ShadowKyogre you can actually do something like: `curl -v "https://transfer.sh/(12pWqz/hello.txt,ZgZGV/hello.txt).tar.gz" -o test.tgz`

[2018-06-24 17:45] #32 closed

[2018-06-24 17:48] aspacca commented on #28
@johnko `storage.Seeker` seems to be suitable only for local storage

[2018-06-24 17:48] #28 closed

[2018-06-24 17:49] #25 closed

[2018-06-24 17:52] singpolyma commented on #36
?

[2018-06-24 17:53] #14 closed

[2018-06-24 17:56] aspacca commented on #36
@singpolyma I closed the issue since it was a two years old request. I'm doing some cleaning, you can open a new one if still a feature you want to be supported, but I see it very difficult to be implemented

[2018-06-25 06:43] aspacca commented on #121
@qoomon you can open a PR on https://github.com/dutchcoders/transfer.sh-web and I will merge

the files are https://github.com/dutchcoders/transfer.sh-web/blob/master/src/index.txt and https://github.com/dutchcoders/transfer.sh-web/blob/master/src/index.html

I see you already commented on the gist with the version without tmpfile

[2018-06-25 06:43] #92 closed

[2018-06-25 06:47] aspacca commented on #18
@orschiro is this still an issue?

[2018-06-25 07:49] kzaidi commented on #124
You can just add a newline and some text to it to make it better.  For example, I added some text and then a newline to my script.  Here is what I did:

#Transfer.sh
transfer() { if [ $# -eq 0 ]; then echo -e "No arguments specified. Usage:\necho transfer /tmp/test.md\ncat /tmp/test.md | transfer test.md"; return 1; fi
tmpfile=$( mktemp -t transferXXX ); if tty -s; then basefile=$(basename "$1" |

[2018-06-25 07:55] #124 closed

[2018-06-25 08:00] kzaidi commented on #67
This is old, shouldn't this be closed?

[2018-06-25 10:11] qoomon commented on #121
@aspacca okay.

[2018-06-25 11:36] #121 closed

[2018-06-26 05:40] orschiro commented on #18
@aspacca not anymore. Thanks for the reminder! Closing...

[2018-06-26 05:40] #18 closed

[2018-06-26 16:02] #67 closed

[2018-06-26 16:37] #22 closed

[2018-06-26 16:57] #85 closed

[2018-06-26 16:59] #35 closed

[2018-06-26 17:15] aspacca commented on #27
@aksswami , @fredlubrano , @Auroch , still relevant?

[2018-06-26 17:17] aspacca commented on #44
@pepa65 , @Anachron , the PR is ready, just needing to find a smart way to dump the `X-Url-Delete` header with curl

[2018-06-26 17:38] iftahbe opened #131 "mistake with request max memory"
Should be 1<<10
https://github.com/dutchcoders/transfer.sh/blob/master/server/server.go#L62

[2018-06-26 20:18] Yasujizr commented on #122
![untitled-3](https://user-images.githubusercontent.com/36993664/41936824-23029810-7997-11e8-95ea-276502fad670.jpg)

I designed two examples based on the <> signs.

[2018-06-27 04:55] aspacca commented on #131
@iftahbe , feel free to open a pull request

[2018-06-27 19:40] #131 closed

[2018-06-27 19:40] Yasujizr commented on #122
![sunumtransfer](https://user-images.githubusercontent.com/36993664/41995616-1f92fc1e-7a5b-11e8-9b20-79fe2e04c63a.jpg)

[2018-06-27 19:53] ManuCart commented on #122
I vote for the first.
Love your work

[2018-06-28 22:30] Yasujizr commented on #122
@ManuCart Thank you, if you need a logo you can contact me.

[2018-06-29 22:33] danielleontiev commented on #86
@aspacca I mean QR code when upload using web interface. Directly on site transfer.sh

[2018-07-01 06:06] #26 closed

[2018-07-01 06:09] #87 closed

[2018-07-01 12:17] #44 closed

[2018-07-01 12:48] #66 closed

[2018-07-01 12:48] #86 closed

[2018-07-01 15:08] aspacca commented on #34
@fladd it's not supposed to work

[2018-07-01 15:08] #34 closed

[2018-07-01 21:42] melongbob opened #134 "Make edits in README.md"

[2018-07-02 15:44] #134 closed

[2018-07-02 16:35] #27 closed

[2018-07-07 09:15] #57 closed

[2018-07-07 10:07] #5 closed

[2018-07-07 10:07] #3 closed

[2018-07-07 10:07] #2 closed

[2018-07-07 10:10] #1 closed

[2018-07-07 10:11] #91 closed

[2018-07-07 16:32] wicadmin commented on #68
I'm going to close for now.

[2018-07-07 16:32] #68 closed

[2018-07-07 17:06] #112 closed

[2018-07-07 17:08] aspacca commented on #111
@libjs you can open a pull request to add it to `README.md`

[2018-07-07 17:19] #101 closed

[2018-07-08 19:26] gufertum opened #139 "Add domain name as parameter..."
I run the docker behind a proxy and the returned path still contains the localhost with the local port.
It would be nice to have a parameter to overrule this when starting the docker container...

[2018-07-08 22:13] gufertum commented on #139
I just created a pull request with the changes...
https://github.com/dutchcoders/transfer.sh/pull/140

[2018-07-08 22:59] aspacca commented on #139
@gufertum I don't think that adding one or more parameters is the right solution

we should address the problem in server/handlers.go:467 using http header sent by the proxy.
I cannot test the current behaviour at the moment but will do in the next few days

[2018-07-09 09:59] Raboo opened #142 "basic auth + drag 'n drop fails with ff"
When enabling http basic auth, drag and drop uploading fails with Firefox, it doesn't ask for auth.
Seems to work with Chrome.

[2018-07-09 10:14] Raboo commented on #142
Sorry, must have been browser cache. It does work on Firefox.

[2018-07-09 10:14] #142 closed

[2018-07-09 19:48] #122 closed

[2018-07-09 22:21] gufertum commented on #139
Closed: setting up apache properly, fixed the issue (ProxyPreserveHost On)

[2018-07-09 22:21] #139 closed

[2018-07-14 01:55] Fatulatti opened #144 "ShareX"
Hey there,
Currently trying to setup ShareX with clone'd Transfer.sh.
Currently, my config looks like this:
![grafik](https://user-images.githubusercontent.com/34114942/42719640-a0675a0e-8719-11e8-93c6-60df216ed226.png)

But the server prints following error:
2018/07/14 01:54:36 Uploading BY1lI . 60641 multipart/form-data; boundary=--------------------8d5e93d84df3fd6
open /tmp/BY1lI: is a director

[2018-07-17 11:41] aspacca commented on #144
@Fatulatti I don't know ShareX, but the problem seems that transfer.sh is trying somehow to upload a directory to the tmp folder instead of the file. How do you send the file to transfer.sh?

[2018-07-21 08:00] drnextgis opened #145 "Cannot upload file"
It worked fine couple of hours ago:

[code]

[2018-07-21 08:04] aspacca commented on #145
@drnextgis seems that http://transfer.sh is down. I cannot do anything about that since the service is still managed by @nl5887 , I only take care of the codebase

[2018-07-21 11:47] drnextgis commented on #145
It works again.

[2018-07-21 11:47] #145 closed

[2018-07-22 07:07] altaha4water commented on #144
شكراً على حسن تعاونكم معن

[2018-07-22 07:08] altaha4water commented on #144
www.atyaf-water.com

[2018-08-12 06:29] aninaJ12 opened #146 "Jb"

[2018-08-12 06:30] #146 closed

[2018-08-12 11:29] limitedeternity opened #147 "HEAD requests to file result in 405"
Because `/server/server.go` has no defined handlers for this method. Only GET method allowed:

[code]

Otherwise, I see no way to check if file actually exists without GETting it.

[2018-08-12 11:39] limitedeternity opened #148 "No documentation for creating direct download links for files"
But still in `/server/server.go` following lines exist:

[code]

Which send file without showing a preview page.

[2018-08-13 06:56] #147 closed

[2018-08-13 07:05] #148 closed

[2018-08-13 20:14] #111 closed

[2018-08-13 20:14] #41 closed

[2018-08-14 16:56] limitedeternity opened #151 ""Inline" links return 404"
GET request to [inline link](https://transfer.sh/inline/4kqT8/hello.txt) results in 404 response.

[2018-08-14 17:02] aspacca commented on #151
transfer.sh is the hosting part of the project, it's managed by @nl5887 and I don't have his news since a month or more. I'm quite sure I didn't update yet the instance to the latest changes.

I'm sorry @limitedeternity if you contributed to the project hoping to have the features deployed on transfer.sh

[2018-08-14 17:42] limitedeternity commented on #151
Yep, I thought so.

No need to excuse. I contributed to this project just because I wanted to.

Anyway, I think this issue should be open till the image with changes is deployed. If you don't mind, ofc.

[2018-08-27 18:33] cyberboysumanjay opened #152 "Autocomplete filename"
I have a file who extension can vary every time. But I know the starting name.
For example, I have a file known as testvideo.mkv but it can be testvideo.mp4 also in the second run. I want the script to upload the file starting from testvideo.
I'm calling this command from terminal
`curl --upload-file ./testvideo* https://transfer.sh`
But when I call this from subprocess so that I can use this in a

[2018-08-27 18:50] aspacca commented on #152
it's a problem with curl: see `man curl`
[code]

[2018-08-27 18:51] aspacca commented on #152
since you're in a python script you can glob from it and build an http put request directly in code

[2018-08-27 18:51] #152 closed

[2018-08-31 14:07] gncabrera opened #153 "404 on assets in subpath"
Hi,
we've been using transfer.sh through the Dockerfile for a long time behind an Nginx reverse proxy (transfer.mydomain.com). But because of some architecture changes we have to migrate to a subpath of the domain (mydomain.com/transfer).
The problem is that when loading the webpage, all assets are throwing a **404 Not found**. This is because the webpage is trying to load the assets with the root

[2018-08-31 20:17] #144 closed

[2018-09-02 12:29] N6UDP commented on #144
@Fatulatti this should be resolved by #155 -- ShareX is attempting a POST w/multipart form data.

[2018-09-04 12:09] gncabrera commented on #153
Oh, thank you. You're right, I will be tweaking the nginx for a rewrite

[2018-09-04 12:09] #153 closed

[2018-09-21 03:07] cnrat opened #158 "transfer.sh is offline?"
Looks like the site is down. Can not access to it.

; <<>> DiG 9.9.4-RedHat-9.9.4-61.el7_5.1 <<>> +trace transfer.sh
;; global options: +cmd
.                       3900    IN      NS      k.root-servers.net.
.                       3900    IN      NS      l.root-servers.net.
.                       3900    IN      NS      m.root-servers.net.
.                       3900    IN      NS      a.root-

[2018-09-21 09:19] ohhayley commented on #158
Same problem
curl: (7) Failed to connect to transfer.sh port 443: Connection timed out

[2018-09-21 10:38] hanwckf commented on #158
curl: (7) Failed to connect to transfer.sh port 443: Connection timed out

[2018-09-21 10:39] Neko250 commented on #158
bump ! same here

[2018-09-21 14:31] cnrat commented on #158
It's now back online. Close this issue.

[2018-09-21 14:31] #158 closed

[2018-09-25 11:41] 0xE02B7 opened #160 "how to install?"
Hello,
I am new to Go and therefore don't exactly know how to build this tool.

go version
go version go1.10.1 linux/amd64

/var/www/_tests/transfer.sh# ls
cmd  extras  lock.json  main.go  manifest.json  README.md  server  Vagrantfile  vendor

echo $GOROOT
/usr/lib/go-1.10/

echo $GOPATH
/var/www/_tests/transfer.sh/

go run main.go -provider=local --listener :8080 --temp-path=/tmp/ --basedir=/tmp/

[2018-09-28 05:57] aspacca commented on #160
hi @0xE02B7 , GOPATH must point to a directory with inside a path like `src/github.com/dutchcoders/transfer.sh`

so you should decide what's your GOPATH, create a `src` directory inside and then clone this repository in `github.com/dutchcoders/transfer.sh`

let me know if you solved

[2018-09-30 08:05] #160 closed

[2018-10-01 21:12] xlJohnnyIcelx opened #161 "Files larger than 1GB fail to upload"
Whenever I try to upload any file larger than 1GB it fails to upload. This is the case whether I use the web uploader or use ShareX

[2018-10-03 16:53] aspacca commented on #161
@xlJohnnyIcelx are you referring to https://transfre.sh?

[2018-10-03 19:13] xlJohnnyIcelx commented on #161
Yes I am referring to https://transfer.sh

[2018-10-04 05:11] aspacca commented on #161
then I cannot give you any support, sorry: I'm only the maintainer of the codebase that run on that website but the website is managed by @nl5887

[2018-10-04 05:11] #161 closed

[2018-10-10 15:33] akshaynexus commented on #158
again its down

[2018-10-10 22:12] psydvl opened #163 "transfer.sh is offline"
[Down For Everyone Or Just Me](http://isup.me/transfer.sh) show down result.
#158 again

[2018-10-17 20:39] StiviiK opened #164 "File preview not showing when self-hosted with docker"
## When you self-host transfer.sh with docker the file previews don't show
### On transfer.sh
![image](https://i.imgur.com/xz1AVpn.png)

### Self hosted
![image](https://user-images.githubusercontent.com/8115642/47114800-1c191f00-d25d-11e8-93eb-798a39e1abc0.png)

### HTML Code
![image](https://i.imgur.com/iogM4gW.png)

[2018-10-19 20:28] #163 closed

[2018-10-22 19:50] jguidini opened #167 "Log, option --log, how to log in custom file?"
Hi, I installed transfer.sh inside our cloud and was great! But I tried several ways to log outside syslog. In my case rsyslog on a Debian 8 amd64. I want to log directly in a file in a custom path.
I can do a syslog filter, of course, but I want understend why cannot do a custom path with --log option, what Im doing wrong :-).

My command line is:
 /opt/transfer_sh/bin/transfer_sh --temp-path=/tr

[2018-10-25 20:54] telatin opened #168 "Customizable frontend"
I understand that the main website https://transfer.sh will be closing soon, unfortunately.
I tried the Docker container on a VM and it works very well, but it's odd that the homepage is branded "transfer.sh", and gives static examples of commands assuming that domain.

I think the source files for the front end should be provided to update them.

Thanks

[2018-10-25 20:57] mckaygerhard commented on #168
umm the source files are not in the main repository?

[2018-10-25 21:02] mckaygerhard commented on #168
https://github.com/dutchcoders/transfer.sh-web i think!

[2018-10-26 07:55] telatin commented on #168
Thanks! I will try that parameter.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-26 15:54] jguidini opened #169 "Gdrive token.json without path"
Hi, I tested provider local, mount a systemd Unit and all worked wonderful. Next step was test on GDrive, we are an educational institution and we have ilimited GDrive. On CLI all works very well, but changing the parameters to use systemd to manage service the things don't go well. After many tests using scritps, monit and systemd I got the problem source, the path of token.json is not configured

[2018-10-26 21:28] aspacca commented on #169
@jguidini just for reference: you can set `RootDirectory` and `WorkingDir` in systemd units to chdir the service to a given directory (https://www.freedesktop.org/software/systemd/man/systemd.exec.html)

[2018-10-26 21:29] #169 closed

[2018-10-26 21:32] aspacca commented on #167
@jguidini you're not doing anything wrong. it seems the --log option is not actually applied, also some log are not directed to logger but directly printed to the stdout. I will address the problem in the next days

[2018-10-26 22:15] #167 closed

[2018-10-27 12:40] vitorgalvao opened #172 "31st of November"
![](https://i.imgur.com/O6bu6co.png)

Nitpick, but November only has 30 days. Even if it had 31, it’d be November 31<sup>st</sup> (thirty-first).

1. Will it close in the last day of November, or the first day of October?
2. Will this repo stay up?
3. Will the code continue to be maintained?
4. Is there anyone that has already stepped up to continue running the service?

Thank you for keeping a gr

[2018-10-27 14:04] nl5887 commented on #172
Thanks, fixed the date, 30th of November.

1. it will close the last day of November
2. the repo will stay up, as the docker containers
3. @aspacca is doing a great job maintaining this repo and code
4. I'm considering a few options, so with a bit of luck we could preserve transfer.sh for the future.

[2018-10-27 15:12] mckaygerhard commented on #172
thanks for all the efforts, i really like this app..

[2018-10-31 21:10] rubenmdh opened #174 "Upload requests splitting"
Hello,

I strumbled across the transfer.sh and I instantly fell in love with it because of the functionalities it offers. I've visited again the website and I see that it's closing, but as it is open source I can make my own instance.

The problem is that I am using CloudFlare and this service has a maximum upload size per single request, being itself 100MiB and obviously, I can't upload anything

[2018-11-03 18:17] aspacca commented on #174
@rubenmdh the last option is not feasible for transfer.sh, I'm sorry. Chucked uploads of the same file through several requests is not covered by any HTTP standard. Any solution would be a specific and arbitrary implementation that will not fit pain and properly with a cli http client, that's the main goal of transfer.sh, so I don't plan any support for it.

You may solve the issue splitting a fil

[2018-11-03 18:17] #174 closed

[2018-11-04 07:34] aspacca commented on #151
@limitedeternity the site is going to be closed at the end of the month, since this issue was related to the site I'm closing it

[2018-11-04 07:34] #151 closed

[2018-11-04 07:36] aspacca commented on #94
cannot reproduce

[2018-11-04 07:36] #94 closed

[2018-11-09 20:17] Octolus commented on #116
Cheers.

[2018-11-14 22:47] bandicootdancing commented on #168
Options with some instructions would be appreciated. I don't see any normal instructions on setting this up without docker. I'm very new to docker so I'm almost lost at the moment with combining the two containers. Can someone write up some instructions on how to customize the transfer.sh-web along with this transfer.sh container? Do they both need to be used together?

I've seen other projects ha

[2018-11-16 08:09] aspacca commented on #168
@bandicootdancing transfer.sh-web is a go dependency of transfer.sh. In the first repository there should be full  instruction on how to build the frontend with grunt and generate the go bindata depdency. After that you only need to copy the transfer.sh-web directory in the proper vendor position of transfer.sh, if you didn't already worked from there.

If you want to user the `--web-path` on a tr

[2018-11-16 08:12] aspacca commented on #168
@bandicootdancing I see there are already instructions on transfer.sh-web readme how to setup what I've just explained:
[code]

obviously `/folder` and `/folder/dist` are just example: you can put whatever path you need for your setup and they don't even need to be nested like in the example

[2018-11-18 17:45] #168 closed

[2018-11-24 13:04] TrueLecter opened #176 "r.Context is undefined while trying to build project"
![image](https://user-images.githubusercontent.com/5520406/48968551-c07b4780-eff9-11e8-85e4-8e2cb14736ff.png)

[2018-11-26 20:52] marcelstoer opened #177 "Document supported headers on transfer.sh"
One example on https://transfer.sh/ uses `-H "Max-Downloads: 1" -H "Max-Days: 5"`. I can guess what those headers do but it would be nice if they were properly documented somewhere. Suggestion: README.md.

[2018-11-26 22:21] marcelstoer opened #178 "Q: how to see TTL of a file?"
Only slightly related to #177.

After I uploaded a file using `curl -H "Max-Days:2" ...` is there a way to see/learn how much more time until the file is destroyed? I would have expected to see that at `https://transfer.sh/UjsCv/my_file.txt`.

[2018-11-28 22:47] probonopd opened #179 "Download is slow and intermittent"
Dear transfer.sh team, it's great to see that this very useful (and no doubt costly) hosted service is still/again alive. Not trying to complain or anything, just wanting to inform that the download speed is currently really, really slow and intermittent, very different from the service a couple of months ago.

[code]

Thanks for keeping up this service!

[2018-11-30 12:29] notramo opened #180 "Accounts"
I have read #22.
What about allowing creating accounts, and if a file is uploaded in an account, then permit raw access?
If GitHub account should be used for transfer.sh account creation, unethical use of the service could be lowered.

[2018-12-01 08:47] aspacca commented on #4
thanks @bugbounce
I think the only parts that are unit testable are the server.go for the func options, handlers.go with a mock fulfilling the storage interface, some functions of utils.go and codec.go

I'd say the easiest is to start from server.go with the func options

[2018-12-03 13:42] super3 commented on #179
@probonopd Sorry about that. The service got really popular, and we are in the process of moving the service to a faster host.

[2018-12-03 19:33] super3 commented on #179
@probonopd We just finished a few minutes ago. Try re-uploading (will go to the new and faster host).

[2018-12-05 12:07] mckaygerhard commented on #180
well i think account will complicated more that simple ways of the thinks!

also account will convert this into a kind of owncloud/netxcloud!

[2018-12-05 16:43] notramo commented on #180
It would only attach an username to transfers for tracking.

[2018-12-05 20:57] mckaygerhard commented on #180
umm i understand what do you want! like we-transfer does! but that will complicated the things in any case.. i means will be not ease!

[2018-12-05 21:17] notramo commented on #180
Yes, it would be similar to We-Transfer, but it would use a permanent account.

[2018-12-05 21:19] mckaygerhard commented on #180
@notramo you can review the pull https://github.com/dutchcoders/transfer.sh/pull/105/files and see or adapt for your needs! personally this will convert into a nextcloud/owncloud system but i also understand your point of view!

[2018-12-05 21:21] mckaygerhard commented on #180
@notramo you can review the pull https://github.com/dutchcoders/transfer.sh/pull/105/files and see or adapt for your needs! personally this will convert into a nextcloud/owncloud system but i also understand your point of view!

also that was limited implemented into https://github.com/dutchcoders/transfer.sh/pull/127

[2018-12-06 07:10] aspacca commented on #180
@notramo what's the problem you have exactly?

@mckaygerhard #105 was closed by the author and implemented properly in #127

[2018-12-06 07:17] notramo commented on #180
Authenticated uploads should have a raw content URI, which don't use the web wrapper.

[2018-12-06 08:44] zafai opened #181 "Due to abuse we've limited max upload size. Thank the pirates!"
I just tried to upload a file and got this error message:
`Due to abuse we've limited max upload size. Thank the pirates!`
What is the current max upload size?

[2018-12-07 07:20] aspacca commented on #180
@notramo what issue are you facing? what are you trying to do that you cannot?

[2018-12-07 07:21] aspacca commented on #181
not related to source code of the project

[2018-12-07 07:21] #181 closed

[2018-12-07 07:22] #179 closed

[2018-12-07 10:36] notramo commented on #180
#22

[2018-12-07 11:57] mckaygerhard commented on #180
swo i understand, raw links can be offered but with authentication, so abused could be avoid! right?

[2018-12-07 12:14] mckaygerhard commented on #181
umm maybe the right question its "what do you use to have that message?"  @aspacca and we then need to have a template of issues

[2018-12-07 17:17] notramo commented on #180
@mckaygerhard Yes. Authenticated uploads should have raw links.

[2018-12-07 20:09] aspacca commented on #180
@notramo , I repeat the question for the last time: what issue are you facing? what are you trying to do that doesn't work?
#22 is not an issue on itself

[2018-12-07 21:09] notramo commented on #180
I want to have raw links. Authentication can be a solution against abuse.

[2018-12-07 23:46] mckaygerhard commented on #180
yeah, it's a great idea that solved the raw links problem, as i said in previous comment!

[2018-12-08 06:38] aspacca commented on #180
@notramo you have "raw link" available with curl

[2018-12-08 06:38] #180 closed

[2018-12-08 13:08] mckaygerhard commented on #180
umm so the software detect the agent and property offerts the raw link?

and i think you dont understand that @notramo said! @aspacca : i think its that raw links can also be available for browsers agents too! but autenticated to avoir abuse

well i think!

[2018-12-09 21:03] notramo commented on #180
How can phone users use curl?

[2018-12-09 21:25] marcelstoer opened #182 "Alternative URL to transfer.sh"
Some MX hosters reject the transfer of emails that contain transfer.sh URLs

554 5.7.1  Your message contains a domain on our domain block list

Is there an alias/secondary domain we could use or do I need to build a redirect from my own domain?

[2018-12-10 13:37] mckaygerhard opened #183 "ambigous project, clarifications and questions: transfer.sh service/backend ?"
PRELIMINARY: the project transhfer.sh seems are a service and also a binary program client, that can made both task, serve for uploading files and also to download files from..  and seems transfer.sh-web its a separate project that uses that program as a backend, right?

if you clafify for me those i can provide better documentation (stating at the wiki project and later after you can reviewed, i

[2018-12-10 13:51] mckaygerhard commented on #183
please dont close until are in sync with dutchcoders/transfer.sh-web#16

[2018-12-10 17:57] aspacca commented on #183
@mckaygerhard transfer.sh and transfer.sh-web are actually in sync. the second is bundled with the first as dependency in vendor package. I'm discussing with @nl5887 about how to improve the dependency between the two projects.
I'm going to close this ticket since it's not adding any value: if you can address specific problem in the documentation we can handle, or you can just open a PR to improve

[2018-12-10 17:57] #183 closed

[2018-12-10 18:31] mckaygerhard commented on #183
**i mean, i want to offically be clear before send a PR to yours** umm by example see the 2 and 4 that point important things:

1. on both projects  the README seems does not clarify what its what, its said "run" and make it feel like the binary compiled its a program client to upload files only to "transfer.sh" url and some others.. and dont point that itselft its also a service for/to storage (w

[2018-12-10 18:32] mckaygerhard commented on #183
hi @aspacca thanks but still only aswered one question: i'll try to be more specific: **i mean, i want to offically be clear before send a PR to yours** umm by example see the 2 and 4 that point important things:

1. on both projects  the README seems does not clarify what its what, its said "run" and make it feel like the binary compiled its a program client to upload files only to "transfer.sh"

[2018-12-14 17:10] aspacca commented on #178
@marcelstoer there's no info about the remaining days/download hits on the front-end, it would be indeed nice to add this feature and I will do that as soon as I have time.
Said that, the hosting service transfer.sh is not in sync with the source code so it can be that the feature won't be available there. I'm the maintainer of the source code, but I have no control to the hosting service

[2018-12-14 17:13] aspacca commented on #177
@marcelstoer yes, I planned to add the full documentation of the supported headers in request and response in the README.md but I haven't had time yet. Feel free to open a PR for it

[2018-12-14 17:14] aspacca commented on #182
@marcelstoer I have no control on the hosting service at transfer.sh and I cannot help.
you may want to reach directly https://storj.io/

[2018-12-14 17:14] #182 closed

[2018-12-14 18:39] marcelstoer commented on #177
I would if I knew the answers. However, since I would have to dig into a code base of a language I'm not familiar with this wouldn't be effective at all.

[2018-12-20 08:34] cyberboysumanjay opened #185 "Uploading file in chunks"
I tried uploading a video of 1gb and I ran into a memory error in my heroku app. I did a quick research and found that this is because the transfer.sh service doesn't upload the file in multi-parts as the Google Drive API does so there is a high memory usage and app crashes. Is there any fix or a workaround for fixing this?

[2018-12-21 07:40] aspacca commented on #185
@cyberboysumanjay the app use streaming io functions internally, so there should be no memory high memory allocation. I'm not sure about the part that uses the go drive API sdk and I will check further. if you can provide a stack trace of the crash it would be helpful

[2018-12-21 07:50] aspacca commented on #185
the google sdk already chunk the request: https://godoc.org/google.golang.org/api/googleapi#pkg-constants

we use https://godoc.org/google.golang.org/api/drive/v3#FilesCreateCall.Media

can you reference me where you found the problem is memory usage?

[2018-12-29 01:13] florinme opened #186 "Video controls overlap container on Chrome"
See screenshot. Tried on Mac & Windows.

![image](https://user-images.githubusercontent.com/3247722/50531728-e21d9200-0ac3-11e9-9a2e-f6946d75584a.png)

[2019-01-02 01:37] andrew867 opened #187 "Trouble uploading file on self-hosted"
[code]

`Error (0) during upload of file 000069683835.mp4
`
Using Debian 9 and Docker version 18.09.0. The /home/transfer folder is on a separate partition from the main OS. Seems to work fine when basedir is set to /tmp/

[2019-01-02 01:47] andrew867 commented on #187
I'm a noob to docker, it's now working by using the -v command line option:

`docker run --restart always --publish 8080:8080 -v "/home/transfer:/transfer" dutchcoders/transfer.sh:latest --provider local --basedir=/transfer`

[2019-01-02 02:48] #187 closed

[2019-01-04 10:18] marcelstoer commented on #182
Do you have a specific contact there? I reached out to them by email and Twitter and didn't get a reply to either.

[2019-01-12 15:17] jiqing112 commented on #181
Maybe the homepage needs to be modified

![snipaste_2019-01-12_23-16-08](https://user-images.githubusercontent.com/17674011/51074935-1007f680-16c0-11e9-9760-f47663f1dd27.png)

[2019-01-12 19:41] mrneilypops opened #188 "transfer.sh menu entry open firefox"
Hi,
I am trying to add transfer.sh to a menu entry and open firefox when the upload completes at the correct page.

scrot -d 5 ~/screenshots/screenshot.png && curl --upload-file ~/screenshots/screenshot.png https://transfer.sh/screenshot.png

Any help most welcome.

[2019-01-14 17:01] yeon-mi opened #189 "Extend development for support to Google Cloud Storage Bucket"
Extend transfersh development for support for Google Cloud Storage Bucket

[2019-01-15 12:08] vboxpro commented on #189
that's a something i was looking for. i know there google's gdrive but its not that better for use with such webapp. google bucket also helps have easy identifiable download links even any issue with transfersh host
dont you guys get hand with it?, so far not a hard work Or keep open this issue someone else may notice it to do.

https://cloud.google.com/storage/docs/apis
https://cloud.google.com/s

[2019-01-15 20:55] aspacca commented on #188
@mrneilypops please, give some more context

[2019-01-15 21:30] aspacca commented on #188
for example: you can do this on macos:
`curl --upload-file hello.txt https://transfer.sh/ | xargs open`

[2019-01-16 12:04] mrneilypops commented on #188
Thank you.
This works for me on linux.
scrot -d 5 ~/screenshots/screenshot.png && curl --upload-file ~/screenshots/screenshot.png https://transfer.sh/ | xargs firefox

[2019-01-17 16:49] vsag96 opened #190 "Could not save meta data with curl or when using the web gui"
Hi,

When using curl --upload-file,

What's happening:
Could not save metadata
What Should Happend:
transfer.sh/<unique-hash>/file_name_given_with_curl

It was working fine this morning, I have noticed this right now.

[2019-01-17 21:01] marcelstoer commented on #190
This is unrelated to this software repository. transfer.sh is now run by storj.io. Please send an email to support@storj.io.

In the last 10 days it has been very unreliable for me. I'm uploading close to 400 files every day (distributed over 24h) and I'm seeing frequent hiccups. Very annoying, indeed.

I suggest you close this issue here.

[2019-01-20 15:56] #188 closed

[2019-01-20 15:56] #190 closed

[2019-01-21 15:06] valord577 opened #191 "Could not save metadata"
![image](https://user-images.githubusercontent.com/30427460/51481728-8054fd00-1dcf-11e9-8502-add3250656e4.png)

![image](https://user-images.githubusercontent.com/30427460/51482002-3a4c6900-1dd0-11e9-8c66-c10585ffadce.png)

Location: Hangzhou, China
OS: Darwin v10.13.6

Excuse me! Was the problem caused by the high network delay?

[2019-01-21 15:09] mckaygerhard commented on #191
ummm seeems related to the big firewall of china?

[2019-01-21 15:10] mckaygerhard commented on #191
ummm myabe related to #190 see htere

[2019-01-21 15:11] mckaygerhard commented on #191
in some networks/dns this are happened.. so maybe unrelated to trasnfersh

[2019-01-21 15:19] valord577 commented on #191
@mckaygerhard Emmm, thanks very much.
The big firewall is a very annoying thing.
I will try to modify DNS and other ways.  :-)

[2019-01-23 11:49] #191 closed

[2019-01-23 17:56] Uhevela opened #192 "Transfer.sh is down ?"
I no longer have access to the site, I load in a vacuum

[2019-01-24 15:13] Zxilly commented on #192
work properly here

[2019-01-24 16:12] mckaygerhard commented on #192
for some zones or countries have issues.. try change dns or use proxy to see if work.. at my home work but in my job does fail something

[2019-02-03 00:37] TimvdLippe opened #193 "Text message is not accessible"
I am not colorblind, but I have a really hard time reading the text message on the website:
![image](https://user-images.githubusercontent.com/5948271/52170922-4844a700-274b-11e9-9a19-a61ff4856b6a.png)

The text is really blurry with the `transform: translate(-50%, -50%)`, because the width and height are not similar.

[2019-02-14 16:17] devpets commented on #63
How to build?
Downloaded master.zip,
running:
transfer@archive:~/transfer.sh/cmd$ cd ..
transfer@archive:~/transfer.sh$ ls
cmd  Dockerfile  extras  LICENSE  lock.json  main.go  manifest.json  README.md  server  Vagrantfile  vendor
transfer@archive:~/transfer.sh$ pwd
/home/transfer/transfer.sh
transfer@archive:~/transfer.sh$ go build -o transfersh main.go
main.go:3:8: cannot find package "github.co

[2019-02-14 17:23] aspacca commented on #63
@devpets you need to set `$GOPATH` and have the code in `$GOPATH/src/github.com/dutchcoders/transfer.sh`
see: https://github.com/golang/go/wiki/SettingGOPATH

[2019-02-18 17:41] mckaygerhard commented on #63
well quite trange but since go 1.12 gopath are deprecated ? or goroot?

[2019-02-18 18:31] #193 closed

[2019-02-18 18:31] #192 closed

[2019-02-18 18:31] aspacca commented on #63
@mckaygerhard none of them, they may be in the future

[2019-02-20 09:52] mckaygerhard commented on #63
umm that are interesting, but after read this https://dave.cheney.net/2013/06/14/you-dont-need-to-set-goroot-really i think setting gorrot or gopath are a windo-like trick only! and i really this its a valid issue! that will defect and dificult the OS like proper distribution

[2019-02-20 10:00] mckaygerhard commented on #63
umm that are interesting, but after read this https://dave.cheney.net/2013/06/14/you-dont-need-to-set-goroot-really i think setting gorrot or gopath are a windo-like trick only! and i really this its a valid issue! that will defect and dificult the OS like proper distribution

as the documentation said, now goroot declaration are optional due automatically set to package root, that means: https://

[2019-02-20 10:10] mckaygerhard commented on #63
umm that are interesting, but after read this https://dave.cheney.net/2013/06/14/you-dont-need-to-set-goroot-really i think setting gorrot or gopath are a windo-like trick only! and i really this its a invalid issue! but in any case will defect and dificult the OS like proper distribution...

as the documentation said, GOÄTH are mandatory and only now goroot declaration are optional due automatica

[2019-02-25 18:57] NyakudyaA opened #194 "docker-compose fails to startup the service"
# Problem

I have been trying to run the service using docker-compose but I get errors

[code]
The following is the error

[code]
What is the difference between running it using docker-compose and running it as a one liner on the terminal.

[2019-02-26 05:49] #194 closed

[2019-02-27 03:37] BhuviTheDataGuy opened #195 "Transfer.sh support Google Cloud Storage?"
Its supports Gdriver, like will it support Google Cloud Storage(GCS)?

[2019-02-28 08:44] renat2985 commented on #192
For Latvia is Down.

[2019-03-02 14:48] dsanson opened #196 "Yellow “don’t panic” box blocks download button"
On my phone, the yellow “don’t panic” box blocks the download button, and it is impossible to scroll past it.

[2019-03-04 04:35] dessant opened #197 "transfer.sh is down"
The service does not appear to be loading from any region.

[2019-03-04 08:28] dessant commented on #197
It has started working again.

[2019-03-04 08:28] #197 closed

[2019-03-10 10:40] tcuje opened #198 "transfer.sh is down"
again. At least from Germany.

https://downforeveryoneorjustme.com/transfer.sh works

[2019-03-10 10:45] tcuje commented on #198
ping transfer.sh returns
`64 bytes from srv01.production.stefan-benten.de (144.76.136.153): icmp_seq=1 ttl=54 time=15.6 ms`
which seems ok

also appears offline for github.com, can't upload any files from travis.ci

[2019-03-11 19:44] vitorgalvao commented on #198
Seems like it’s taking longer than usual to fix. Since Storj Labs stepped in, transfer.sh is (way) less reliable, and I don’t understand why. From [their website](https://storj.io/), this seems like the kind of stuff they should excel at, which means they are hurting their brand by not keeping transfer.sh in shape.

Is there any document that explains why the service has become worse? What are the

[2019-03-11 20:05] vitorgalvao commented on #198
I asked them on Twitter and [got a reply](https://twitter.com/stefan_benten/status/1105196764313862144):

[2019-03-15 07:36] ilyamordasov commented on #198
still transfer.sh is down ;(

[2019-03-15 08:49] ocavue commented on #198
we can choice firefox send instead of transfer.sh

Website: https://send.firefox.com
Unofficial CLI tool: https://github.com/ehuggett/send-cli

[2019-03-15 12:22] vitorgalvao commented on #198
Not still, but again. It was working great a few days ago.

Doesn’t compare. There are tons of services that can upload files from the command line, I’ve even [made a script that supports several of them](https://github.com/vitorgalvao/tiny-scripts/blob/69d3fc35ddee7e29bf238eb50f5c226622de228b/upload-file#L4). What makes transfer.sh standout is that you can *download* the files from the command li

[2019-03-15 14:52] ilyamordasov commented on #198
@ocavue send.firefox works with websocket as I can see, I'd prefer to use something like curl
@vitorgalvao alternative services are good (seems they looked the same) will try to use one of them until transfer.sh is up (that's a pity I can't extract the full direct path to the uploaded file to use with wget)

[2019-03-15 15:04] vitorgalvao commented on #198
Their API is the same, but since they’re hosted in different places, if one is down it’s just a matter of switching to one of the others.

Yep. That feature alone keeps me tied to transfer.sh.

[2019-03-18 19:26] aspacca commented on #185
@cyberboysumanjay I did some testing in a docker container with 10MB and 50MB of ram and tweaking the chunk size of the google sdk: I was able to reproduce an OOM issue with default chunk size (8MB) when the ram was limited to 10MB. With 50MB and default chunk size no issue, either with 10MB and minimum chunk size (256KB).
I also bumped the google sdk to the latest version, I will add as well a op

[2019-03-18 20:18] #185 closed

[2019-03-20 07:14] aspacca commented on #198
or you can just host the service on your onw

[2019-03-20 07:14] #198 closed

[2019-03-20 07:14] aspacca commented on #196
not related to repository code

[2019-03-20 07:14] #196 closed

[2019-03-20 07:15] aspacca commented on #195
@BhuviTheDataGuy if you provide me a GCS account for testing I can see if I can add support

[2019-03-20 07:44] BhuviTheDataGuy commented on #195
Hey @aspacca

GCP provides up to 5GB GCS for free.
[](https://cloud.google.com/free/)

[2019-03-24 04:24] YJSoft opened #202 "Upload fails on browser if filename contains Unicode character"
Below is browser console error log. I checked CJK charactor only.
[code]

Sample filename for testing `가나다라마바사.txt`

[2019-03-24 11:13] aspacca commented on #202
@YJSoft this is solved in codebase since almost an year. I cannot do anything about the version on https://transfer.sh

[2019-03-24 11:13] #202 closed

[2019-03-28 10:04] lucernae opened #203 "Support for customized subroute?"
Hi! Love this work, @dutchcoders !
Transfer.sh is very easy to deploy and try.

I have some questions on this.
We are planning to use transfer.sh in our web apps as a subroute, in a sense like this:

Let's say I deployed a web app with domain: `domain.org`, and accessible in this url `http://domain.org/`.
I would like to deploy transfer.sh in a subroute (because the web apps is a separate system),

[2019-03-29 13:31] Akito13 opened #204 "Lack of compatibility with reverse proxy"
I set up an nginx vhost to proxy the requests to the local transfer.sh instance. Therefore, I have to designate localhost:port as the listener for requests to transfer.sh. (Btw. the documentation is horribly wrong, one aspect is that you actually have to provide the _full address_ not only the port, when specifying port arguments.)
The problem now is that when I upload a file, it responds with a l

[2019-03-30 12:07] aspacca commented on #204
hello @Akito13 , you're right
please test #206 branch and tell me if it fixes the problem
I tested only on UI side and it works

[2019-03-30 12:08] aspacca commented on #204
please, not that a new param `--proxy-path` is needed to instruct transfer.sh to build the proper redirect url

[2019-03-30 12:09] aspacca commented on #203
hello @lucernae you're right
please test #206 branch and tell me if it fixes the problem
I tested only on UI side and it works

please, not that a new param --proxy-path is needed to instruct transfer.sh to build the proper redirect url

[2019-03-30 12:12] aspacca commented on #204
sorry @Akito13 , wrong issue

as for the proxy support, there are actually two problem: one is the path and one is the host
the path issue in solved in #206 (please, note that a new param --proxy-path is needed to instruct transfer.sh to build the proper redirect url), I ask you to test that branch

as for the host issue: you have to instruct your proxy to rewrite the host header with the original

[2019-03-30 12:35] Akito13 commented on #204
@aspacca First of all, thank you for your quick response and action.

I checked out to ISSUE-203 but I get
[code]
when providing
[code]
It removes the first dash.

[2019-03-30 12:51] aspacca commented on #204
—proxy-path should be a path, not a domain
so if you are proxing from http://yourdomin.com/apath to transfer.sh bound on localhost:8080 you should pass —proxy-path apath and set your proxy to erite as host header yourdomain.com

I may have misspelled the number of dashes required for the param to be accepted

[2019-03-30 12:53] Akito13 commented on #204
I don't use a path, I use the root directive. I just need my actual domain to be shown in the output after uploading a file and if possible change the UI as well, as this is also flooded with localhosts.

[2019-03-30 13:45] aspacca commented on #204
then you don't need `--proxy-path` param bust just to instruct your proxy to set the host header as the same as the domain of the proxy
as I wrote before on nginx you can achieve this with `proxy_set_header Host $host;`

[2019-03-30 13:53] Akito13 commented on #204
Even if this solves the problem partially, transfer.sh still thinks that it uses the localhost as a destination address, which also implies that when you visit mydomain.com where transfer.sh is hosted, then it shows all the links as localhost on the transfer.sh Web UI.

It'd be excellent, if there was a param like `--proxy-address` which replaces all visible output of transfer.sh links, while keep

[2019-03-30 16:45] aspacca commented on #204
transfer.sh supported proxy host rewriting since before I became maintainer of the project.
I use exactly in a proxy configuration with nginx and the url generated are correct.
All the links in UI are relative, so they doesn't contain the host part
As for the the urls generated by the backend, they come from the request done to the service: if the host header is set to the one of the front proxy t

[2019-03-30 23:59] Akito13 commented on #204
@aspacca Indeed, setting `proxy_set_header Host $host;` within my vhost file helped. The only problems remaining are
1. It prints `http://mydomain.com/qwert/filename.txt` instead of `https://mydomain.com/qwert/filename.txt`.
2. It prints it like
[code]
instead of
[code]
and finally, instead of
[code]

[2019-03-31 00:10] aspacca commented on #204
@Akito13
pass this params to transfer.sh
[code]

As for the missing newline, it is intended behaviour wanted by @nl5887, you can use the following if you need the newline:
`curl -s --upload-file filename.txt https://mydomain.com/filename.txt | xargs echo`

[2019-03-31 07:02] Akito13 commented on #204
Well, so this part breaks it for me, anyway. I decided to create a modified version of the `transfer()` function to fix the `https` and `echo` issue. Now, if I remove only the the `https` issue, there is still the unfixable `echo` issue, as the lack of new line is intentional. So, I have to rely on `transfer()` anyway, which means I might as well solve the `https` issue using the function, as well

[2019-03-31 07:02] #204 closed

[2019-03-31 11:59] lucernae commented on #203
Thanks, for the quick follow up!
I ended up doing some modification (of course it's a hack :p), to make transfer.sh web shows the correct url and all the styles.
I'm not too confident with the code anyway, so I will test your branch code.
It's interesting to see the problem in issue #204  too since it was dealing with https terminated in the proxy.
I will check your branch with the X-Forwarded-Pro

[2019-03-31 13:15] lucernae commented on #203
I did some quick testing on my part:
Let's say, I deployed on `http://domain.org/transfer` using a combination of haproxy docker container and transfer.sh (go binary).

docker-compose.yml:

[code]

haproxy.cfg:
I test using http mode for now. Because there are still some issues.

[code]

The last section of backend with regirep line is basically me trying to remove `/transfer` proxy-path. Because

[2019-03-31 13:16] lucernae commented on #203
Also, @aspacca are you the maintainer of this project now?

[2019-04-01 19:51] aspacca commented on #203
@lucernae I started implementing #206 (and related branch in transfer.sh-web) trying to avoid to pass an explicit param for the proxy path and relying instead on relative paths and request rewriting in the proxy, until I realized I needed it to generate the download url: if it'd still find a way to do without it I'd prefer

I use nginx as proxy, and in my tests with subpath I made the equivalent c

[2019-04-02 11:11] lucernae commented on #203
@aspacca

I was also going for relative URL first because it makes less change, but stumbled upon that download link. But I don't mind with any solutions, less change is better! :). I can accomodate easily with haproxy to modify the target URL.

Thanks for the help. Feel free to ping me again to test the update :).

[2019-04-05 14:52] kade-robertson opened #207 "Fails on uploading favicon.ico"
When uploading a file named `favicon.ico` to transfer.sh through the website, you get a bunch of garbled mess (I believe it's the data for your favicon) instead of a link to the upload.

This is presumably because it makes a PUT request to `https://transfer.sh/favicon.ico` which isn't/shouldn't be allowed. This is on Chrome 73.0.3683.86 on Mac OS 10.14.3:

<img width="734" alt="Broken WebUI" src="

[2019-04-06 23:39] wooden-utensil commented on #51
I'm having the same issue. I'm using [restSharp](http://restsharp.org/). <sup>_Whyyy???_</sup>

[2019-04-06 23:40] wooden-utensil commented on #51
#51 is down aka closed. lol

[2019-04-06 23:42] wooden-utensil commented on #51
You can check [down for everyone or just me](https://downforeveryoneorjustme.com/transfer.sh).

[2019-04-07 07:32] aspacca commented on #207
I will fix limiting `http.FileServer` handler only for GET requests. Anyway it is unlikely to see the fix on http://transfer.sh :)

[2019-04-07 15:05] aspacca commented on #203
@lucernae I should have fixed everything you reported in the branch for the issue
also handling proxy path in tar/gz/zip handlers

[2019-04-07 15:15] mckaygerhard commented on #51
hi @wooden-utensil , @songgao , as explained in comment 51#issuecomment-219301538 it's not down.. just internal process problem..

[2019-04-08 08:41] lucernae commented on #203
Thanks @aspacca I will test that tomorrow.

[2019-04-08 17:30] #207 closed

[2019-04-09 21:51] berwiecom opened #209 "Damn good stuff! Luv it. N/T"

[2019-04-10 06:31] theaayushanand opened #210 "down ?"

[2019-04-10 12:36] ChadTaljaardt commented on #210
Nope, back up.

[2019-04-11 09:15] theaayushanand commented on #210
its been down a lot lately . are you guys suffering with bad traffic ?

[2019-04-14 22:32] kairusds opened #211 "Annoying note popup on mobile"
The note popup on the mobile site is covering up the screen, will this be fixed soon?

![IMG](https://transfer.sh/Ps7p2/Screenshot_20190415-062915.png)

[2019-04-18 15:32] mckaygerhard commented on #211
this its a issue for trasnfer.sh-web repository, not here, please refere th issue and opened at dutchcoders/transfer.sh-web @kairusds

[2019-04-18 21:26] #211 closed

[2019-04-21 20:33] zervankoru commented on #210
I cant open web site

[2019-04-22 20:52] JustAnotherArchivist opened #212 "Automatic deletion?"
The web frontend includes a [hardcoded](https://github.com/dutchcoders/transfer.sh-web/blob/e7d393abbb072dc15fca8581c090fc3e8a936324/src/index.html#L100) message that "files [are] stored for 14 days", implying an automatic deletion 2 weeks after the upload. But is that actually the case? I know that https://transfer.sh/ did (when you were still running it) and still does delete files after a while

[2019-04-24 01:39] JustAnotherArchivist opened #213 "Missing percent-encoding of hashes (#) in returned URL"
When uploading a file whose name contains a hash (`#`), the returned URL also contains that symbol literally. This means that the returned URL will 404 although the upload itself was successful. The hash needs to be percent-encoded as `%23` instead so that clients don't treat the rest of the URL as a fragment.

    https://transfer.sh/150xUz/test#test

should produce

    https://transfer.sh/150xU

[2019-04-24 01:58] JustAnotherArchivist commented on #210
The service at https://transfer.sh/ is no longer operated by the maintainers of this repository. Your best bet might be contacting [Storj via Twitter](https://twitter.com/storjproject); they seem to be quite responsive there.

@aspacca Since people keep asking here, it might be a good idea to add a big fat notice somewhere (e.g. README and issue template), remove the link from the repository descr

[2019-04-24 05:53] aspacca commented on #203
@lucernae any feedback?

[2019-04-24 05:54] aspacca commented on #213
@JustAnotherArchivist it was fixed month ago on codebase. I have no control on version deployed on `https://tranfer.sh`

[2019-04-24 05:54] #213 closed

[2019-04-24 05:55] aspacca commented on #212
@JustAnotherArchivist there's no code related to it. I never managed https://transfer.sh so I don't know what was the case here and what's going on now. I will remove the message in the codebase of the frontend

[2019-04-24 05:55] #209 closed

[2019-04-24 10:28] JustAnotherArchivist commented on #213
Oh, I see, didn't see that. We're running our own instance, but I guess the code isn't up-to-date then. Thanks!

[2019-04-25 04:44] aspacca commented on #212
@JustAnotherArchivist for current codebase there's a `X-Url-Delete` delete header with an URL you can send a `DELETE` request to to delete the file

[2019-04-26 21:55] JustAnotherArchivist opened #215 "Percent-encoding in filenames not handled correctly"
Percent-encoding in filenames is not handled correctly:

    https://{redacted}/LN3I1/test%C3%A4test

Loading that URL produces a 404 because the file was actually uploaded as `https://{redacted}/LN3l1/test%25C3%25A4test` instead, i.e. with the per cent symbols encoded as `%25`. That's probably the correct way to handle such uploads, but the output of the PUT request should also reflect it.

[2019-04-27 09:30] #212 closed

[2019-04-27 09:51] aspacca commented on #215
you're right @JustAnotherArchivist : the current solution was a little clumsy. I fixed with a more straightforward one in #216 , can you give a try?

[2019-04-27 14:07] JustAnotherArchivist commented on #215
Thanks, I can confirm that #216 fixes this.

[2019-04-27 14:17] #215 closed

[2019-04-28 10:11] kiska3 opened #217 "Server seems to crash when opening mp4(or large) files"
Crash report: https://pastebin.com/YxMCnXQd

The server seems to crash when opening a mp4 file from local storage, unsure about cause.

[2019-04-28 10:19] JustAnotherArchivist commented on #217
The GET handler reads the entire file to memory and then doesn't do anything with the read data:

https://github.com/dutchcoders/transfer.sh/blob/cd602b9256fb77e705da3cf6e09323e2eab233f6/server/handlers.go#L905

That code was added in af80d889 to support Range requests. I'm not familiar with Go or the meaning behind that bit of the code, but there has to be a better way than reading the entire fil

[2019-04-28 11:14] aspacca commented on #217
the code doesn't read the entire file to memory, if you check the `ioutil.ReadAll` has `io.TeeReader` as argument: https://github.com/golang/go/blob/master/src/io/io.go#L520-L524

I basically dump from the `io.Reader` return by `storage.Get` to a `io.ReadSeeker` that's passed to `http.ServeContent`

also, from the stack trace it seems you are not using local storage but s3 (with minio)
the file st

[2019-04-28 11:32] JustAnotherArchivist commented on #217
Oh, I see. Sorry about the noise; I was just going by the [documentation for ioutil.ReadAll](https://golang.org/pkg/io/ioutil/#ReadAll).

[2019-04-28 12:13] kiska3 commented on #217
This is the command I am using: "while true; do date; ./transfersh --provider=local --listener :8080 --temp-path=/transfersh/ --basedir=/transfersh/; sleep 10; done"

Using ps aux | grep transfersh and free:
https://transfer.notkiska.pw/IvPnt/ouput.txt
http://transfer.notkiska.pw/i1rTs/ouput.txt
http://transfer.notkiska.pw/pjqBq/ouput.txt

The server crashes using either cURL or in a browser. I wo

[2019-04-28 19:35] aspacca commented on #217
actually is `ioutil.ReadAll` that loads everything in memory, I will push a branch with the fix as soon as I finish testing it

[2019-04-28 19:49] aspacca opened #219 "Update Dockerfile from n8225/transfer.sh"
@n8225, you edited Dockerfile to build static and use scratch image for a smaller container

I would like to include the change in the official repository, but it would be nice if you open the PR for it

[2019-04-29 17:00] #217 closed

[2019-05-05 08:45] #210 closed

[2019-05-05 15:25] #203 closed

[2019-05-08 06:38] linuxct opened #220 "Transfer.sh is currently down"
Title self explanatory. Seems to be an outage that's causing a service degradation from Spain, and Germany as far as I can tell.

[2019-05-08 06:43] aspacca commented on #220
this repo has no connection with the http://transfer.sh hosted service and there's nothing I could do about it

[2019-05-08 06:43] aspacca commented on #220
also: I've just tested and it works properly from germany

[2019-05-08 06:46] linuxct commented on #220
The repo may not be intrinsically connected to https://transfer.sh, but it's being hosted by DutchCoders, who also are the owners of the repo. Correct me if I'm wrong.

Still getting ERR_CONNECTION_TIMED_OUT from our Spain and Germany front servers. Will wait to see if  we get escalated any other network issue or if it's just this specific case.

[2019-05-08 06:55] aspacca commented on #220
the repo is hosted on github and I'm the maintainer. I never had any control on https://transfer.sh that was maintained and hosted by dutchcoders but it is now hosted by storj with totally independence (as far as I know they don't use the service from the repo code baseline)
I've no connection with storj and I've never been in contact with them

[2019-05-08 06:55] #220 closed

[2019-05-08 06:59] linuxct commented on #220
Thank you, I've emailed storj to notify them.

[2019-05-08 07:02] linuxct commented on #210
Agreed with @JustAnotherArchivist, I also came here and opened a new issue without checking previous ones such as this one. Indeed they are having lots of troubles, and I like the idea of a big notice or even a project rename to avoid getting the transfer.sh service and transfer.sh open source project linked.

Thanks a lot.

[2019-05-08 09:41] nachtswirdesdunkel opened #221 "Download Button /get/xxx/file instead of /xxx/file"
Clicking on the zip icon the download starts
clicking on the url you get forwarded to a page with a direct download button.
clicking on the download button you again get redirected to the same page instead of downloading the file.
changing the url in the browser from /xxx/file to /**get**/xxx/file
the download starts as desired.
why not chage the url from the download button into /get/xxx/file ?
i

[2019-05-08 17:51] AlexGustafsson opened #222 "Option to disable the frontend"
I'd like to run the service as a pure CLI-experience. For self-hosted purposes I have no reason to have the frontend enabled. An option to disable the frontend would be nice.

[2019-05-08 18:44] mckaygerhard commented on #222
umm, the frontend are not also a pure-cli solution.. that can be selfthosted?

[2019-05-08 18:46] aspacca commented on #221
@nachtswirdesdunkel the behaviour for donwload was changed originally (before I became maintainer) to limit some kind of abuse that happened on http://transfer.sh (I don't know the details)
currently opening `/xxx/file` will show a preview page when opening the link in browser directly or external link. If the referer url path and current path are the same it will be downloaded.
also if the reques

[2019-05-08 18:59] nachtswirdesdunkel commented on #221
ok
i tried it without proxy and the setup works as you decribe.
Therefore the proxy does something disrupting the behaviour.
thanks for the quick reply.

[2019-05-08 19:28] aspacca commented on #222
@AlexGustafsson I don't understand what you refer to with frontend, can you explain more in details?

[2019-05-08 21:50] AlexGustafsson commented on #222
Running the docker file, the service hosted a website (frontend). I’m interested in disabling said frontend and only allow the routes necessary for CLI based upload.

I’m after an option to disable the website part of the service, basically.

[2019-05-09 02:25] misaka00251 opened #223 "Options to only allow specific IP address to upload"
Or something like whitelist / blacklist feature? Because when it comes to self-hosted, abuse is a big problem.

[2019-05-09 05:29] aspacca commented on #222
the whole service is on http, it doesn't host a website: two of the routes render html pages (the home and the preview), if you never call those url the html pages will be never be rendered.

also, consider that the docker image from official repo is not updated since few months and I cannot fix it.

[2019-05-09 05:32] aspacca commented on #223
there are `--http-auth-user` and `--http-auth-pass` that will add http basic auth for a single account only on upload, can this solve your issue?

a whitelist/blacklist feature could be useful anyway

[2019-05-09 06:42] AlexGustafsson commented on #222
I am aware the service is on HTTP. I’d like an option to disable the routes for rendering the website itself.

Thanks for the heads up on the state of the docker image.

[2019-05-09 18:46] aspacca commented on #222
sorry @AlexGustafsson , i really don't see any value in disabling the routes when not calling them produces exactly the same results

[2019-05-09 18:47] aspacca commented on #221
the proxy probably doesn't set the referrer, what do you use as proxy?

[2019-05-09 18:54] AlexGustafsson commented on #222
@aspacca Hosting the service lets people visit the site. There are some options to protect the service using basic auto, but that is not honoured by the website.

By disabling the website, one can push files and share them using the links. No one can however use or see the service, except for the shared files if given an URL.

[2019-05-09 19:01] nachtswirdesdunkel commented on #221
i use apache proxy
here the conf files
[code]
and here the docker run
[code]

[2019-05-10 06:20] aspacca commented on #222
@AlexGustafsson pushing files and sharing the links is actually using the service, and this is not related to having the home and preview routes exposed or not.
you can put a basic auth on upload routes so that even if I load the home I cannot upload
and if you share the links and you are ok from downloading from cli if given an url why do you really care about the fact that the people you give th

[2019-05-11 01:25] misaka00251 commented on #223
Well, I managed a private GitLab instance (for me and my friends) and have some shared GitLab runners (runners are on two different machines), and I only want these shared machines to use this service. Clearly here `--http-auth-user` and `--http-auth-pass` isn't a perfect solution, since it might be leaked...

[2019-05-11 13:44] aspacca commented on #223
addressed in #224, please @misaka00251 test on that branch

I also switched to go module there

[2019-05-11 16:47] #222 closed

[2019-05-12 07:35] misaka00251 commented on #223
Tested and it works.
Issues:
Already set a list of IPs like `--ip-whitelist="1.1.1.1, 2.2.2.2"`, but only `1.1.1.1` can access.

[2019-05-12 08:06] aspacca commented on #223
@misaka00251 there's no sanitization of the input: so ` 2.2.2.2` will fail to be parsed because of the space in the beginning

[2019-05-12 08:14] aspacca commented on #223
fixed

[2019-05-12 21:11] aspacca commented on #177
fixed with #225

[2019-05-12 21:11] #177 closed

[2019-05-15 10:08] akaleeroy opened #226 "Get a status page to announce downtime"
Site is down, and I'm about to get a _Why don't you just use <normie mainstream inferior solution like WeTransfer/Google/Dropbox>_ from the person I was trying to send files to.

If possible get a status page to announce down time.

[2019-05-15 17:28] aspacca commented on #226
Disclaimer

This project repository has no relation with the service at https://transfer.sh that's managed by https://storj.io. So far we cannot address any issue related to the service at https://transfer.sh.

[2019-05-15 17:28] #226 closed

[2019-05-18 09:45] #223 closed

[2019-05-18 18:50] #221 closed

[2019-05-22 20:21] dopessoa opened #229 "Append Max-Downloads and Max-Days on response headers"
Are there any plans to add Max-Downloads and Max-Days current values as response headers on GET and HEAD requests?

I guess this is slightly related to #178.

[2019-05-23 19:00] aspacca commented on #229
now there is, I don't know when I'll have time to do it anyway

[2019-05-23 19:01] aspacca commented on #229
but I guess the headers should be Remaining-Downloads and Remaining-Days to be useful

[2019-05-28 07:53] abitrolly opened #230 "Example send directory with tar + curl"
[code]

[2019-05-31 23:47] retorquere commented on #88
I'm looking to upload a text snippet I have in-code (in Ruby) that I want to upload to transfer.sh; if possible I'd like to do so directly without first writing it to disk. I currently have this:

[code]

but this gets me an empty response body in all those cases. It must be something I'm doing wrong in Ruby, because this python snippet works just fine:

[code]

[2019-06-03 22:34] dopessoa commented on #229
OK, I've been really busy lately, but I'll send a PR in the next few days.

[2019-06-04 17:16] dopessoa commented on #219
As @n8225 hasn't answered in quite a while I've made some improvements to the Dockerfile based on his changes, I've sent a PR with the new Dockerfile.

[2019-06-05 05:36] aspacca commented on #229
really busy here as well, if you plan to send a PR for this I will wait for it

[2019-06-05 11:05] chaitanyarahalkar opened #232 "Scan For Malware Not Working"
The scan for malware part on the website shows a tcp i/o error.

Here are the contents of the error:
dial tcp: i/o timeout

[2019-06-06 09:18] MPolymath opened #233 "Docker https cannot open certificates"
Hello,

To launch docker and have it use https,
I am running the following command:
[code]

However when I access my local web server (https://localhost:443) I get the following logs:
[code]

I copied the certificates in the docker container using the following command.
[code]

I have also copied the certificates in the local machine in the /tmp/ directory.

This is how I created the certificates:

[2019-06-06 16:06] dopessoa commented on #233
Hello @MPolymath,

I guess the easiest way would be to mount your certificates directory inside the container, like this:

`sudo docker run -v /home/mina/transfersh:/tmp/certs --publish 443:443 dutchcoders/transfer.sh:latest --provider local --basedir /tmp/ --tls-listener :443 --tls-cert-file /tmp/certs/localhost.crt --tls-private-key /tmp/certs/localhost.key`

As you're not publishing the HTTP po

[2019-06-07 15:02] MPolymath commented on #233
Thank you that is exactly what I was looking for the issue is solved.

[2019-06-07 15:02] #233 closed

[2019-06-09 20:42] dopessoa commented on #229
Sent a PR, please review when you got the time.

Found what I think is an issue while developing this, I'll open a new issue to document my finding.

[2019-06-09 20:54] dopessoa opened #235 "Download number of file getting incremented on HEAD request"
When you send a HEAD request to a file, the counter of downloads is incremented, is this how it should be?

I guess HEAD requests souldn't count as downloads.

Steps to reproduce:

[code]

[2019-06-09 20:57] dopessoa commented on #230
@aspacca,

How about creating an examples.md file and referencing it on the README.md?

The idea would be to leave the main examples on the README.md and put the other ones on the examples.md.

[2019-06-10 08:18] aspacca commented on #235
@dopessoa I think you're right. I didn't pay attention to that behaviour, I will see how to fix

[2019-06-13 15:09] JustAnotherArchivist opened #237 "Deletion URLs on POST uploads"
I realised that the `postHandler` doesn't return any deletion URLs (`X-Url-Delete` header, cf. #44).

This might be tricky to solve since POST uploads can contain multiple files, and obviously headers (i.e. deletion URLs) have to be sent before the body (i.e. download URLs). The only solution really would be to collect the download URLs while the files are being processed, returning the deletion U

[2019-06-13 18:53] aspacca commented on #237
@JustAnotherArchivist I really never user `postHandler` and I don't know if adding the `X-Url-Delete` header to it would be a feature that people care for.

is this actually something you need or more a generic issue?

I have also some concern implementing it truncating the list of the headers returned to prevent being a DoS vector: I mean it should be done that way, in case, but then I'd rather p

[2019-06-15 19:01] truatpasteurdotfr opened #238 "wrong version in transfer.sh-1.0.0.tar.gz and git version"
cosmetic issue: the version printed when doing `transfersh --help` and `transfersh --version` are inconsistent.

[code]
while transfersh --version always print 0.0.0

[2019-06-17 06:10] lorki opened #239 "Can duplicate files be link through MD5?"

[2019-06-17 21:26] grinapo opened #240 "configurable default metadata"
Is there a reason that the default metadata (10 years and millions of downloads) is not configurable?

Also related: there seem to be no way to administratively set the maximum amount of downloads and expiration time, which may possibly be different from above.

[2019-06-17 21:45] grinapo opened #241 "Expired file / download limit is not honoured on the default (file view) page"
The default link shows the file and QR as it was okay while actual _get_ gives a (non-themed) 404.

[2019-06-21 06:44] computeralex92 opened #242 "Support for AWS Signature Version 4"
It would be great if a new version of transfer.sh support the AWS Signature Version 4 to host the S3 Bucket in a region where only this signature is available.

Currently this error appears when trying to upload a file to such a S3 Bucket:
[code]

[2019-06-22 08:25] aspacca commented on #242
@computeralex92 can you point to some documentation about the topic?
the S3 storage backend was done by @nl5887 and I never worked on it (neither I have the possibility to test against it at the moment).
I can check if I can just override the AWS Signature to use from the AWS SDK, is Version 4 supported in every region?

[2019-06-22 08:26] aspacca commented on #241
will check this

[2019-06-22 08:28] aspacca commented on #240
I don't know about the reason, since the choice was made before I joined the project: it could be something "big enough" to be like not set.
for me if there're no header for expiration set there should be no limit, I will look in properly do this without relying on "big enough" values

[2019-06-22 08:29] aspacca commented on #232
@chaitanyarahalkar https://github.com/dutchcoders/transfer.sh#disclaimer

[2019-06-22 08:29] #232 closed

[2019-06-22 08:29] aspacca commented on #238
will fix, thanks

[2019-06-22 08:30] aspacca commented on #219
fixed by #231

[2019-06-22 08:30] #219 closed

[2019-06-22 08:34] aspacca commented on #239
deduplication can be easily achieved only for the ones in the same multi files upload, I don't really see it as a priority given the low value it will add.
for deduplicating every upload we should either keep a track of the uploaded files or scan the whole backend storage. both are solution not desiderable

[2019-06-22 08:34] #239 closed

[2019-06-22 08:35] aspacca commented on #230
@dopessoa yes, good idea. feel free to open a PR for that: I don't know how much time I will have for doing it promptly at the moment

[2019-06-22 08:35] aspacca commented on #237
@JustAnotherArchivist any feedback? otherwise I'm going to close the issue next week

[2019-06-22 09:16] computeralex92 commented on #242
The issue is related to the switch from Version 2 of the signature to Version 4 happen step by step from AWS.
Every newer region (e.g. eu-central-1 or ap-east-1) is only accessable with version 4, all other "older" regions of AWS supports both versions.

As far as I can see in the code the problem is that the S3 Lib transfer.sh is using does not support V4 and since the lib is unmaintained, from m

[2019-06-22 16:39] aspacca commented on #242
I see @computeralex92. as I said I don't use S3 and I didn't developed that part.
I think the whole code has to be moved to use official AWS SDK, unlikely I don't know when I'll have time for that and I cannot test.
in case I will create a branch for are you available to test it?

[2019-06-23 03:28] JustAnotherArchivist commented on #237
Sorry for the delay.

My main problem is uploading over high-latency links; so far, I use `PUT` because I do need the deletion URLs, but I create a new connection for every upload, which is very slow due to the high latency.

The nice thing about `postHandler` is that, unlike `putHandler`, it can be used to upload multiple files at once. However, if the server also supports HTTP pipelining (haven'

[2019-06-23 07:12] aspacca commented on #242
please @computeralex92 can you test #243 ?

[2019-06-23 07:24] #229 closed

[2019-06-23 07:24] #235 closed

[2019-06-23 08:23] aspacca commented on #237
I'd rather add HTTP pipelining to `PUT`, please, can you make some tests on your side for this?

[2019-06-23 10:29] computeralex92 commented on #242
I will try it and give you a result as soon as possible.

[2019-06-23 11:10] computeralex92 commented on #242
OK, looks good so far, but I need to fix some issues to get it work:

- A S3 Bucket with SSL Support is not accessable since the CA Certificates are not copied to the docker image
- The region is hard coded to "eu-west-1", so every other region is failing.
I already fixed this bugs locally and it works now with a bucket located in Frankfurt (eu-central-1).

To things are on my ToDo list for now:

[2019-06-23 12:58] computeralex92 commented on #242
Good message: It is working as expected with Minio and other providers like Digitalocean and Scaleway.
Bad message:
When testing the download of a file, the following error appears in the browser:
[code]
I think it's related to the 0 byte file size bug in the download page.
@aspacca Maybe you can see the issue with that; I will also try to find the problem.

[2019-06-23 13:23] aspacca commented on #242
how do you fixed these?
for the region, as long as you pass the endpoint it seems to be used only for signing, and I assumed you could use a signing region different than the one the bucket is. evidently my assumption was wrong :)

for 0 byte file size and the runtime error: I used the wrong method in `Head` and `Get`, can you please test now?

[2019-06-23 14:12] computeralex92 commented on #242
Now it's working perfectly.

I add the pull request #244 to this branch with the fixed I added.

[2019-06-23 19:07] aspacca commented on #242
#244 merged to the branch, just refactored the order of the param to be a little cleaner.
if you give me the go that all tests are fine I will merge this to master

[2019-06-23 19:21] computeralex92 commented on #242
From my side everything is fine; upload and download is working as expected

[2019-06-23 20:28] #242 closed

[2019-07-01 18:32] aspacca commented on #237
@JustAnotherArchivist any feedback?

[2019-07-06 18:14] aspacca commented on #241
@grinapo fixed in #245

[2019-07-06 18:23] #241 closed

[2019-07-06 18:34] aspacca commented on #240
@grinapo fixed in #246

[2019-07-06 18:43] aspacca commented on #238
@truatpasteurdotfr fixed in #247, it will affect from version 1.1.0

[2019-07-06 18:43] #240 closed

[2019-07-06 18:54] #238 closed

[2019-07-11 22:09] JustAnotherArchivist commented on #237
I finally got around to testing this. In our setup, transfer.sh is behind nginx. At least in this case, multiple `PUT` requests over one connection work fine. So in that sense, consider my issue solved.

However, I did not test the plain transfer.sh server; I don't know how nginx plays into this exactly. And I also haven't tested actual pipelining, i.e. sending the second request before reading th

[2019-07-14 19:42] TheYkk opened #248 "Built in crypt and tar"
Server storage crypt uploaded file and tar for securty.
When download request file untar and decrpyt and send data to user

[2019-07-14 19:54] aspacca commented on #248
is this a feature request?

there's a stale branch about gpg crypting: https://github.com/dutchcoders/transfer.sh/pull/162

you still have to trust the hoster of the service that he will actually run that code. if you need security without the control of the hosted service the only solution is to encrypt client side on upload (see: https://github.com/dutchcoders/transfer.sh#encrypt--upload)

[2019-07-14 20:15] TheYkk commented on #248
i prefer host based security

[2019-07-17 16:48] #237 closed

[2019-08-12 17:02] zmwangx opened #252 "Reverse proxy: support X-Forwarded-Port, or allow some sort of --proxy-port"
I'm hosting transfer.sh on a certain server where unfortunately port 443 is off limits, so I'm exposing the service on port 8443 instead. I'm using nginx as a reverse proxy in front of the transfer.sh server, where the configuration includes

[code]

The server doesn't support the `X-Forwarded-Port` header though, so unfortunately all URLs I get don't have the port attached. Is it possible to add

[2019-08-12 19:16] aspacca commented on #252
@zmwangx, putting the proxy port in the `Host` header is enough:
[code]

[2019-08-13 05:46] #252 closed

[2019-08-14 11:49] zmwangx commented on #252
Didn't think of that... Thanks.

[2019-08-16 07:40] yevgenypats opened #253 "Suggestion: Continuous Fuzzing"
Hi, I'm Yevgeny Pats Founder of [Fuzzit](https://fuzzit.dev) - Continuous fuzzing as a service platform.

We have a free plan for OSS and I would be happy to contribute a PR if that's interesting.
The PR will include the following
- [go-fuzz](https://github.com/dvyukov/go-fuzz) fuzzers (This is generic step not-connected to fuzzit)
- Continuous Fuzzing of master branch which will generate new corp

[2019-08-17 08:42] aspacca commented on #253
hello @yevgenypats, thanks for your interest in this project. your PR is welcome

[2019-08-17 19:00] yevgenypats commented on #253
@aspacca Thanks for your reply we will put it on the near roadmap.

Also, I need to mention that we have a [reward program](https://fuzzit.dev/2019/08/12/announcing-rewards-for-go-rust-oss-projects/) in case you have time/want to implement this yourself I would be happy to reward you as well as get unbiased feedback on how smooth the integration was. Let me know what you prefer.

[2019-08-19 13:40] tbi88 opened #256 "Dependency issue with urfave/cli.v1"
I have got the following error while building the docker image.

[code]

I solved it by adding the following line at the end of the "go.mod" file.

`replace gopkg.in/urfave/cli.v1 => github.com/urfave/cli v1.21.0`

[2019-08-20 06:09] aspacca commented on #256
@tbi88 I already opened a ticket on go repo that seems related to the same type of error: https://github.com/golang/go/issues/33154

I experienced that error only on tip, but now I can reproduce yours on go 1.12.7-9 at least.
it seems that some package we use was updated to add `gopkg.in/urfave/cli.v1` as dependency: the last build from master was tree year ago and was green (https://travis-ci.org

[2019-08-20 07:55] tbi88 commented on #256
Hi

I would prefer if you could do it. I am pretty new with go yet...

cheers

[2019-08-20 09:52] Imparium commented on #181
Indeed, trying to upload a 7gb file can it is not possible.

[2019-08-20 10:19] jiqing112 commented on #181
After all, it is a public service, and people have a cost.

[2019-08-22 12:36] ichcc opened #257 "Couldn't upload file to docker"
Docker run as recommended

[code]
Basedir exist, full access

[code]
[code]

[2019-08-22 19:37] dtsdwarak commented on #257
The same has been resolved in a previous issue - #187

Try something like the following -

[code]

[2019-08-23 10:40] ichcc commented on #257
Thanks a lot!

[2019-08-23 20:30] dopessoa commented on #230
I was really busy with work, I just could get back to this now, sent a PR, please review it when you have the time.

[2019-08-23 20:49] dopessoa commented on #257
The problem is that /tmp does not exist inside the docker container, the method used to create the directory in storage.go does not create directories recursively, so it can't create any of the temporary folders inside /tmp. I've sent a PR that fixes this issue.

On the other hand, the documentation should be improved to an example that works, adding an example with a volume would be nice too.

[2019-08-24 11:19] aspacca commented on #256
I switched to use directly `github.com/urfave/cli` instead of the forked `github.com/minio/cli` and it's solved

[2019-08-24 11:36] aspacca commented on #230
fixed in #259 . thanks @dopessoa

[2019-08-24 11:36] #230 closed

[2019-08-24 11:37] #257 closed

[2019-08-24 11:40] aspacca commented on #253
@yevgenypats I would prefer you will create the PR with a first support for this test feature, thanks

[2019-08-24 11:42] yevgenypats commented on #253
Sure. Will put it in our pipeline and ping you once the draft PR is ready.

[2019-08-24 11:46] #256 closed

[2019-08-24 11:47] aspacca commented on #253
thanks!

[2019-08-26 14:35] sean-perryman opened #263 "Question: Passing an argument to docker to set the return URL"
Apologies if this is the wrong place to post this.

As I am starting to need to pass around more sensitive information, and am learning Docker, I decided to try and roll my own copy of transfer.sh. It is working great with Nginx as the SSL front end, but I cannot seem to figure out how to get the transfer.sh server to recognize the external URL. Is there a setting or something I can set to perform

[2019-08-27 06:37] aspacca commented on #263
@sean-perryman you mentioned Nginx, that I presume you use as proxy to the transfer service in the docker container.
In this case you have to add in the Nginx configuration the following:
[code]

[2019-08-27 07:08] #263 closed, assigned to nobody

[2019-08-27 10:45] camielverdult opened #264 "runtime error: index out of range when uploading zip"
Hello,

I tried to upload a 3,61GB ZIP to transfer.sh today, it gave me "Error (500) during upload of file data.zip". When I "downloaded", the ZIP again, the transfersh.zip.txt had only one line: `runtime error: index out of range`.

[2019-08-28 05:08] aspacca commented on #264
hello @camielverdult, sorry we have no control on the version of the service hosted at transfer.sh
if you are able to reproduce the issue with the current master feel free to reopen the ticket

[2019-08-28 05:08] #264 closed

[2019-09-01 09:21] #253 closed

[2019-09-02 02:51] guest6379 opened #268 "There is no 'X-Url-Delete' in response header, how can I delete a file uploaded?"
[code]

I checked the https://github.com/dutchcoders/transfer.sh#response-headers but cann't find a way to continue.

Many thanks if you can help.

[2019-09-02 05:36] aspacca commented on #268
@guest6379 the documentation is related to current version of the service, not to the one hosted on transfer.sh

you car read the disclaimer: https://github.com/dutchcoders/transfer.sh#disclaimer

[2019-09-02 05:36] #268 closed

[2019-09-08 17:20] Imparium commented on #181
Yes, but the homepage states the maximum of 10gb, then it should be updated to the real maximum filesize.

[2019-10-23 10:10] changchichung opened #270 "docker build error"
after git clone the repo , I try to build image from Dokcer file , but with no luck

[code]

any suggestions ??

[2019-10-23 10:12] #270 closed

[2019-10-23 10:23] Octolus commented on #190
Same issue now

[2019-10-23 17:45] aspacca commented on #190
@Octolus the service hosted on https://transfer.sh is not related to this repo, sorry

[2019-10-23 20:22] Xhendos opened #271 "Curl could not save metadata"
Using `curl 7.58` on a Debian flavor and `curl 7.20` on Minix3.1.8 it is not possible to upload a file to transfer.sh
I use `curl -k --upload-file ./file-name https://transfer.sh/file-name` and curl returns `Could not save metadata`

Is anyone else suffering the same issue?

EDIT: I read the disclaimer too late. Problems with the webhost should not be issues here.

[2019-10-26 06:58] aspacca commented on #271
@Xhendos the service hosted at https://transfer.sh is separated and not maintened by this repo

[2019-10-26 06:58] #271 closed

[2019-11-04 10:11] JayBrown opened #272 "Simply not working for me"
I'm using both the following options in a shell script:

[code]

…and it never returns a URL. Often it doesn't even care about the 30 seconds timeout argument and simply runs forever. Also tried it directly/manually in Terminal, no change.

What gives?

[2019-11-04 21:07] alexbalkan commented on #181
Very convenient service. Why cut everyone? If the pirates are to blame, then you can somehow ban such people. You can make a purely symbolic payment.

[2019-11-08 15:45] thanakijwanavit opened #273 "Gdrive credential error"
I ran the code with following option ```go run main.go --gdrive-client-json-filepath ../credential/creden.json --gdrive-local-config-path /tmp/ --basedir /tmp/ --provider gdrive```

However, it can't find the necessary oauth file which is really confusing. I downloaded the file for my service account on developers.google.com and it seems valid

Here is the response
[code]

Here is the content of t

[2019-11-08 19:17] aspacca commented on #273
@thanakijwanavit you provided a service acount json instead of a client api key one
at https://console.developers.google.com/apis/credentials you can create a api key and download the json file to use with transfer.sh

first time you will run the service please do in an iteractive shell because you will be prompted with a url to visit to get the authorization code for the client. once setup you ca

[2019-11-09 00:00] thanakijwanavit commented on #273
Thanks so much for your reply
I have created a Oauth-client-id.json however I got the following error
[code]

I am not sure if this is the correct json credential file but there seems to be no downloadable json file for api key

the current content of the creden.json file is

``` {"web":{"client_id":"........apps.googleusercontent.com","project_id":"....","auth_uri":"https://accounts.google.com/o/

[2019-11-16 07:56] aspacca commented on #272
@JayBrown the repo is not related to the service hosted on https://transfer.sh

[2019-11-16 07:56] #272 closed

[2019-11-16 07:58] aspacca commented on #273
did you solve the issue @thanakijwanavit ?
my client json file is like the following:
[code]

[2019-11-20 11:56] gitSambhal commented on #181
What is the max limit?

[2019-11-26 12:45] thanakijwanavit commented on #273
where did you get the redirect url from?

[2019-11-28 18:21] aspacca commented on #273
@thanakijwanavit I don't remembert: anyway in my json it is `["urn:ietf:wg:oauth:2.0:oob","http://localhost"]`

[2019-11-30 16:37] thanakijwanavit commented on #273
OK I will try that

[2019-12-11 14:09] OnkelTem commented on #186
The same issue. There is the overlapping bar in Chrome 78 on Linux. But I see it's been a while since the issue was reported. Is it a regressin?

![](https://i.gyazo.com/590d35258f81502655462988b4ce894f.png)

[2019-12-11 14:28] OnkelTem opened #276 "Upload and download is extremally slow"
My transfers suffer from severe speed degradation.

Upload: **2712 bytes/s**
[code]

Download: **3701 bytes/s**
[code]

MTR via VPN:
[code]

MTR w/o VPN:
[code]

[2019-12-12 08:10] aspacca commented on #276
@OnkelTem This project repository has no relation with the service at https://transfer.sh that's managed by https://storj.io. So far we cannot address any issue related to the service at https://transfer.sh.

[2019-12-12 08:10] #276 closed

[2019-12-12 08:10] aspacca commented on #273
@thanakijwanavit did it work?

[2019-12-12 08:11] aspacca commented on #186
@OnkelTem
the codebase changed video player with #133 and dutchcoders/transfer.sh-web#13

I'm sorry the hosting service doesn't run on the last version of the codebase: I've no control over it

[2019-12-12 13:31] OnkelTem commented on #186
Great. Everybody know "thansfer.sh" as a base service name. Which is running some outdated retarted crap with modem speed.

[2019-12-12 19:10] aspacca commented on #186
@OnkelTem feel free to contribute with your efferot if you are not satisfied about what you're given for free

[2019-12-13 05:35] thanakijwanavit commented on #273
It works!!! thanks so much this is excellent. At the end I added some random uri and copied the [code] from the get query variable.

[code]

[2019-12-13 05:35] #273 closed

[2019-12-13 13:39] OnkelTem commented on #186
@aspacca I don't get anything for free. It's unusable 100%. Alternative? There are many, fortunately.

[2019-12-13 23:31] aspacca commented on #186
@OnkelTem you are not entitled to pretend anything until you don't give back to the community.
not satisfied with a free service? feel free to switch to anything you like

[2019-12-14 17:16] andreasonny83 opened #277 "Could not save metadata"
[code]

I understand that the service hosted at https://transfer.sh is separated and not maintained by this repo, however, I don't see another way for reporting this problem directly to @nl5887 .
I would just like to know if the service is still online and alive.
Thanks.

[2019-12-15 11:17] sxiii commented on #277
Same for me both from CLI and from browser uploader...

[2019-12-17 00:41] pfxpn opened #278 "typo error in README.md"
in
`
If you want to use TLS using your own certificates, set tls-listener to :443, force-https, tls-cert=file and tls-private-key.
`

replace `tls-cert=file` with `tls-cert-file`

[2019-12-17 00:53] pfxpn opened #279 "need clarification about usage of docker and https"
I try to start a docker with https enabled like :

[code]

what's wrong in command line ?

Regards,

[2019-12-17 02:14] mckaygerhard commented on #278
i guess there's more typo and maybe command line depends on versioned

[2019-12-17 02:24] mckaygerhard commented on #178
there's a year about this issue and seems some work was done at #234 pull request ..

[2019-12-17 07:56] aspacca commented on #279
@pfxpn listener param is `ADDRESS:PORT`, where address can be empty to listen on every interface
so it should be `--tls-listener=:443`

[2019-12-17 07:56] #279 closed

[2019-12-17 07:57] aspacca commented on #277
@andreasonny83 you may want to ping @stefanbenten

[2019-12-17 07:57] #277 closed

[2019-12-17 10:48] rmetzger opened #280 "transfer.sh is down (December 17, 2019)"
It seems that transfer.sh is down currently.

[2019-12-17 13:51] rmetzger commented on #280
Resolved.

[2019-12-17 13:51] #280 closed

[2019-12-23 07:18] alexbalkan commented on #181
Good day !
Today I think 1GB is enough. Maximum no more than 10GB. Today, the service
does not work at all. I wanted to know what happened. Is the service dead?
Thanks

ср, 20 нояб. 2019 г. в 11:56, gitSambhal <notifications@github.com>:

[2020-01-02 23:18] AlpixTM commented on #181
Currently limited to 1GB, no MB more…

[2020-01-05 01:01] despair86 opened #281 "missing dependencies (user banned?)"
[code]

[2020-01-05 08:48] aspacca commented on #281
@despair86 transfer.sh uses gomodule, can you try with `GO111MODULE=on`?
also, what version of go are you using?

[2020-01-05 09:03] despair86 commented on #281
oh I'm on go 1.12-13, but the repo itself no longer exists regardless

On January 5, 2020 2:48:38 AM CST, Andrea Spacca <notifications@github.com> wrote:

[2020-01-05 09:21] aspacca commented on #281
the repo exists: https://github.com/russross/blackfriday

[2020-01-05 09:52] aspacca commented on #281
https://github.com/golang/go/issues/36391

I've opened this: in the meanwhile you can fix with cloning the repo and doing a `go get ./...`

[2020-01-06 16:24] aspacca commented on #281
@despair86 fixed in v1.1.3

[2020-01-06 16:24] #281 closed

[2020-01-08 14:43] morrigan commented on #277
This issue still persists.

[2020-01-08 14:44] andreasonny83 commented on #277
If you are interested, I have just recently built something similar called transfer-now on: https://www.npmjs.com/package/transfer-now

[2020-01-08 14:52] aspacca commented on #277
@andreasonny83 interesting. Where are the file hosted? Is the packaged a client only or a server, like transer-sh? I don't find the source code online

[2020-01-08 15:05] stefanbenten commented on #277
I just took a look at the host and fixed the issue. Every now and then it rans out of memory.

[2020-01-08 15:08] andreasonny83 commented on #277
@aspacca the files are stored on aws s3. the cli is just the client side, the server is actually running on the aws side inside Lambda. The source code is not online. I'm planning to scale that project up and have a proper service with a pro plan eventually

[2020-01-11 12:07] sgorki opened #282 "Deploy to Heroku"
Please help me to install this source to Heroku and integrate with Google Drive

[2020-01-11 19:39] arcooke commented on #277
The issue has returned

![image](https://user-images.githubusercontent.com/6278400/72209771-c4755d80-3477-11ea-9e99-643aea0aff17.png)

[2020-01-15 09:15] ramonmedeiros commented on #190
There is a similar service called file.io:

https://stackoverflow.com/questions/59748185/cannot-upload-file-to-transfer-sh-error-could-no-save-metadata/59748186#59748186

[2020-01-21 03:41] de0xy opened #283 "Could not save metadata error"
When I do:
[code]

I get `Could not save metadata`

Any ideas why?

[2020-01-25 10:31] aspacca commented on #283
https://github.com/dutchcoders/transfer.sh#disclaimer

[2020-01-25 10:31] #283 closed

[2020-01-25 10:32] aspacca commented on #282
@sgorki did you solve the problem?
for Google Drive integration you can check https://github.com/dutchcoders/transfer.sh/issues/273
I cannot help with Heroku

[2020-01-25 11:34] sgorki commented on #282
I just want to deploy to Heroku

[2020-02-01 05:12] korrio opened #284 "Could not save metadata"
[code]
can't not transfer anymore.

[2020-02-01 09:31] aspacca commented on #284
https://github.com/dutchcoders/transfer.sh#disclaimer

[2020-02-01 09:31] #284 closed

[2020-02-15 04:39] jtagcat opened #285 "Open link, after a file is uploaded"
I'm used to copying the link with Ctrl+L Ctrl+C (from the URL bar), I have to click it every time, or right click and copy this URL.
I know it has conflicts with the zipping options, any ideas?

[2020-02-15 09:59] #282 closed

[2020-02-15 09:59] aspacca commented on #285
are you referring to the service hosted at https://transfer.sh?

[2020-02-16 00:19] jtagcat commented on #285
Yes, but I'm also using my self-hosted instance of it.

[2020-02-17 07:05] aspacca commented on #285
@jtagcat the version hostend on https://transfer.sh and the version in the repo if you self-host are different, so please give more details.
1. what version (/git tag) of the service are you self-hosting?
2. what are the steps to reproduce the issue?

[2020-02-17 08:12] jtagcat commented on #285
1. No idea where to check that. `dutchcoders/transfer.sh:latest` on docker.
2. the feature does not exist

[2020-02-26 19:41] aspacca commented on #285
@jtagcat your request is not feasable: to allow you to `Ctrl+L Ctrl+C` the page should redirect to the url of the file uploaded, but since you can upload multiple files from the frontend and you'll have multiple urls to redirect to

[2020-02-26 19:41] #285 closed

[2020-03-03 00:47] melMass commented on #283
@aspacca Does that mean the project is down I don't understand?

[2020-03-07 14:58] TheLastProject commented on #277
Well, reading through this treat:
ping @stefanbenten

[2020-03-07 19:03] stefanbenten commented on #277
We are in the process of migrating the tool to our network with PR #266 .
Waiting for review and test from @aspacca .

[2020-03-07 19:08] stefanbenten commented on #277
I checked the current host and it seems to operate fine, besides being very busy.

[2020-03-11 12:46] JackDallas opened #286 "Add ACL options for s3 upload"
I'm using Digitaloceans spaces s3 compatible storage, unfortunately they don't offer a way to set the ACL for the whole bucket.

A `--s3-acl` option that could be set to `public` would make transfer.sh work with this.

I couldn't see a way to do this but if one exists please feel free to correct me :)

[2020-03-13 09:56] HamedSepehr opened #287 "Can't configure nginx reverse proxy to transfer.sh"
I have transfer.sh running on my vps using docker on port 8081 and this is how I ran it and it works fine:

`docker run -d --publish 8081:8080 -v /etc/transfer/tmp:/tmp --name=transfer-test dutchcoders/transfer.sh:latest --provider local --basedir /tmp/`

For webserver I'm using [linuxserver/letsencrypt](https://hub.docker.com/r/linuxserver/letsencrypt) which is based on nginx. I wan to proxy `dom

[2020-03-13 12:03] vyachkonovalov commented on #287
Try to add slashes, one for location `location /transfer/`, another for proxy_pass `proxy_pass http://vps_ip:8081/;`
[code]

[2020-03-13 15:50] khvnhtung opened #288 "How to show texts instead of download button?"
Hello,
Thanks for your interesting project. I've tried downloading and run in on my server. Uploaded several text files for testing but it seems that the website is not showing the texts but only download buttons. Is there an option to enable this?
Thanks.

[2020-03-13 16:15] vyachkonovalov commented on #287
`--listener`'s value has a colon before port number. I spent half an hour trying to figure out what's wrong, because transfer.sh doesn't show any error in case you forgot a colon😟

[2020-03-13 16:16] HamedSepehr commented on #287
I did all of them and now it works without any problem. thanks

[2020-03-13 16:20] HamedSepehr commented on #287
I did all of them and now it works without any problem, thanks.

[2020-03-13 16:20] #287 closed

[2020-03-13 17:24] HamedSepehr opened #289 "Download links aren't resumable"
How can I make download links resumable so I can pause download and resume download later?

[2020-03-15 09:30] aspacca commented on #287
thanks @vyachkonovalov for the support

[2020-03-15 09:31] aspacca commented on #289
if the request for the resumed download has `Range` header it should work out of the box, can you please test?

[2020-03-15 09:33] aspacca commented on #288
@khvnhtung please, provide some steps to reproduce the issue. maybe a screenshot as well
in the preview page with the download button there should be the preview of the content of the file, unless you uploaded the file without extension

[2020-03-15 09:35] aspacca commented on #286
@JackDallas can you explain in more details?
transfer.sh doesn't create the bucket it writes into. why don't you just create it as public?

[2020-03-15 14:10] khvnhtung commented on #288
<img width="1125" alt="Screen Shot 2020-03-15 at 21 10 00" src="https://user-images.githubusercontent.com/33808069/76703087-55c7b100-6701-11ea-818c-d91b9cb22261.png">
Here/s the preview of the text file that I have uploaded.
THe command I run is:
`sudo docker run --publish 8080:8080 dutchcoders/transfer.sh:latest --provider local --ba
sedir /tmp/`

[2020-03-15 16:41] JackDallas commented on #286
So Digitalocean don't let you set a bucket wide policy it has to be set per item and items are private by default so you have to include the ACL policiy when you upload an item

[2020-03-15 17:09] aspacca commented on #286
 @JackDallas but if the items are created private by default with the aws credentials of transfer.sh I expect that after the same client with the same credentials will be able to access the items again
what am I missing?

[2020-03-15 18:16] HamedSepehr commented on #289
I don't how I should test that...
So far I have tested `aria2c -c`, `wget -c` and IDM and none of them was able to resume download.

[2020-03-15 18:43] aspacca commented on #288
it seems that lstat on the saved file (that will return the content type of the file to enable content preview) fails when running in the docker container: probably with the right user/volume setup in docker this issue would be solved.
anyway I'd rather refactored the code so that the content type is read from the metadata, where we have this info anyway, having no need to fetch the same from the

[2020-03-15 18:43] #288 closed

[2020-03-15 19:19] aspacca commented on #288
@khvnhtung the right tag is `v1.1.6`
please, use `dutchcoders/transfer.sh:vX.Y.Z` instead of `latest` since you'll be sure to have a proper release

[2020-03-15 19:23] aspacca commented on #289
I can confirm that `wget -c` works properly

[2020-03-15 19:26] aspacca commented on #289
@HamedSepehr I assume that you are talking about your own hosted service, not the one on https://transfer.sh

[2020-03-15 19:30] HamedSepehr commented on #289
My bad... Yes I'm talking about my own hosted service which is behind nginx reverse proxy.

[2020-03-16 14:20] JackDallas commented on #286
ohhhh,
So I set the base url to be the CDN provided with the bucket for faster access:

`https://bucketname.region.digitaloceanspaces.com`

So the link given back to the client is a direct one and the item needs public perms, this may not be a use case covered by transfer.sh, I was going to try forking and having a go adding it once I had a chance to understand the aws library

[2020-03-16 18:18] aspacca commented on #286
@JackDallas sorry but it still not clear
where do you set tha base url? as `--s3-endpoint` to transfer.sh?
what is exactly not working?
why the item need public perms?

[2020-03-20 13:58] szafranski commented on #190
Any updates? Service was working absolutely fine for me for few days and now it says
"could not save metadata" :(

[2020-03-20 13:59] szafranski opened #290 "After few days - could not save metadata"
Service was working absolutely fine for me for few days and now it says
"could not save metadata". Is it a knows innue?

[2020-03-22 18:19] JackDallas commented on #286
Sorry let me re-phrase

Digital ocean provides a S3 service with built in CDN, so the bucket address is `<bucketname>.<region>.digitaloceanspaces.com` but the CDN endpoint is on `<bucketname>.<region>.cdn.digitaloceanspaces.com. `

So my settings are
`--s3-endpoint=<bucketname>.<region>.digitaloceanspaces.com`
`--proxy-path=<bucketname>.<region>.cdn.digitaloceanspaces.com`

So the link I get back

[2020-03-23 08:11] aspacca commented on #289
@HamedSepehr did it work?

[2020-03-23 08:18] aspacca commented on #286
@JackDallas now it is clear
there is a question on digitalocean community forum about this issue:
https://www.digitalocean.com/community/questions/how-to-set-spaces-acl-to-public

unluckily no answer. before adding the feature in transfer.sh I would ensure that no solution is given directly on digitalocean side.

have you already opened a ticket/asked them the way to solve?

[2020-03-23 08:20] aspacca commented on #178
@mckaygerhard thanks, I completely lost track of this issue. I can close since #234

[2020-03-23 08:20] #178 closed

[2020-03-23 08:20] aspacca commented on #290
https://github.com/dutchcoders/transfer.sh#disclaimer

This project repository has no relation with the service at https://transfer.sh that's managed by https://storj.io. So far we cannot address any issue related to the service at https://transfer.sh.

[2020-03-23 08:20] #290 closed

[2020-03-23 10:04] JackDallas commented on #286
I'll open a ticket now to be sure!

I tried `put-bucket-acl` like the person in that ticket did but no luck, and searched all the docs

[2020-03-24 07:34] #278 closed

[2020-03-25 07:08] blueberry6401 opened #292 "Damn, the yellow thing covers download button on mobile"
Here it is.
![90562359_232041527987768_7463646531782967296_n](https://user-images.githubusercontent.com/7337535/77510789-243dab00-6ea2-11ea-82cb-d46d9e397416.jpg)

[2020-03-25 07:19] HamedSepehr commented on #289
I couldn't make transfer.sh links resumable, instead I changed my configuration in a way that transfer.sh files are accessible through nginx and now I'm downloading files from nginx.

[2020-03-25 20:12] tarasyarema opened #293 "Could not save metadata error"
Today I was trying to upload a binary without an extension. And I got the following error `Could not save metadata`.

I searched in the code and found it's originated in the file [server/handlers.go](https://github.com/dutchcoders/transfer.sh/blob/2dd23bff3c4f5804080d105ae3a91b2b5ab410a5/server/handlers.go#L323).

I will try to solve it on my own when I have some time.

[2020-03-25 20:15] tarasyarema commented on #293
Ok, just saw the disclaimer... gg I guess.

[2020-03-25 20:15] #293 closed

[2020-04-02 00:52] Gaz492 opened #295 "Uploading images results in 404"
Using the latest version of the docker image dated 23/03/2020 and if I upload an image (only tested with png) I get a Not Found error but if I upload a zip the download page works no problems. I'm using minio as the file storage and the file I upload and the meta data is being uploaded correctly.

Here is the docker logs for the upload and when I go to the download link

[code]

[2020-04-03 21:38] opoto opened #296 "transfer.sh does not support cross origin request"
Hello

transfer.sh does not support CORS request (cross-origin request). This is needed to allow it to be used through REST API from a web page javascript. Today any Ajax request to transfer.sh from a hosted javascript is rejected by the browser.

To support CORS, it has to:
- Accept/serve OPTIONS requests
- Add following headers to your all OPTIONS/GET/PUT/POST/DELETE HTTP responses:
  Access-Con

[2020-04-04 10:42] #289 closed

[2020-04-04 10:43] aspacca commented on #292
This project repository has no relation with the service at https://transfer.sh that's managed by https://storj.io. So far we cannot address any issue related to the service at https://transfer.sh.

[2020-04-04 10:43] #292 closed

[2020-04-04 10:47] aspacca commented on #295
@Gaz492 can you please specify the tag of the docker image you are using?
latest is v.1.1.6

[2020-04-04 11:14] aspacca commented on #295
@Gaz492 I cannot reproduce with local storage (I don't have S3 to test)
what command did you exactly run?
from the logs it seems that you uploaded the file two times with the same folder prefix,this is strage, can you paste the content of `/EXfQa/home.png.metadata` in your S3 bucket?

[2020-04-04 12:31] aspacca commented on #296
@opoto can you check #297 branch?

unluckiley cors middleware for gorilla mux doesn't block at all invalid CORS requests so everything is left to client side validation

[2020-04-04 12:58] opoto commented on #296
Thanks for the quick update!
Code looks good, but I don't have the environment to test. Do you have a test env I can try?

[2020-04-04 18:24] aspacca commented on #296
@opoto then my update won't be of any use: This project repository has no relation with the service at https://transfer.sh that's managed by https://storj.io. So far we cannot address any issue related to the service at https://transfer.sh.

I thought you were referring to a self hosted instance of the service

[2020-04-04 22:12] opoto commented on #296
Sorry for the confusion. But the contact link on https://transfer.sh leads to this GitHub project!
Hopefully they will deploy this patch some day!
Thanks.

[2020-04-09 06:59] Carton32 opened #299 "Max-Days not working"
Hi,

I'm running my own instance with local storage on AWS EC2. I need several scripts during about two months. So I used the parameters `-H "Max-Days: 60"` with curl to upload my files.

After 10 days (so less than 14 days, the default value), I got an HTTP 404 error while trying to download my files. It happened a second time after about 10 days after reuploading my files.

I uploaded again my f

[2020-04-09 08:05] #296 closed

[2020-04-09 08:07] aspacca commented on #299
@Carton32 can you paste full metadata content?
currently `MaxDownloads` has precedence on `MaxDays` if set

[2020-04-09 08:09] aspacca commented on #286
@JackDallas any answer from them to the ticket?

[2020-04-09 08:13] Carton32 commented on #299
This file is in this folder :

So it was uploaded on 27 March but the file is already gone :

[2020-04-09 08:45] aspacca commented on #299
@Carton32 sorry, it was not clear that the file were deleted: actually transfer.sh service doesn't delete any files. if they are deleted from your ec2 instances there must be something else not related to transfer.sh that deletes them
what kind of volume does the ec2 instance has? did you restart the ec2 instance at any time?

i guess the two commands you pasted were run at different time, are the

[2020-04-09 12:19] Carton32 commented on #299
What's strange is that my ec2 instance is fresh and I'm made it just to try AWS and transfer.sh. I did not install anything else than transfer.sh. So I wonder what specifically delete my files after ~10 days if it's not transfer.sh.

I ran all the commands in my last message one after the other and just before writing my message.

I did not restart my instance :

[2020-04-09 12:47] Carton32 commented on #299
So I've found what was the problem. You are absolutely right.

I have this cronjob running each day :
`#! /bin/sh
flags=-umc
/usr/sbin/tmpwatch "$flags" -x /tmp/.X11-unix -x /tmp/.XIM-unix \
        -x /tmp/.font-unix -x /tmp/.ICE-unix -x /tmp/.Test-unix \
        -X '/tmp/hsperfdata_*' 10d /tmp
/usr/sbin/tmpwatch "$flags" 30d /var/tmp
for d in /var/{cache/man,catman}/{cat?,X11R6/cat?,local/cat?};

[2020-04-09 12:47] #299 closed

[2020-04-13 19:28] RemyyB opened #300 "I created a template to transfer folders to zip archives"
Hi there,

Maybe you could add these to the examples, I added the ability to directly convert a folder to a zip archive and upload it (in Batch + Bash), maybe they can be used in the examples ;)

[code]

[code]

Remy

[2020-04-17 08:14] tofuSCHNITZEL opened #301 "Settings via ENV vars"
Hi,

would it be possible to enable the settings (like provider etc.) via environment variables?
there are a lot of gui implementations for docker (e.g. in synology nas or plesk) that only allow the setting of env vars and not adding something to the run command.

thanks!
cheers
Tobias

[2020-04-18 10:30] xNicklaj commented on #116
How do I use file.io with wget instead of curl?

[2020-04-21 17:11] beginrescueend opened #302 "transfer.sh website is down - has been all morning, from Central USA"
transfer.sh website is down - has been all morning, from Central USA

Thanks!

[2020-04-21 21:25] beginrescueend commented on #302
It looks like it's back up, now. Thanks!

[2020-04-24 03:33] oriolrius opened #303 "Custom Web Interface???"
Hi guys, first of thanks for your works it's really useful. I have your app running open at x.joor.net.

BTW, my question is about the parameter 'web-path' because I don't know what do I have to put at that path for having my front end page.

Thanks in advance for your support.

Oriol

[2020-04-24 06:45] aspacca commented on #303
hello @oriolrius , thanks for you appreciation

regarding the custom front-end you are right: I should document how to setup

I will try to help you throught reference to the code, in the meanwhile.

The frontend exepect to have some files with fixed names processed as go templates.
The variable used in the templates are the following:
https://github.com/dutchcoders/transfer.sh/blob/master/server/

[2020-04-24 06:48] aspacca commented on #301
hello @tofuSCHNITZEL

that sould be pretty easy and some of the settings can be already provided by environment variables (see https://github.com/dutchcoders/transfer.sh/blob/master/cmd/cmd.go#L103)

I'm not sure when I'll have time to do it so you're welcome if you want to open a PR for it.

[2020-04-24 08:34] tofuSCHNITZEL commented on #301
its as easy as adding the "EnvVar" to all the flags?
if so... done: https://github.com/dutchcoders/transfer.sh/pull/304

[2020-04-28 14:43] srinisubramanian opened #305 "502 error - Authentication popup never shown in browser"
I have a private transfer.sh instance running with authentication switched on.  The setup is as follows:

1.  transfer.sh running on http://localhost:4000 on Centos 7
2.  Exposed to the internet via nginx with http redirect to https
3. X-Forwarded-Proto  is set so that transfer.sh displays all urls as https

Issue:

1.  When I upload small files of a few KB the browser pop up for auth appears and

[2020-05-03 08:25] cheeseandcereal opened #306 "Cannot use behind proxy running on a different port"
Right now, the `--proxy-path` parameter allows you to run this program behind a web proxy which changes the path of a request, however it does not have a way to take into account the fact that a proxy may also be running on a different port.

For example, if I run this on port 1234 with a web proxy pointing to it at path /ex which is listening on port 80, uploading a file results in the response u

[2020-05-03 08:30] aspacca commented on #306
@cheeseandcereal this can be achieved setting the `Host` header with the port as well
see https://github.com/dutchcoders/transfer.sh/issues/252 for a solution on nginx

[2020-05-03 08:36] aspacca commented on #305
@srinisubramanian I have exactly the same setuo and I couldn't reproduce the issue

can you post your configuration for nginx and the args for transfer.sh?
also, can you test uploading the file directly to transfer.sh with some client that support the authentication challenge?

it seems to be a issue on the nginx side

[2020-05-03 08:39] srinisubramanian commented on #305
In your case does the auth pop up immediately on the web page or after the upload is complete?

I will post the config shortly.

[2020-05-03 08:51] aspacca commented on #305
after the progress bar in the frontend is complete

I was able to reproduce the issue letting transfer.sh listen on http and use the `X-Forwarded-Proto` header

in my current setup transer.sh is also listening on https
[code]

[2020-05-03 09:13] srinisubramanian commented on #305
Yes. My setup runs on http. If you can find an issue let me know. Else maybe I need to run internal on a self signed https certificate.

[2020-05-03 09:16] aspacca commented on #305
if the proxy is on http it has a certificate, so you can use the same on transfer.sh (that's what I do)
I will investigate a little more on the problem

[2020-05-03 09:18] srinisubramanian commented on #305
Ok. So you are suggesting I just turn on https? Will do and check.

[2020-05-03 09:26] cheeseandcereal commented on #306
That's fine for an HTTP proxy which supports modifying requests, but not for something lower level like a raw TCP proxy, or simple routing/firewall rules which are forwarding between different ports

Would you accept a PR if I implemented `--proxy-port` ?

[2020-05-03 10:44] aspacca commented on #305
the problem seems to be on how nginx expects response from the server when uploading file.
the transfer.sh upstream is sending a 401 before nginx finishes to upload the file, causing the 502

now I have the same issue even with https upstream

[2020-05-03 10:44] aspacca commented on #306
oki

[2020-05-03 11:27] #302 closed

[2020-05-03 11:28] aspacca commented on #301
merged to master, thanks @tofuSCHNITZEL

[2020-05-03 11:28] #301 closed

[2020-05-03 11:31] aspacca commented on #305
https://blog.bigbinary.com/2016/01/07/not-using-https-might-be-breaking-file-uploads.html

[2020-05-03 11:39] aspacca commented on #305
it should be solved with http upstream and `X-Forwarded-Proto` and setting the following in the block with the proxy directive:
[code]
can you please try?

[2020-05-03 12:03] srinisubramanian commented on #305
No luck @aspacca Not working.  Still returns the 502 error

Here is my nginx config.

        location / {
                proxy_set_header X-Real-IP  $remote_addr;
                proxy_set_header X-Forwarded-For $remote_addr;
                proxy_set_header X-Forwarded-Proto $scheme;
                proxy_set_header Host $host;
                keepalive_requests 0;
                keepalive_tim

[2020-05-03 12:09] aspacca commented on #305
damn, I tested only once, it worked, now not anymore
can you ask in the nginx mailing list?

[2020-05-03 12:10] srinisubramanian commented on #305
Will do

[2020-05-03 12:59] aspacca commented on #305
thanks

[2020-05-03 13:20] srinisubramanian commented on #305
Here’s what I did for now.

1. Switched off auth in transfer.sh
2. Enabled http basic auth in nginx for the transfersh site except for GET
3. This allows site to load without auth, download to happen without auth and upload prompts for password immediately.

I can live with this for now :)
On 3 May 2020, 5:40 PM +0530, Andrea Spacca <notifications@github.com>, wrote:

[2020-05-03 13:41] srinisubramanian commented on #305
Here’s what I did for now.

- Switched off auth in transfer.sh
- Enabled http basic auth in nginx for the transfersh site except for GET
- This allows site to load without auth, download to happen without auth and upload prompts for password immediately

I can live with this for now :)

[2020-05-03 13:49] aspacca commented on #305
just to know, did you asked in the nginx mailing list?
otherwise I will do

[2020-05-03 13:52] srinisubramanian commented on #305
I will ask tomorrow.  If you want to go ahead

[2020-05-03 15:14] aspacca commented on #305
oki thanks

[2020-05-06 16:53] srinisubramanian commented on #305
Having trouble getting on to that mailing list. Confirmation mail never reaches, tried a couple.

@aspacca can you please post?

[2020-05-06 17:32] aspacca commented on #305
@srinisubramanian just subcribed to the mailing list and waiting for confirmation email as well

https://forum.nginx.org may be an alternative if you want to try (https://forum.nginx.org/read.php?2,255)

[2020-05-08 23:23] cheeseandcereal opened #308 "[Security] Arbitrary reading of data from backing local storage provider"
Right now, the server does not require that a file's `.metadata` neighboring file has to exist before serving it due to this logic: https://github.com/dutchcoders/transfer.sh/blob/8a5c7371408c4e76a798ace93fecd94ea9c6c38e/server/handlers.go#L616-L621

This is an extreme oversight, as it leads to serious security implications.

Firstly, given the known URL of an item on the server, you can freely re

[2020-05-09 09:59] aspacca commented on #308
good catch @cheeseandcereal , I would have preferred a responsible disclosure anyway (https://en.wikipedia.org/wiki/Responsible_disclosure)

[2020-05-09 09:59] #308 closed

[2020-05-09 17:16] cheeseandcereal commented on #308
Yeah, sorry. I was looking for a contact, but couldn't find anything on the repository. Probably worth putting something here to prevent that in the future: https://github.com/dutchcoders/transfer.sh/security/policy

[2020-05-09 17:19] cheeseandcereal commented on #308
Yeah, sorry @aspacca. I was looking for a contact, but couldn't find anything on the repository. Probably worth putting something here to prevent that in the future: https://github.com/dutchcoders/transfer.sh/security/policy

[2020-05-11 01:49] GalacticLion7 opened #310 "Output link needs it's own extra line"
The output link needs it's own extra line.

So it is currently like:
[code]
But it should be like:
[code]
I'm using the `.bashrc` alias.

[2020-05-16 08:19] aspacca commented on #305
@srinisubramanian I found the solution:
`proxy_request_buffering off;`

available from nginx 1.7.11: https://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_request_buffering

[2020-05-16 09:06] srinisubramanian commented on #305
@aspacca This works, thanks.  Also the behavior is such that the user id/pwd is prompted right at the beginning which is good.  Thanks for following up on this.

[2020-05-16 09:06] #305 closed

[2020-05-17 17:07] aspacca commented on #310
@GalacticLion7 this is the expected behaviour since the beginning

[2020-05-17 17:07] #310 closed

[2020-05-17 17:07] aspacca commented on #303
@oriolrius did you manage to use a custom frontend?

[2020-05-17 17:08] GalacticLion7 commented on #310
You didn't explain anything at all.

[2020-05-17 17:09] aspacca commented on #295
@Gaz492 if still an issue please feel free to open a new ticket

[2020-05-17 17:09] #295 closed

[2020-05-17 17:09] aspacca commented on #286
@JackDallas is this still an issue?

[2020-05-17 17:28] #306 closed

[2020-05-31 11:10] Symbian9 opened #312 "Uploading from Travis CI failed"
- https://travis-ci.org/github/Symbian9/Astree/builds/692934176
  - https://api.travis-ci.org/v3/job/692934177/log.txt

[code]

[2020-05-31 11:47] aspacca commented on #312
https://github.com/dutchcoders/transfer.sh#disclaimer

This project repository has no relation with the service at https://transfer.sh that's managed by https://storj.io. So far we cannot address any issue related to the service at https://transfer.sh.

[2020-05-31 11:47] #312 closed

[2020-06-12 22:36] zuh0 opened #313 "Multi-architecture Docker image"
Hello,

I have been using the `transfer.sh` Docker image for quite some time now.

I would like to use it on arm64 but the image you  publish is only amd64.

I might be wrong about this but from what I saw, supporting other architectures should be pretty straightforward and easy using [`buildx`](https://docs.docker.com/buildx/working-with-buildx/) as you don't rely on other images than the `golang

[2020-06-14 16:34] aspacca commented on #313
hi @zuh0 docker hub doesn't provide an automatic way to build for multiple architectures
I've used https://github.com/rmoriz/multiarch-test process to achieve (probably qemu not needed since go can cross compile)

can you test the images built?
https://hub.docker.com/layers/dutchcoders/transfer.sh/ISSUE-313/images/sha256-f114f3dbaa1b3b7a1fc7816acfdfaeba6a0585d75e1b9798219171f7730abb50?context=repo

[2020-06-14 17:26] zuh0 commented on #313
hey @aspacca ,
thanks for the answer !

I will try this image and tell you if it works well. since that is what I use, I can only test the local storage driver using the arm64 architecture for now but that can already be a nice test.

the `moritz/multiarch-test` repo looks nice !

just for the record: I have a setup to automatically build multi-artchitecture docker images in a GithubAction in one

[2020-06-14 18:37] zuh0 commented on #313
I just tried your image [`dutchoders/transfer.sh:ISSUE-313-aarch64`](https://hub.docker.com/layers/dutchcoders/transfer.sh/ISSUE-313-aarch64/images/sha256-b8bab57235b95ee198127120bc849e99369952ee5124405f2a37639a7a7dca05?context=explore) with sha256 = b8bab5.... and I am getting an exec format error so something went wrong and it isn't the right architecture :cry:

I just built images for armv7, ar

[2020-06-14 18:50] aspacca commented on #313
@zuh0 thanks

see https://github.com/dutchcoders/transfer.sh/pull/316 for using the buildx github action
anyway I cannot yet push to docker hub since I need access to project settings from the original maintainer. I've just sent him an email

[2020-06-14 20:01] zuh0 commented on #313
@aspacca I just created a PR to add a workflow to build the images.

The currrent build is going to fail at the push step because of the missing secrets, but the images will build (hopefully) just fine.

[2020-06-21 18:41] #313 closed

[2020-06-27 19:51] couloum opened #318 "Add a changelog"
Hi,

I might have missed it, but I don't find any changelog for this awesome project. I've upgraded to latest version, but I don't know what have changed (new features, bug fixes, security fixes, ...).

Thanks

[2020-06-28 07:57] aspacca commented on #318
hi @couloum we have https://github.com/dutchcoders/transfer.sh/releases
how do you suggest to improve?

[2020-06-28 10:28] couloum commented on #318
Hi,

Thanks for the page. As I'm more used to gitlab, I expected the `releases` link to be on top of the page and not on the right side. My bad.

I like the approach of https://keepachangelog.com in term of changelog. For exemple, from the release page, I still can't figure out what have changed between v1.1.6 and v1.1.7. Also, there's no comment for v1.1.4 and v1.1.5.

What I usually see on other

[2020-07-01 15:36] JackDallas commented on #286
Really sorry for the delay, the world went a bit crazy and dragged me with it, it seems this is something that can be done on digital ocean it just isn't easy, the feature could be useful if you want to create public files in a default by private bucket, I may re-visit this one day but for now it's not a top priority thing

[2020-07-01 15:36] #286 closed

[2020-07-11 18:34] blightwing commented on #277
The issue has returned.

[2020-07-21 12:07] antgonza opened #319 "Possible to activate CORS?"
Thank you for https://transfer.sh/, it seems really helpful and it's great to read about the partnering with Storj Labs.

Anyway, I'm trying to link one of my files with another application via CORS but it seems like it's not enabled in the server; [here](https://www.test-cors.org/#?client_method=GET&client_credentials=false&server_url=https%3A%2F%2Ftransfer.sh%2Fv2rm4%2Fempress-tree.qzv&server_en

[2020-07-21 21:48] cheeseandcereal commented on #319
--cors-domains is an option which lets you specify the domains you want to allow with CORS:
https://github.com/dutchcoders/transfer.sh#usage-1

[2020-07-22 07:51] kingsalman99 opened #320 "good job"
good job bro ,thax

[2020-07-22 10:37] mckaygerhard commented on #320
for sure you are a window loser! please REad the repository and files!

[2020-07-30 10:39] probonopd opened #321 "Is transfer.sh still alive?"
Is transfer.sh still alive?

[2020-08-04 18:18] oriolrius commented on #303
Thanks @aspacca for helping me, finally I had some hours for trying it. I spend more than 2h trying to understand how grunt and bower works but finally, I had the chance to customize the UI.

Sadly, I spent about 3' to "compile" everything every time I want to check any change because I have to wait "grunt build". I suspect I miss something about how to do it.

[2020-08-04 20:19] mckaygerhard commented on #303
maybe you must paste here exact comands to property helps (also make more detailed documentation.. i can make it) @oriolrius

[2020-08-04 20:20] mckaygerhard commented on #321
yes.. why you asking? is working if you compiled it! ans deploy in your host!

[2020-08-04 23:34] probonopd commented on #321
Sorry if I was unclear, I am referring to the public instance hosted at https://transfer.sh - it seems to be really, really slow these days.

[2020-08-05 04:57] cheeseandcereal commented on #321
There is a disclaimer you should read at the _very top_ of the readme

https://github.com/dutchcoders/transfer.sh#disclaimer

[2020-08-12 04:27] ChristianVaughn commented on #321
They should edit the about section of the project then because it directly links to https://transfer.sh. somewhat misleading since the about section on github is seen before the readme.

[2020-08-12 06:55] aspacca commented on #321
done @ChristianVaughn

[2020-08-12 06:55] #321 closed

[2020-08-12 06:56] #320 closed

[2020-08-12 06:56] #319 closed

[2020-08-12 06:58] aspacca commented on #303
@oriolrius happy to help. from grunt you should be able to use the`serve` command to  wach live changes to the code, btw

[2020-08-12 06:58] #303 closed

[2020-08-12 07:01] aspacca opened #322 "Create documentation for custom web interface"
@oriolrius, can you help here?

just a draft/list of commands

I would like to have your input since you were albe to achieve it and therefore have visibility on what are the unclear step/things to know

[2020-08-12 07:02] aspacca commented on #318
@couloum I plan to add a changelong in the format you've suggested. just not having too much time at the moment

[2020-08-12 10:06] probonopd commented on #321
Thanks. What is misleading is that https://transfer.sh links directly here.

[2020-08-16 15:57] UmutAlihan opened #323 "How to remove time & size limit on self-hosted deployment?"

[2020-08-16 16:10] aspacca commented on #323
what time and size limit @UmutAlihan ?

could you give more details?

[2020-08-16 16:15] UmutAlihan commented on #323
as the homepage mentions,

- 10GB max size
- 14 days max storage duration

Does these limitations exist on self-hosted deployment?

I couldn't see anything related in the code. However I don't know Golang.  I can only read the overall code without syntax knowledge. Thus it is likely that I miss sth..

[2020-08-16 16:23] aspacca commented on #323
there're no such limitation in the code

[2020-08-16 16:23] #323 closed

[2020-08-16 16:59] UmutAlihan commented on #323
thank youu!

[2020-08-24 05:07] meghbhalerao opened #324 "Is transfer.sh down?"
Hi all,
I get this error while uploading a file using curl to `transfer.sh`:

`curl: (7) Failed to connect to transfer.sh port 443: Connection timed out`

Is it down as of now?

Date: 24th August, 2020

[2020-08-24 17:34] meghbhalerao commented on #324
Sorry, just realised that this has got nothing to do with the file sharing website. Closing.

[2020-08-24 17:34] #324 closed

[2020-08-26 13:33] telegrambotdev opened #325 "Does this code support Google Teamdrives?"
Does this code supports,google shared drives as file hoster ?

[2020-09-07 09:49] ilium007 opened #326 "What happened to transfer.sh??"
<img width="934" alt="image" src="https://user-images.githubusercontent.com/732766/92374550-3a36e380-f143-11ea-95ed-7c5c91bb953e.png">

[2020-09-08 07:28] aspacca commented on #325
hi @telegrambotdev , I haven't ever tested: I would expect for it to work if you have the right permission.
fastest way to find out is just to try it

[2020-09-08 07:32] aspacca commented on #326
@ilium007 not sure what is going on. Storj Labs doesn't seem interested in the project as far as I can see from their stale PRs. the domain was renewed on May and will not expire until the same month next year (you can check from whois).
I don't know what they mean about not owning the service: the code is open source and if they want they could just host on a different domain.

[2020-09-08 07:42] telegrambotdev commented on #325
but there is no place to mention shared drive id.Thats were i am confused

[2020-09-08 08:01] aspacca commented on #325
@telegrambotdev got it: I don't know how shared drive works. are they not "mounte" on a folder in your drive? in this case just setting the path to that folder could be fine
If you send me some documentations (a link is enough) I could try to add the support

[2020-09-08 15:06] telegrambotdev commented on #325
you can use rclone for shared drive support.Thats the most easyway.

https://rclone.org/install/

[2020-09-17 00:20] rubenmdh commented on #326
It is really unfortunate to see how the transfer.sh project has gone this way.
I discovered it a while back before they announced Storj Labs would take the lead of the main instance. Ever since, it has been inconsistent and unreliable for me. That's why I just opted to host my own instance and I even registered the tranfer.re domain for the purpose, now expired.

I am still hosting a rather "priva

[2020-09-19 10:01] naguam opened #327 "Go get downloads bin"
Hello,
I wanted to build your project to build an instance because of the "death" of the storj.io transfer.sh website.

I got curious about the go get behaviour with the modules, because before building, in the dependencies in the go directory where everything is downloaded with `go get -u -v ./...`, i got a working transfer.sh binary in /home/myuser/go/bin.

So for testing, I decided to not even

[2020-09-19 10:24] aspacca commented on #327
@naguam that's what `go get` is supposed to do: https://golang.org/cmd/go/#hdr-Add_dependencies_to_current_module_and_install_them

the binary is not a dependency, it is installed by `go get`. if you don't want to build and install it you have to pass `-d`

if you want to have the source code for modification/whatever you should not use `go get` but rather clone the repo with git: this way you hav

[2020-09-19 10:26] aspacca commented on #327
README.md has `go get -u -v ./...`, from the cloned repo (even if not specified), to download the dependecies

[2020-09-19 10:30] naguam commented on #327
Thank you for the answer (the test when diden't cloned was to verify I could really have a working binary without the sources)
So with the sources: I tried `go get -u -v ./...` as in the README.md and it downloads also the binary.
Just doing go build without this first step don't download the binary and only the dependencies.

I think i'tsstrange that go get download also the binary when used at t

[2020-09-19 10:36] aspacca commented on #326
@rubenmdh it is not my insterest to support public hosting of the project but in the past I thought about asking sponsorship in terms of free storage to either AWS or Google (the two cloud storage that transfer.sh supports): you could try the same maybe

as for the Storj decision: they opened a PR https://github.com/dutchcoders/transfer.sh/pull/266 for adding native support to their storage one ye

[2020-09-19 10:47] aspacca commented on #327
@naguam see updated README.md https://github.com/dutchcoders/transfer.sh/pull/328/files

with go modules `go build` will fetch the depdencies for you

to clarify: it doesn't download the binary, it builds and installs it in the GOPATH
the binary built with the last step (`go build -o transfersh main.go`) is saved in the same folder of the checkout repo not in the GOPATH

it is not the purpose of t

[2020-09-19 10:55] naguam commented on #327
I understand it is not of the README.md to explain go tools and this is not the problem.
However thank you for all theses explanations. I think I can close the issue.

[2020-09-19 10:55] #327 closed

[2020-09-19 14:06] #325 closed

[2020-09-19 18:22] naguam opened #329 "405 error Method not allowed even if the site works"
Hello,
So I set up a instance,
The site works well, It's great, but when I used `curl --head,` it showed error 405, method not allowed, is it normal ?
I thought it could be because of my nginx reverse proxy (miss configuration) but no : i also tested directly on the localhost:8080 (on the vm I run it) and I confirm the error 405 Method not Allowed (even if the site works).
Thank you.

[2020-09-19 19:56] aspacca commented on #329
@naguam `HEAD` request is not supported on `/`

only on these two path patterns: https://github.com/dutchcoders/transfer.sh/blob/master/server/server.go#L389-L390

[2020-09-19 20:03] naguam commented on #329
Ok thank you for the precision :) (didn't read all the code, maybe should I :+1: )

[2020-09-19 20:03] #329 closed

[2020-09-19 21:28] kyodev commented on #329
hi
you can have a clean header with `curl --head -XGET url`

[2020-10-13 10:17] mihailescu2m commented on #116
curl -T /path/to/file https://oshi.at

(see https://oshi.at/cmd)

[2020-10-18 17:03] SimplyCorey commented on #326
For anyone interested in using a hosted service, I have built https://keep.sh as a free alternative for when transfer.sh goes offline.

If this comment isn't welcome here, please feel free to delete.

[2020-10-19 14:49] mckaygerhard commented on #326
hi @SimplyCorey  where is the code of the keep.sh to property compared and learn.. maybe i can provide hosting but my owners want to learn and analize if are easy .. they can sponsored cos are interesting in it

[2020-10-19 17:08] aspacca commented on #326
@mckaygerhard what about using **this** project (transfer.sh) to provide hosting? :)

[2020-11-02 13:22] hyOzd commented on #326
What about `https://transfersh.com/`? Is this legitimate?

[2020-11-06 19:16] gvasilakiss commented on #326
@hyOzd That's what I got back

Detected malware: Cloud Malware
Access from your browser has been blocked.

[2020-11-10 20:55] Megver83 commented on #326
isn't https://transfersh.com almost the same as what transfer.sh used to be? at least for me it works like transfer.sh, haven't found problems yet

[2020-11-15 17:51] Leopere opened #332 "Feature Request: environment variable for max storage size and duration."
Just would like a variable or two for the two settings in the title of this issue.

[2020-11-15 21:26] aspacca commented on #332
@Leopere what do you mean by duration?

[2020-11-16 00:22] Leopere commented on #332
So the amount of time a file is stored and shared on the TransferSH instance before its purged.

[2020-12-08 21:36] Siyu256 opened #333 "Power Shell invoke-webrequest : Unable to connect to the remote server"
When I try to run file from powershell, I get the error of unable to connect to the remote server. Can anyone suggest? Thank you!

invoke-webrequest -method put -infile ./hello.txt https://transfer.sh/hello.txt
invoke-webrequest : Unable to connect to the remote server
At line:1 char:1
+ invoke-webrequest -method put -infile ./hello.txt https://transfer.sh ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2020-12-15 13:38] stefanbenten commented on #326
Hello everyone,

i can share some light on the issue and turn down of transfer.sh. The owner of the domain and DNS, did not respond to our requests for more than half a year. We had to do some changes to our service, which involved changes to the DNS and the respective servers hosting it. As two deadlines have gone by, we saw no other option than sadly shutting it down.

The PRs have been stale mo

[2020-12-15 14:49] aspacca commented on #326
glad to finally have a feedback @stefanbenten

regarding the PRs:
https://github.com/dutchcoders/transfer.sh/pull/266 I approved this on 24th March and asked you to rerun CI, no answer since then. The PR is already approved: as I wrote back then "after a green run I can merge"

https://github.com/dutchcoders/transfer.sh/pull/294: we discussed by mail the architecture of the changes and what I woul

[2020-12-28 10:29] lorddickfist opened #335 "Not working is transfer.sh down"
Tried
` curl --upload-file ./hello.txt https://transfersh.com/hello.txt`
and I got
[code]
Any suggestions?

[2020-12-28 10:35] #326 closed

[2020-12-28 10:35] aspacca commented on #333
https://github.com/dutchcoders/transfer.sh#disclaimer

https://github.com/dutchcoders/transfer.sh/issues/326#issue-694925702

[2020-12-28 10:35] #333 closed

[2020-12-28 10:35] aspacca commented on #335
https://github.com/dutchcoders/transfer.sh#disclaimer

https://github.com/dutchcoders/transfer.sh/issues/326#issue-694925702

[2020-12-28 10:35] #335 closed

[2020-12-28 10:37] aspacca commented on #332
this is something advertised on the frontend but there is no such handling in the code.
I plan to add it as soon as I will have more time

max storage size would be the size allowed for single upload?
I could work on it

[2020-12-28 12:15] Leopere commented on #332
On Mon, Dec 28, 2020 at 5:37 AM Andrea Spacca <notifications@github.com>
wrote:

[code]
I’ve noticed.

Currently i just mount my instance’s volume to /tmp/. It would be good to
have the self purge be available but default and then maybe do what
Hastebin does and renew the lifespan after an access. Another thing is
there should potentially be a download limit by default to avoid this being
in worms

[2020-12-28 19:23] aspacca commented on #332
this you can set with an header in the request.
there are also virustotal and clamd endpoints: https://github.com/dutchcoders/transfer.sh/blob/master/server/server.go#L422-L423

in general for private use I suggest to lock upload behind http auth credentials

I tested the second many times ago and it was working properly.
feel free to try both of them and report any bugs

the problem is that it sh

[2020-12-31 19:30] #332 closed

[2020-12-31 19:34] Leopere commented on #332
This unfortunately defeats the ease of use of this project I was kind of hoping to just kind of leave my instance public.  If there was an option available to allow the Admin to set default expiry/purge that would be absolutely brilliant.

I'm in no rush to have this fix I just have a scheduled container restart and it purges my instance from previous blobs automatically that way.

Thanks for this

[2020-12-31 19:50] aspacca commented on #332
if you use `http-auth-user` and `http-auth-pass` param the instance can still be public, but upload require http basic auth

I intend to implement the cleanup feature with expiring time for uploads, but it has to be implemented on every backend storage and it will take a little time

[2021-01-06 09:16] vas777 opened #338 "disclaimer needs update?"
Hi all.
I have noticed that `transfer.sh` is up and running again and `whois` shows Dutchcoders as organization.
Do you manage this domain or someone just uses your name ?
[code]

Also what about `transfersh.com` ? If disclaimer is still valid and you do **not** manage `transfer.sh` maybe include  `transfersh.com`?

[code]

Thank  you for answers.

[2021-01-06 12:24] aspacca commented on #338
@vas777 transfer.sh was always registered by ducthcoders, they are the original author and mantainer of the project. I will try to contact @nl5887 about having the website back online.
I added a note about transfersh.com in the disclaimer, thanks

[2021-01-06 12:24] #338 closed

[2021-01-11 15:04] aspacca commented on #332
@Leopere I addeded the upload purge feature
latest version (v1.2.1) has it working properly also for local storage

[2021-01-11 17:33] Leopere commented on #332
Thanks, I'll take a look.

On Mon, Jan 11, 2021 at 10:04 AM Andrea Spacca <notifications@github.com>
wrote:

[2021-01-12 05:50] Leopere commented on #332
So far no console errors or anything when I added the variables to clear once a day any files older than 30.  We'll see!