[2021-01-26 21:03] splifter opened #341 "Docker compose"
Hey everyone,

i've tried to run transfer.sh via docker-compose:

transfer:
    container_name: transfer
    image: dutchcoders/transfer.sh
    volumes:
      - /home/splifter/docker/transfer.sh:/tmp/
    environment:
      - basedir=/tmp/
      - provider=S3
      - s3-endpoint=https://minio.domain.tld
      - bucket=transfer.sh
      - aws-access-key=SUPERSECUREKEY
      - aws-secret-key=SUPERSE

[2021-01-26 22:07] splifter commented on #341
fixed it with using the command option within the docker-compose file:

command: --basedir /tmp/ --provider s3 --s3-endpoint https://minio.domain.tld --bucket transfer.sh --aws-access-key SUPERSECUREKEY--aws-secret-key SUPERSECT--listener 1337

[2021-01-26 22:07] #341 closed

[2021-02-01 17:10] alexeyantropov opened #342 "Add \r\n in http-response's body"
Please, add a new-line in response. Last versions of apps breaks consoles and my mind.

For example:
[code]

[code]

It would be good, if the answer looks like this:

[code]

[code]

[2021-02-01 18:55] aspacca commented on #342
@alexeyantropov newline was never present in master, neither in tagged versions. it is the original intended behaviour to be clipboard friendly and I don't want to break it

I'm talking about the code in the repo: I have no control on the what's deployed on https://transfer.sh and I cannot say if any modified codebase was deployed there

[2021-02-01 18:55] #342 closed

[2021-02-01 19:03] aspacca commented on #342
@alexeyantropov you want to use
[code]

[2021-02-15 12:04] sicenul opened #343 "activating http basic auth"
I am using docker with local provider
I need to protect only authenticated user can upload a file.
is it possible by using http basic auth?
If so, how to setup using docker? and please also provide curl sample for uploading a file with auth.

Please enlighten me, thanks in advance

[2021-02-15 12:35] aspacca commented on #343
hello @sicenul
you have to set the following two ENV variables:
`HTTP_AUTH_USER`, `HTTP_AUTH_PASS`
https://github.com/dutchcoders/transfer.sh/blob/master/cmd/cmd.go#L247-L257

curl upload works just passing credentials in the URI: ie: `https://user:pass@domain.com/etc`

[2021-02-15 12:35] #343 closed

[2021-02-15 12:38] sicenul commented on #343
great it work, thanks for your fast response.

[2021-02-16 16:35] stek29 opened #344 "Add option to disable inline handler"
inline handler can be considered insecure (especially for self-hosted installations), since it allows direct view of any file type, including html files.
and allowing inline handler for html files leads to stored XSS via user uploaded content.
example: https://transfer.sh/inline/qEksd/test.html

[2021-02-16 17:00] stek29 commented on #100
since there are no complex entry points, it should be trivial to set uid/gid manually when starting the container
imo it should be up to end user to run the image properly, and images should not enforce uid/gid on their own

[2021-02-16 17:02] stek29 commented on #100
I think that updating readme with note about setting uid/gid when starting the container should be enough

[2021-02-16 17:41] aspacca commented on #344
@stek29 I think that instead of disabling the inline handler we could sanitize the html content using bluemonday (https://github.com/microcosm-cc/bluemonday).
It's just a matter of adding at https://github.com/dutchcoders/transfer.sh/blob/master/server/handlers.go#L1011
[code]

What do you think?

any content type other than `text/html` to sanitize?

[2021-02-16 17:42] aspacca commented on #100
@stek29 if you are going to suggest how to update the readme I'm happy to do it (you can do as well opening a PR)

[2021-02-16 18:09] TheAssassin commented on #100
That's total nonsense. A Docker image should not be insecure by default. It's considered a best practice to avoid running as root when it's totally unneeded. You can always override the uid/gid, but that's nothing you should have to do to make using a Docker image safe.

Docker environments aren't as isolated as, say, a VM. root can do a lot of harm, even from a container.

Implementing what I sug

[2021-02-16 18:14] aspacca commented on #100
please, @TheAssassin keep it respectful :)

feel free to open a PR, I'm sorry you were expecting a confirmation for this on my side. If I knew you were I would have given when you opened the issue :)

[2021-02-16 18:29] TheAssassin commented on #100
How do you call nonsense nonsense otherwise? I'm not a fan of seeing security concerns not taken seriously or, worse, calling it a user's problem. Blaming the user is always easier than solving an issue properly. This is not a matter of preference or opinion anyway. The principle of least privilege is well established in IT security.

I'll file a PR soon-ish.

[2021-02-19 14:15] aspacca commented on #344
fixed with #347

[2021-02-19 14:15] #344 closed

[2021-02-20 11:24] soulofmischief opened #348 "Print new line in transfer.sh"
The minified script offered on https://transfer.sh should have `printf "\n";` appended to the end of the function, so that the next bash prompt is on a new line and not the same line as the returned URL.

[2021-02-20 17:48] aspacca commented on #348
@soulofmischief can you please refer to the file and line of code that has to be changed from the frontend repo: https://github.com/dutchcoders/transfer.sh-web/tree/master/src?

I guess it is somewhere here: https://github.com/dutchcoders/transfer.sh-web/blob/master/src/index.html

[2021-02-20 18:12] soulofmischief commented on #348
@aspacca https://github.com/dutchcoders/transfer.sh-web/pull/35

[2021-02-22 10:29] beriner opened #351 "Transfer.sh delete link not working"
To reproduce:

1. Upload file and grab delete link
2. Send delete link from browser

Result:
[code]

Manual delete via Curl etc. is working.

I don't know if it is config problem on website or problem in code.

[2021-02-22 10:48] stefanbenten commented on #351
Hello @beriner !

The Browser does not use the DELETE request type, when entering the URL in your browser bar.

Curl specifies it specifically, hence that's why it's working.

The code is hereby working as intended.
Please let us know, if that does not explain the behavior!

[2021-02-22 12:52] stefanbenten commented on #322
I can also assist with this sometime this week.
As we have been running a different UI in the past, I can pull out the script I used for that.

[2021-02-22 15:06] MiniXC opened #352 "``not found``"
Any files uploaded at the moment simply return ``not found``.
I tried from several IPs and on both http and https.
File size also does not seem to matter as even tiny files return ``not found`` once uploaded.

[2021-02-22 15:20] stefanbenten commented on #352
Can confirm the same, the files are present in the storage layer.
Seems like the latest bump yesterday introduced some changes, i'll check.

[2021-02-22 15:26] stefanbenten commented on #352
Okay, issue resolved.

[2021-02-22 15:26] #352 closed

[2021-02-22 18:15] MiniXC commented on #352
Thanks, didn't expect such a quick response!

[2021-02-22 23:14] beriner commented on #351
Hi @stefanbenten ! I read through implementation discussion here: https://github.com/dutchcoders/transfer.sh/issues/44#issuecomment-399234697.
So I understand it is not an issue with the code. It is the the website transfer.sh that should provide a delete form to process the delete GET-request, correct? So my wish would be that such a page would be set up for transfer.sh so that deletes can be suc

[2021-02-22 23:32] stefanbenten commented on #351
Please open a new issue for this, since the above explained issue is not related to this specific issue any more (it is working as intended).
Then we can start a better discussion including @aspacca on the new issue about possible solutions and the possibility of implementing that webpage.

[2021-02-22 23:32] #351 closed

[2021-02-23 08:51] beriner opened #353 "Transfer.sh Deletion via browser returns 405 error, reconsider implementation for Delete via Get request?"
Hi @stefanbenten ! I read through implementation discussion here: https://github.com/dutchcoders/transfer.sh/issues/44#issuecomment-399234697.
So I understand it is not an issue with the code. It is the the website transfer.sh that should provide a delete form to process the delete GET-request, correct? So my wish would be that such a page would be set up for transfer.sh so that deletes can be suc

[2021-02-23 08:57] beriner commented on #353
If a Get-Request for deletion would be some really long and random string, wouldn't that be sufficient against malicious deletions or deletions by crawlers?
As we see with transfer.sh website, deletion by browser is not set up (maybe intentional, maybe in error), so atm files cannot be deleted via browser on that site.
This shows that it would be certainly much simpler and easier for the user as w

[2021-02-23 10:00] stefanbenten commented on #353
@aspacca I would like to get your opinion and insight on this 👍

[2021-02-23 22:33] aspacca commented on #322
thanks @stefanbenten

[2021-02-23 22:46] aspacca commented on #353
@stefanbenten I usually focus more with cli interaction and that's the reason why I didn't implement a delete mechanism on the UI. for me transfer.sh is still a cli focused service, I would have some concerns in providing the delete functionality in UI especially if it expected to work without requiring `additional setup or additional form/button action but could be done via GET-request`

One solu

[2021-02-23 22:47] aspacca commented on #352
@stefanbenten was it something related to upstream or specific to the hosted service?

[2021-02-23 22:49] stefanbenten commented on #353
I totally got that impression and tend to agree with that.
Still want to give more people a chance to provide options and solutions.

[2021-02-23 23:06] stefanbenten commented on #352
Flags have changed from the version that was deployed before. I updated everything and it worked again.

[2021-02-24 07:43] aspacca commented on #352
that was unexpected, what flags have changed?

[2021-02-24 10:00] beriner commented on #353
I think the transfer.sh website should provide a way to perform deletions through the browser. With form/button or without either way is fine. But there should be a way for deletion right from that website. That's number one.

Number two is the code. And for

I don't see an argument against GET-request here. The functionality for scripted deletion is already there and unattended/scripted deletion

[2021-02-26 02:46] l1ving opened #354 "I did not make my curl request with `-i`, is there no way to delete what I have uploaded by now?"
As the title says, I don't know my `X-Url-Delete` now. I uploaded something sensitive by accident, could I get in contact with one of the maintainers to delete it?

[2021-02-26 14:26] stefanbenten commented on #354
Hello @l1ving !
You can reach out via email to me (found in my profile) with the problematic links and i'll get them removed.

We are currently working on a website/form for these requests.

[2021-02-26 15:32] l1ving commented on #354
Thank you!

[2021-02-26 15:32] #354 closed

[2021-03-01 22:08] stek29 commented on #344
@aspacca your solution seems good enough (.Contains html)
I’d still prefer to have an option to disable inline handler completely tbh, but yeah, it’s good enough

[2021-03-01 22:17] stek29 commented on #344
Is content type sanitized in any way? MIME types are case insensitive afaik, and from what i see it’s not lowercased anywhere

[2021-03-01 22:32] aspacca commented on #344
you are right @stek29 :
https://github.com/dutchcoders/transfer.sh/blob/master/server/handlers.go#L476-L480

I forgot that we use `mime.TypeByExtension` (that's lowercase) only if `content-type` header is emtpy
I will apply lowercase here: https://github.com/dutchcoders/transfer.sh/blob/master/server/handlers.go#L386

[2021-03-02 16:38] aspacca commented on #344
@stek29 https://github.com/dutchcoders/transfer.sh/pull/355
what do you think?

I also reduced sanitzation to inline content disposition: ie, when you download the file you want it to be the original one

[2021-03-16 16:55] stek29 commented on #344
@aspacca do you mind making a release including these two fixes?

[2021-03-16 18:45] aspacca commented on #344
done!

[2021-04-02 10:45] apoorvumang opened #356 "No URL returned for certain files"
Hi

For some files,  works fine and returns a URL, for some 500MB files it does not return any URL
Working:
[code]
Not working:
[code]

[2021-04-02 10:50] apoorvumang commented on #356
pickle files aren't working for me, I saved the same data (500MB) as a text file and it worked.

[2021-04-02 10:50] #356 closed

[2021-04-03 15:26] iwa commented on #195
i know this issue is 2yo now, but still: yes it does support GCS

set your provider to `s3`
use `https://storage.googleapis.com` as `s3-endpoint`
[create your keys](https://cloud.google.com/storage/docs/authentication/managing-hmackeys#create) and put them as `aws-access-key` and `aws-secret-key`
set your `bucket` to your bucket's name

and you're done!

[2021-04-05 18:36] TasinAyon opened #357 "Curl failing: ssl certificate problem"
My uploads using curl is failing and i get this msg:

curl: (60) SSL certificate problem: certificate has expired
More details here: https://curl.haxx.se/docs/sslcerts.html

curl failed to verify the legitimacy of the server and therefore could not
establish a secure connection to it. To learn more about this situation and
how to fix it, please visit the web page mentioned above.

[2021-04-05 18:55] stefanbenten commented on #357
Issue has been resolved, automatic hook failed.
Thank you for reporting!

[2021-04-05 18:55] #357 closed

[2021-04-06 23:24] dmitrizzle opened #358 "Footer links don't work"
Hey guys, I'm just passing on a found bug here. I don't use transfer.sh personally, but I received a file from someone who does and noticed that none of the footer links, incl. the donation button work on the file download page. Using latest Chrome on macOS.

[2021-04-07 08:48] aspacca commented on #358
@stefanbenten can you check this?

The only broken link I could find on two Chrome based browsers was the "Contact Us"

[2021-04-07 15:34] stefanbenten commented on #358
The Contact Us Button is definitely broken/not working as it redirects to an non existing page.
Besides that the donation button only seems to work when your browser recognizes `bitcoin:XXX` as app target. Tools like Metamask would do that. I never touched that part of the code, but might be good to do @aspacca ?

[2021-04-07 16:33] dmitrizzle commented on #358
Here's a GIF. I haven't looked in to it but it seems like a JS or HTML structure issue. These links work fine on homepage.
![Apr-07-2021 09-32-36](https://user-images.githubusercontent.com/8587882/113902022-4ee46400-9784-11eb-8748-f4701f5105f9.gif)

[2021-04-07 16:41] aspacca commented on #358
@dmitrizzle could you share Chrome build and macOS version? thanks

@stefanbenten https://github.com/dutchcoders/transfer.sh-web this is the repo for the frontend.
We could also remove some of the links (like the bitcoin donation etc). "Contact Us" should be probably rendered only if a param is passed to the binary, using a mailto:paramValue or similar

[2021-04-07 16:58] stefanbenten commented on #358
I just checked it myself on Windows and Ubuntu 20.04 with Chrome and both show the Donate link and the misconfigured blog link. The founded in Holland is just a photo, not an actual link @dmitrizzle .

@aspacca I'll see if i can update the respective pieces later today.

[2021-04-07 23:59] dmitrizzle commented on #358
If you still need the info:
Chrome: `Version 89.0.4389.114 (Official Build) (x86_64)`
macOS Mojave: `10.14.6 (18G8022)`

[2021-04-08 09:49] aspacca commented on #358
@dmitrizzle tested same chrome build on macOS Catalina `10.15.7`, all the links work
(btw, `Founded in Holland` is not a link :))

could you ask your friend if there's any error in the network tab or in the console?
it might either something in the frontend that triggers on your friend specific setup, or something in your friend setup totally unrelated to the website

[2021-04-08 09:53] aspacca commented on #358
oki, it's the download page, not the homepage. I missed it in the first place.

@stefanbenten I can reproduce the bug on the donwload page https://transfer.sh/zxXKM/hello.txt with a chrome based browser. the html seems fine

@dmitrizzle thanks, no need to collect any more data :)

[2021-04-08 09:54] aspacca commented on #195
@iwa good to know, thanks!

I will add the instruction in the README

[2021-04-08 09:59] iwa commented on #195
you're welcome!

[2021-04-09 16:23] EMREOYUN opened #360 "[Server Issue] Transfer.sh keeps closing connections while uploading and downloading..."
Hello,

As the your website does not working a "Contact Us" button(mentioned in #358), i'm writing my issue here.

While uploading a file(between 200M and 300M) from my server, transfer.sh server closes the connection weirdly without completing the upload..
While downloading one of my files to my computer, transfer.sh server also closes the connection at 64M,128M,192M or 256M without completing th

[2021-04-09 16:27] EMREOYUN commented on #360
![ApplicationFrameHost_5Fy7jkNsNN](https://user-images.githubusercontent.com/35144629/114211680-9841d880-9969-11eb-840d-bcafd140ef4d.png)
Here is one of my test file failed to upload.

[2021-04-11 15:53] EMREOYUN commented on #360
![image](https://user-images.githubusercontent.com/35144629/114311402-4333cd00-9af7-11eb-8040-98d719500585.png)

[2021-04-12 19:45] stefanbenten commented on #360
The issue should be resolved and came from the underlying storage provider.
Please let me know, if you still encounter issues.

[2021-04-12 19:45] #360 closed

[2021-04-12 20:00] EMREOYUN commented on #360
I tested right now and it uploaded as usual speed and correctly.

[2021-04-17 13:15] EMREOYUN opened #361 "[Server Issue] Transfer.sh is down"

[2021-04-17 14:00] stefanbenten commented on #361
I cannot see any issues with it. Can you please double check? @EMREOYUN

[2021-04-17 17:22] EMREOYUN commented on #361
It was down a while in Turkey, now it seems working again.

[2021-04-17 17:22] #361 closed

[2021-04-20 17:38] netbofia opened #363 "New feature: QRcode"
Hey, along with the url you could print-out a QRcode on the terminal. As an opt-in extra.

[2021-04-25 03:30] JustAnotherArchivist opened #364 "Useless download count tracking for files without a download limit"
This is essentially an extension of #362, but I wanted to put this up for discussion first as it's not as clear-cut.

There is currently no mechanism for changing the download limit for a file short of manually manipulating the metadata file. For that reason, it's useless in my eyes to track the download count at all on files that don't have a download limit set as it will never be used. The main

[2021-04-25 07:13] aspacca commented on #364
I'm fine without being able to change the `MaxDownloads`, mostly because it was never a feature and nobody requested it (so, it's not a missing feature ;)), and to introduce it would require some logic for identifying the owner of the upload that would be allowed to change the value: that's far from straightforward.

If I got right what your proposal is, it would be just a matter of checking `meta

[2021-04-25 15:55] JustAnotherArchivist commented on #364
I suppose that could reuse the deletion token, so e.g. a PUT request against that URL with the new `MaxDownloads` value in a header, query, or body. But yeah, considering nobody asked for it in 6.5 years, it's probably not worth implementing.

Yes, that's correct.

[2021-04-25 16:36] stefanbenten commented on #364
I think that is a totally fine approach!
Much appreciate the improvement proposal! :+1:

[2021-04-25 16:37] stefanbenten commented on #363
Hey @netbofia ,

do you have an example how this should look like? How would an request via eg. curl look like?

[2021-04-25 18:03] JustAnotherArchivist commented on #348
This would certainly be useful for manual terminal usage with e.g. curl. I've long had a little script that essentially does `curl --upload-file ...; echo` for this reason. However, the lack of a newline is great for automation as you'd otherwise have to strip it again to get the actual URL.

[2021-04-25 19:00] #364 closed

[2021-04-25 19:02] stefanbenten commented on #348
We could simply handle with with an additional header.
The usages that i know of, prefer the current version, for ease of automation.

[2021-04-26 09:02] netbofia commented on #363
My initial though was that, the curl request was processed normally with the upload of the file. And the curl response might be some code that could be converted in the shell into a QR code.

After second look, this isn't as trivial as I though since you can't make a QR code out of characters in the command-line, and I see that your landing have already has a QR code on it.

I guess this can be cl

[2021-04-26 09:02] #363 closed

[2021-04-27 16:48] MayankFawkes opened #366 "[QUESTION] Is there any API which returns the server settings."
Server settings includes the max file size and some basics.  because it will be good for development purpose and better than scraping.

[2021-04-27 18:05] aspacca commented on #366
@MayankFawkes there's no API showing the server configuration. can you clarify what benefit such endpoint would bring for development purpose? I assume that if you are developing you are running your own instance and so you know what's the server setup.

[2021-04-28 06:00] MayankFawkes commented on #366
Lets say i am building my some file sharing system with `transfer.sh`, since there are alot people using `transfer.sh` backend on public domain this might be useful to verify the file size before uploading the file. It might not useful for all users but its for me from my perspective. thanks

[2021-04-28 06:00] #366 closed

[2021-04-29 11:11] aspacca opened #367 "Moving from travis-ci to github action - HELP WANTED :)"
Travis-ci introduced a new billing policy (https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing).
While CI and release artifcats seems to not be affected at the moment, the build badge is broken
([![Build Status](https://travis-ci.com/dutchcoders/transfer.sh.svg?branch=master)](https://travis-ci.com/dutchcoders/transfer.sh))
We should move from travis-ci to github action, adapting the curre

[2021-05-01 17:53] #367 closed

[2021-05-07 05:28] MayankFawkes opened #369 "[QUESTION] Can max-downloads and max-days used together?"
what if i send `max-downloads` and `max-days` together in one header will it work according?

Lets say i set `max-download: 5` and `max-days: 5`
* it means the file will get deleted after 5 days no matter if file gets downloaded 5 times or not
* if it gets download 5 times in a single day then also it wil get deleted.
* both

Thanks

[2021-05-07 09:12] aspacca commented on #369
hi @MayankFawkes
first of all: the file won't be deleted according to that two values, only access to it will be denied (file purging is related to a setup value when starting the server)

as for your question: yes, they will work together (https://github.com/dutchcoders/transfer.sh/blob/master/server/handlers.go#L660-L663)

we check if `max-downoad` is reached, and return error/deny access if so

[2021-05-07 09:12] #369 closed

[2021-05-10 07:55] parisni opened #371 "Can one configure the file hash size to increase security ?"
`<domain>/11OFYI/bar.png` can the `11OFYI` string size be increased ? 6 charcacters makes brute force possible
to discover files on the server

[2021-05-10 08:29] aspacca commented on #371
thanks for the suggestion @parisni
#372

[2021-05-21 08:38] stefanbenten commented on #371
Fixed with https://github.com/dutchcoders/transfer.sh/commit/49c6d7ee4fda62d6334b87b1a9c8c1c6adea8018

[2021-05-21 08:38] #371 closed

[2021-05-21 08:41] stefanbenten commented on #348
@JustAnotherArchivist Did you see the example alias/function for the linux terminal? That would essentially be what you want for manual usage. Please correct me if there is any other manual way that wouldnt work with that?

[2021-05-21 18:45] JustAnotherArchivist commented on #348
@stefanbenten Yeah, I'm aware of that. I originally wrote my script to work around percent-encoding bugs (#213 and #215) and still use it to `sed 's,%40,@,g'` because I prefer having the at sign in unencoded form. It also prints the deletion URL to stderr whereas it's normally silently swallowed.

[2021-05-21 18:59] JustAnotherArchivist commented on #353
I'd like to bring up a point that hasn't been mentioned yet at all: HTTP semantics. `GET` is not meant to alter server state. Its meaning is to 'transfer a current representation of the target resource', as RFC 7231 puts it. The `DELETE` method specifically exists to delete a resource.

Deleting a file with a `GET` request – or really anything but `DELETE` – would be an abuse of the HTTP spec, in

[2021-05-21 19:09] aspacca commented on #353
@JustAnotherArchivist completely agree, and that was (one of) the ratio behind my proposed implentation

[2021-05-21 19:15] JustAnotherArchivist opened #377 "Include handler errors in the log file"
I realised today that many messages only get logged to stderr, not to the log file. In particular, this includes all errors in the handlers, e.g. errors on reading from the storage (i.e. the `log.Printf` calls in `handlers.go`). I'd like to suggest having those both on stderr and in the log file (if one is specified).

[2021-05-21 19:19] JustAnotherArchivist commented on #353
Yeah, an endpoint with a small form would work. Or a `GET` request on the deletion URL could return a UI that, possibly after asking the user for confirmation, triggers a `DELETE` request via `XMLHttpRequest` for the actual deletion.

[2021-05-21 19:24] aspacca commented on #353
@beriner

https://github.com/dutchcoders/transfer.sh/pull/372 now address the brute force issue

while 5/6 alphanum mixed-case chars for the upload url are easily brute forcebale, 10/11 would be safe enough

https://tmedweb.tulane.edu/content_open/bfcalc.php
https://www.betterbuys.com/estimating-password-cracking-times/

we could go even further and decouple the deletion url from the upload url

t

[2021-05-22 08:46] aspacca commented on #377
I will check @JustAnotherArchivist , thanks for reporting.

[2021-05-29 09:25] aspacca commented on #353
I've a local branch on transfer.sh-web with UI change for allowing deletion:
1. On upload page we print as well the `X-Url-Delete` header
<img width="667" alt="deletion-UI-01" src="https://user-images.githubusercontent.com/221530/120065043-a52c9f80-c06f-11eb-879a-985c4471e7e3.png">

2. Added a `Delete` button on the preview page:
<img width="682" alt="deletion-UI-02" src="https://user-images.githu

[2021-05-29 21:36] JustAnotherArchivist commented on #353
People who aren't familiar with the internal terminology will likely struggle to understand what the 'deletion token' is since I don't think that term is used anywhere else in the UI. I see two possible approaches to fix that: introduce the term on the upload, i.e. show the deletion token after upload, not the deletion URL; or avoid the term and use the full deletion URL instead.
I'd prefer the la

[2021-05-30 06:44] aspacca commented on #353
fair point

@stefanbenten what do you think is best? asking for the full `DELETE` url or printing just the deletion token on upload?

that's what I'm refrained to do: the deletion token (or the full delete url) should be threated as a confirmation secret to trigger the deletion. while providing a confirm button would make the thing just a little harder for abuse, it won't be enough in my opinion.

[2021-06-10 01:09] dburman opened #378 "self hosted transfer.sh reports the wrong URL when run behind TLS terminating web proxy"
self hosted transfer.sh reports the wrong URI when run behind TLS terminating web proxy

Example:
Running HA Proxy to to centralized TLS termination.
transfer.sh is running in a docker
Public Internet URI:   https://transfer.example.com
reported URIs on the webpage & tool:  http://transfer.example.com/*

override option for hostname & protocol (https) ?

[2021-06-11 02:33] cheeseandcereal commented on #378
Set your proxy to add the `X-Forwarded-Proto: https` header when forwarding traffic

[2021-06-18 13:16] g33k247 commented on #51
curl -I https://transfer.sh
curl: (7) Failed to connect to transfer.sh port 443: Connection refused

[2021-06-21 03:31] dburman commented on #378
Thanks!

[2021-06-21 03:31] #378 closed

[2021-07-03 02:19] JustAnotherArchivist opened #380 "Race condition crash in `CheckMetadata` locking: fatal error: concurrent map read and map write"
Our transfer.sh server crashed today with the following traceback (only the relevant lines, paths redacted):

[code]

The line numbers differ from the code in this repository as I'm running a modified code, but I'm all but certain that these modifications are unrelated to the crash. From the bottom, the corresponding lines in the current master code are:

https://github.com/dutchcoders/transfer.sh

[2021-07-05 15:26] EMREOYUN opened #381 "[Server Issue] Transfer.sh once again uploads nothing"
I can't upload anything on your server, it makes the speed very slow(sometimes directly 0)
![image](https://user-images.githubusercontent.com/35144629/124493357-36550b80-ddbe-11eb-9db2-80eed27c9c9f.png)

I also requested IP change from my host and new IP also having same issue. This is 4th time in this week(I upload once every day).
I also know what you guys want from me so there you go:
![image](

[2021-07-05 17:03] EMREOYUN commented on #381
![image](https://user-images.githubusercontent.com/35144629/124502401-14fb1c00-ddcc-11eb-99c4-91d6a6c721d1.png)
And it eventually started kicking us because connection speed is too low

[2021-07-05 21:41] aspacca commented on #380
@JustAnotherArchivist makes sense, I will try to check in the weekend, probably need to change `s.locks` with https://golang.org/pkg/sync/#Map

[2021-07-06 08:20] aspacca opened #382 "Release dynamically linked"
in the release github workflow we are not building a static binary:
https://github.com/dutchcoders/transfer.sh/blob/master/.github/workflows/release.yml#L37
`go build -o ./artifacts/transfersh-${GITHUB_REF##*/}-${{ matrix.suffix }}`
vs
`go build -tags netgo -ldflags '-a -s -w -extldflags "-static"' -o ./artifacts/transfersh-${GITHUB_REF##*/}-${{ matrix.suffix }}`

[2021-07-06 16:52] #382 closed

[2021-07-06 21:19] stefanbenten commented on #381
Hello @EMREOYUN,

can you please recheck? I cannot see any performance bottlenecks or limits currently.
I just uploaded a 8GB ISO Image just fine with 15MB/s avg speed.

[2021-07-06 21:21] stefanbenten commented on #377
I would suggest to chose either stderr or log, but not both.

[2021-07-06 21:24] stefanbenten commented on #353
In my mind the deletion page would require some sort of captcha. I am not opposed to either route, possibly printing just the token for scripted deletion without captcha on upload and having the actual full URL with the confirmation button + captcha on the WebUI solves this?

[2021-07-06 21:26] EMREOYUN commented on #381
Today, it will better but still slow. I can't even pass 400kbps at all. Next backup run will happen tomorrow and i'll notify you the results.

[2021-07-06 21:28] stefanbenten commented on #381
Thank you. Could you please let me know your request URL and IP by chance at the end? If sensitive, happy to receive them via mail.

[2021-07-06 22:24] aspacca commented on #377
We should only rely on the logger instantiated in the cmd package: https://github.com/dutchcoders/transfer.sh/blob/master/cmd/cmd.go#L294

This will either use stdout or the log file if set (https://github.com/dutchcoders/transfer.sh/blob/49c6d7ee4fda62d6334b87b1a9c8c1c6adea8018/server/server.go#L160-L176)

The calls to `log.Printf` etc should be replaced by `logger.Printf` etc

[2021-07-06 22:29] aspacca commented on #353
What do you mean exactly for captcha @stefanbenten?

I would be fine having a bot performing the deletion, as long as it would need a secret to perform it (complex enough to not be brute forced)

Also I wouldn't support any solution that would require to enable cookies or relying on third party services: I'm not aware of any captcha solution fulfilling this requirements but if they exists I would

[2021-07-06 22:37] aspacca commented on #353
In general I would go for the proposed solution (see the screenshots https://github.com/dutchcoders/transfer.sh/issues/353#issuecomment-850802916)

I would rather print only the deletion token instead of the deletion url in the upload page, since it seems cleaner to me.
But I understand the concern from @JustAnotherArchivist that we would hide information about the fact the is the whole deletion u

[2021-07-07 13:31] EMREOYUN commented on #381
For today, it seems good now, it uploaded the file at normal speed but it really depends by luck i guess.

[2021-07-07 13:51] stefanbenten commented on #381
I am glad to hear that. I'll keep a closer eye on bandwidth and CPU util graphs for the next few days.
Would you be open to closing until you encounter very low speeds again (say less than 4-5MB/s)?

[2021-07-07 13:59] EMREOYUN commented on #381
Of course, i'll reopen the issue if i encounter slow speeds. Thank you.
closed 381

[2021-07-09 15:29] EMREOYUN commented on #381
![image](https://user-images.githubusercontent.com/35144629/125101999-80523000-e0e3-11eb-9dda-3a3105b6750e.png)
reopen #381
Issue still persist...

[2021-07-09 20:59] stefanbenten commented on #381
@EMREOYUN I checked the usage graphs which were very low and showed no other failures in that timeframe.
The issue is not on the transfer.sh server itself from what i can say. Something that i noticed is that you are not using HTTPS, which you should.
`2021/07/09 17:29:50 Error putting new file: read tcp 144.76.136.153:80->93.190.9.161:63899: read: connection timed out`

[2021-07-09 21:11] EMREOYUN commented on #381
Https gives me even slower connections. I also contacted with my hosting and changed the machine before but it seems still happens.

[2021-07-13 20:31] stefanbenten commented on #353
Thats true, all captcha services i would use, would be third party.

Technically the deletion field could simply parse if the string starts with a schema like https:// and then strip it. Then both the full URL as well as we actual token would work.
I think the solution proposed is totally clear then.

[2021-07-13 20:33] stefanbenten commented on #381
I had a script upload 1 50MB file every hour for the last 3 days. The slowest speed i got was 3MB/s (24Mbit/s).
Would you be able to just curl the webpage in that timeframe and see if that returns?

[2021-07-14 06:48] EMREOYUN commented on #381
Ah i forgot to type earlier. I contacted with my host and they wanted me to convert the IP to static(IP address is already static but it will automaticly given by DHCP server). These 3 days, no issues with internet connection happened except sometimes it returns "Could not save file" sometimes. Why this error appears?

[2021-07-14 08:43] stefanbenten commented on #381
I would have to check, but my guess is that the file either was bigger than originally specified. Could you send me timestamps of when those happened?

[2021-07-14 11:02] EMREOYUN commented on #381
I don't have timestamps, you can check by the IP address. This is the only machine i ever struggled.

[2021-07-17 06:39] stefanbenten commented on #381
@EMREOYUN I double checked and cannot find and request failures for your IP in that timeframe.

[2021-07-17 06:41] EMREOYUN commented on #381
Weird, sometimes it returns that for no reason then.

[2021-07-17 06:43] stefanbenten commented on #381
Next time it happens, please let me know and i'll scan all available logs manually, regardless of the IP.
I would propose to close the issue at this stage, since this does not seem to be caused by transfer.sh itself.

[2021-07-17 12:49] EMREOYUN commented on #381
Alright, currently it seems fast enough to upload in last days. I'll let you know  if something new happens.

closed #381

[2021-07-17 12:49] #381 closed

[2021-07-21 08:36] wc7086 opened #390 "support Google Shared Drives"
Google shared drives can have unlimited storage space. Using rclone requires more steps, so I hope transfer.sh can directly support it.

Google shared drives API Docs: https://developers.google.com/drive/api/v3/enable-shareddrives

Create Google Shared Drives for free: https://td.msgsuite.workers.dev/

[2021-07-21 21:20] wc7086 opened #391 "Does not work on purge-days"
I used `purge-days` in the command, but `MaxDate` in `metadata` still shows as `0001-01-01T00:00:00Z`

transfer.sh version: transfer.sh 1.2.4: Easy file sharing from the command line

os: Linux 5.10.0-0.bpo.7-amd64 #1 SMP Debian 5.10.40-1~bpo10+1 (2021-06-04) x86_64 GNU/Linux

Debian 10

[2021-07-22 05:57] aspacca commented on #391
@wc7086 `purge-days` does not effect `MaxDate` in metadata. it deletes the files from the storage after the number of days setup

[2021-07-22 05:57] #391 closed

[2021-07-22 06:02] wc7086 commented on #391
When I change servers, how does the program know when files need to be deleted?

[2021-07-22 10:39] wc7086 opened #392 "Feature: Check hash before web upload"
Verify the hash when uploading on the web, and save the hash field in the metadata. And display the hash field in the web interface. When using curl to upload, provide an upload option similar to `-H "sha1: <value>"`.

[2021-07-25 16:20] aspacca commented on #392
@wc7086 what would the goal of implementing this?

[2021-07-26 08:59] #353 closed

[2021-07-26 08:59] #377 closed

[2021-07-26 08:59] #380 closed

[2021-07-28 10:37] wc7086 commented on #392
Gives the user a way to verify that the downloaded file is complete and correct. I don't know if providing hash on the download page is redundant, maybe we should wait until more people care about this option before deciding?

[2021-08-01 10:53] aspacca commented on #392
The problem is that you have to trust the server: a malicious server could just receive and return the provided hash even after tampering the upload, and you should donwload the file a check his hash locally in order to be sure this didn't happen.

[2021-08-01 21:01] stefanbenten commented on #390
@wc7086 Could you elaborate the use case a little more?
Transfer.sh original itention is not to be come an archival sharing service. There might be forks running as such, but that defeats the purpose in my mind.
What are your thoughts on this @aspacca ?

[2021-08-03 17:31] #392 closed

[2021-08-06 16:44] VoXaN24 opened #394 "Question : Upload to a S3 Bucket"
The Docker image upload the file directly to the S3 Bucket or the Host Server cached the file and upload it in the same time ?

[2021-08-06 17:26] stefanbenten commented on #394
Hello @VoXaN24 , the file gets piped via the hosting server.
Meaning all data passes it in both directions. There is no need for storage however.

[2021-08-07 12:20] VoXaN24 commented on #394
It about the internet speed too, like if i Choose a 100 or 500 Mbps server

[2021-08-08 18:40] stefanbenten commented on #394
Right. This is definitely the likely bottleneck.
I think the question is answered with this correct?

[2021-08-11 20:14] aspacca commented on #391
sorry, I forgot to answer your question

the logic is different according to backend storage: on s3 and storj the expiration date of the object for the bucket is set on upload, on local storage and gdrive it will delete any file that at any purge scans has the creation date + purge days after the time of the scan

[2021-08-12 19:01] wc7086 commented on #391
@aspacca
Is the `Value` in `Usage` in README.md the default value? What happens if I don't set the value of `purge-days`? Does it mean keeping the file forever when I set `purge-days` to `0`?

[2021-08-12 19:56] marcelstoer opened #396 "Feature: Mozilla CloudFile aka FileLink for transfer.sh"
I was wondering if there is any interest in building a ThunderBird FileLink extension for transfer.sh.

Developer API https://webextension-api.thunderbird.net/en/78/cloudFile.html

[2021-08-13 12:23] wc7086 commented on #390
https://github.com/rclone/rclone/blob/master/backend/drive/drive.go

Although it can be mounted directly with rclone, it is inconvenient to use docker in this way.

[2021-08-13 12:40] wc7086 opened #397 "`random-token-length` The default length is 6, but the actual length is 7."
`random-token-length` The default length is 6, but the actual length is 7.

[2021-08-14 06:39] aspacca commented on #397
what release are you using?
latest master changed the `Token` function: https://github.com/dutchcoders/transfer.sh/blob/master/server/token.go#L37

[2021-08-14 06:42] aspacca commented on #391
`0` is the zero value: it means that the feature is disabled.
In `REAMDE.md` no zero default value are reported.

@stefanbenten what do you think? Should we report them with something like `0 (disabled)`?

[2021-08-14 08:47] wc7086 commented on #397
Sorry, I forgot to mention the version number, I am using Releases v1.2.6.

[2021-08-14 09:36] #397 closed

[2021-08-15 08:07] chencheyu opened #398 "Using storj storage without setting purge-days would cause upload fail"
https://github.com/dutchcoders/transfer.sh/blob/d16a6cc25e14468db3cdb8ceca8fad0b792dec79/server/storage.go#L716

The default value of purge-days is 0. This causes the uplink to trigger an error (Invalid expiration time).
purge-days的預設值為0。會導致uplink觸發錯誤(Invalid expiration time)。

![擷取](https://user-images.githubusercontent.com/39858274/129471383-e97b5070-7b47-4ba7-9c7a-cde6a1908702.PNG)
![擷取2](https

[2021-08-15 08:41] aspacca commented on #398
@stefanbenten I've created a PR with a fix (#399 ), but can you double check this?

[2021-08-15 08:48] aspacca commented on #390
@stefanbenten the reason to support gdrive shared drives is to have unlimited storage (like some of them have), as far as I understand.

I see value i this: I have to investigate what are the requirements, hopefuly just the proper oauth2 scope, that would be an easy fix but would required reauthenticating the client

[2021-08-15 09:02] aspacca commented on #390
actually it seems even simplier: we have to provide a param for the drive id to use, that could be a shared one.
I have to check how client app can join a share drive, @wc7086 any clue?

[2021-08-15 09:50] #398 closed

[2021-08-16 15:11] stefanbenten commented on #394
Closing due to inactivity.

[2021-08-16 15:11] #394 closed

[2021-08-19 15:03] wc7086 opened #401 "Question: In Debian11 v1.3.0 does not recognize the type"
When running transfersh in Debian11, many formats are not recognized, but not all formats are not recognized.

![image](https://user-images.githubusercontent.com/74053663/130092654-7c60b720-31f7-41b2-abab-04714cdec440.png)

[2021-08-19 15:09] wc7086 opened #402 "Feature: i18n"
Enough people have paid attention to this project. maybe it needs to be internationalized.

[2021-08-19 17:38] aspacca commented on #401
how did you upload the file?

[2021-08-19 17:42] rajeshisnepali opened #403 "Question: Local driver files stored location"
Where are files stored if I run `docker run --publish 8080:8080 dutchcoders/transfer.sh:latest --provider local --basedir /tmp/` command? There are no files in `/tmp` directory or is it uploaded to `transfer.sh` servers.

[2021-08-19 17:56] wc7086 commented on #401
Using web upload, uploading the same file in the old version will not have this problem.

[2021-08-19 18:28] stefanbenten commented on #403
You need to mount the /tmp directory into the container. You just told the image to storage all of the data inside of the container in /tmp.

[2021-08-19 18:57] aspacca commented on #401
I cannot reproduce, could you share the file?
mime type is inferred by the file extension: https://github.com/dutchcoders/transfer.sh/blob/master/server/handlers.go#L513

can you send a screenshot of the PUT request from network tab in the browser?

[2021-08-19 19:12] aspacca commented on #396
hi @marcelstoer , I can see it's pretty trivial to come up with an extension (https://github.com/thundernest/sample-extensions/tree/master/dropbox), at least form the coding point of view.

How ThunderBird extension are distributed?

@stefanbenten do you think that if we write one we should set https://transfer.sh as default server?

[2021-08-19 19:24] aspacca commented on #402
there was a discussion at https://github.com/dutchcoders/transfer.sh-web/pull/37 on how to implement it.
Still had no time to work on it

[2021-08-19 19:39] marcelstoer commented on #396
You publish it as a regular TB extension and tag it with `filelink`. At https://addons.thunderbird.net/en-US/thunderbird/tag/filelink you then get to see all available FileLink add-ons.

In the TB settings users get to choose and configure their installed FileLink providers.

<img width="837" alt="Screen Shot 2021-08-19 at 21 38 03" src="https://user-images.githubusercontent.com/624195/130133343-c

[2021-08-20 01:57] #403 closed

[2021-08-20 13:47] wc7086 commented on #401
[sample.gz](https://github.com/dutchcoders/transfer.sh/files/7021881/sample.gz)
http://transfer.sh/1xqzAJ2/%E6%9E%97%E7%A9%86%20-%20%E5%B0%84%E9%9B%95%E8%8B%B1%E9%9B%84%E4%BC%A0.mp3

![image](https://user-images.githubusercontent.com/74053663/130243037-e4a70efd-23c5-4414-9519-3ea770a6879d.png)

[2021-08-20 14:05] wc7086 commented on #401
![image](https://user-images.githubusercontent.com/74053663/130245497-69373b4b-1689-474d-a429-303892cf6162.png)

I found that gz files will not show the type either.

[2021-08-21 03:45] wc7086 commented on #401
I tried several formats again and found that none of them could be recognized. There is a problem with the recognition format. I use Edge `92.0.902.78`.

[2021-08-21 03:59] wc7086 commented on #401
When I upload zip in v1.2.6, the format will become `application/zip`.
https://transfer.sh/1pTGcQB/test.zip

[2021-08-21 09:56] aspacca commented on #401
I've tried all the files you sent me on my own instance with v1.3.0 and the type is correct.
What binary are you using?
I've installed https://github.com/dutchcoders/transfer.sh/releases/download/v1.3.0/transfersh-v1.3.0-linux-amd64
Can you try locally?

[2021-08-21 11:24] wc7086 commented on #401
Sorry, I forgot to mention my system version. After testing. This problem seems to only reproduce on Debian 11.

[2021-08-21 11:31] wc7086 commented on #401
When running transfersh in Debian11, many formats are not recognized, but not all formats are not recognized.

[2021-08-21 12:55] aspacca commented on #401
https://play.golang.org/p/wiKZKLyeLrK

on unix go reads the mime type from this set of files:
https://github.com/golang/go/blob/go1.16.7/src/mime/type_unix.go#L19-L24

without proper content of those files only these are the extension with results:
https://github.com/golang/go/blob/go1.16.7/src/mime/type.go#L60-L76

what do you have on your system?

[2021-08-21 13:23] wc7086 commented on #401
I used `find / -name mime.types` and I did not find `mime.types` in the Debian11 system.

[2021-08-21 13:29] aspacca commented on #401
[code]

try to install `media-types` package

[2021-08-21 13:35] wc7086 commented on #401
Use this command to prompt `dpkg-query: no path found matching pattern /etc/mime.types`. After searching, I found that `apt install media-types` should be used.

[2021-08-21 13:36] wc7086 commented on #401
Okay, the debian11 mirror does not include the `media-types` package by default. I now installed the `media-types` package to solve this problem.

[2021-08-22 09:54] aspacca commented on #401
can I close the issue @wc7086 ?

[2021-08-22 10:43] #401 closed

[2021-08-24 18:21] edodark opened #405 "Download from link problem"
It download the file at the speed of 600 kb/s and it's not my connection problem!
please fix!

[2021-08-24 18:23] edodark commented on #405
Now fixed I guess it was an outage of the server!

[2021-08-24 18:23] #405 closed

[2021-08-25 07:05] Lorenz1508 opened #406 "No URL returned after Upload"
Hi
when i use this Command to upload a File it does not return any URL

`find -name ""test".r*" -exec curl --progress-bar -O -T {} https://transfer.sh/{} \; | grep -oE 'https://transfer.sh/.*/test.r.{2}' > test.txt`

After the files are uploaded successfully, the links are neither saved in test.txt nor displayed in the terminal !

[2021-08-25 07:24] aspacca commented on #406
hi @Lorenz1508 , you are using `-O`: `Write output to a local file named like the remote file we get`
It seems that, while not file is getting, the output is saved to the local file named like the uploaded file.

You may want to report this to curl

[2021-08-25 07:34] aspacca commented on #406
also `find` will return the whole relative path as `{}` placeholder, not just the filename, ending in something like:
`https://transfer.sh/./directory/filename.ext`

Something like should work:
[code]

[2021-08-31 07:57] TomiScatto opened #407 "Unable to download files"
Hi, when I upload files to transfer.sh then I can't download them anymore. I have had this problem for 2 days. What should I do

Thank you

[2021-08-31 09:18] stefanbenten commented on #407
Hello @TomiScatto !

Do you have any links of files that do not work and/or more detailed information?

[2021-09-02 18:42] #406 closed

[2021-09-03 13:45] rubikscraft opened #408 "Website certificate has expired"
Exactly as the title says. HTTPS certificate for transfer.sh has expired.

[2021-09-03 20:28] TomiScatto commented on #408
unable to upload via a bot

[2021-09-04 00:06] ndom91 commented on #408
include curl flag `-k` to ignore expired cert for now @TomiScatto

[2021-09-04 10:10] automan0608 commented on #408
seems your certbot crontab not work

[2021-09-04 10:11] automan0608 commented on #408
not work for me:
curl: (7) Failed to connect to transfer.sh port 443: Connection refused

[2021-09-04 10:11] automan0608 commented on #408
@ndom91 not work for me
curl: (7) Failed to connect to transfer.sh port 443: Connection refused

[2021-09-04 14:46] stefanbenten commented on #408
Fixed, it wasnt certbot rather than the process itself not picking up the new cert.

[2021-09-04 14:46] #408 closed

[2021-09-04 14:46] stefanbenten commented on #407
Closing due to lack of response.

[2021-09-04 14:46] #407 closed

[2021-09-08 21:36] mckaygerhard commented on #322
i can also help with this.. cos i need also.. currently is hard to implements this

[2021-09-14 18:12] salmannotkhan opened #409 "Bug: Error 404 when try to delete file uploaded via zsh function"
First of it doesn't give any deletion token when we upload file via zsh function/plugin
Another thing is it shows delete button whenever someone visits the link and it prompts for deletion token but when we click on confirm button it shows "Error (404) during deletion of file"

So, I'll suggest to remove delete button completely. and also I want to know when files deleted from the server?

[2021-09-14 20:19] aspacca commented on #409
We won't remove the delete button, since it's working properly: you have to provide the deletion token, as stated in the hint.
When you click the button a `DELETE` request is made to `token/filename/deletionToken`, if the deletion token is wrong or empty, the request result in a 404 (not found)

Deletion token is returned on upload in the header `X-Url-Delete`, zsh function doesn't print it: I nev

[2021-09-14 20:21] aspacca commented on #409
every server can setup it's own purge period.
If the server you've uploaded to is using `v1.3.0` the purge time is reported in the homepage

[2021-09-15 02:41] salmannotkhan commented on #409
So I think it's useless to show that delete button

On Wed, Sep 15, 2021, 1:51 AM Andrea Spacca ***@***.***>
wrote:

[2021-09-15 12:12] salmannotkhan commented on #409
Okay, I'll try that. Also when you click confirm again and again it appends the error into same error instead of replacing it completely.

[2021-09-15 13:44] marat2509 opened #410 "Simple script for upload files"
Hi, my script!
[transfer.zip](https://github.com/dutchcoders/transfer.sh/files/7170539/transfer.zip)
Installing:
`wget ${linktofile}`
`sudo cp transfer /usr/local/bin`
`sudo chmod +x /usr/local/bin/transfer`

[2021-09-15 15:13] salmannotkhan commented on #409
Where I can find the script for transfer cli command?

[2021-09-15 17:48] salmannotkhan commented on #409
nvm I made PR on transfer.sh-web repo for that fix

[2021-09-15 23:00] wuniversales opened #411 "Upload files from url"
I would like that you could add files from an external url, for example, pass the url of an image, or a video and that it be uploaded to this platform.
Would it be possible to add the function?
Thanks greetings

[2021-09-29 17:03] corneliusroemer opened #413 "[Feature] Read in from stdin/pipe"
I'm using the transfer.sh script linked on the website. Would it be possible to extend this script so that I can pipe input into it, rather than having to specify an existing file?

[code]

[2021-09-29 17:09] #410 closed

[2021-09-29 17:15] aspacca commented on #413
@corneliusroemer
it's feasible but we still would need a filename for the upload

it could be generated randomly as well, what's your proposed solution for this?

[2021-09-29 18:54] corneliusroemer commented on #413
Random name is perfectly fine in this case, what else should it be :) could of course be passed as a command line argument as extra feature as add on.

[2021-10-12 10:01] anihm136 opened #419 "No `x-url-delete` header when sending POST request"
I noticed that the `x-url-delete` header is not being set when the user uploads a file via post request. Is uploading files via POST deprecated? (since all the examples seem to use PUT requests instead). If not, I think the header should be set correctly

[2021-10-12 10:03] anihm136 commented on #419
If this is indeed an omission, I would propose to merge the handlers for the POST and PUT requests. Instead, handling filename resolution can be separated into different functions based on the request method, since that seems to be the only difference between the two functions

[2021-10-12 10:12] anihm136 opened #420 "No error returned when Max-Days is invalid"
When a file is uploaded with a very high value set for `Max-Days` header, the server returns a URL. However, the URL leads to a 404 page

**Expected behavior**:
The server should return an appropriate 400 response when an invalid value is set for the header

[2021-10-16 05:46] kugiyasan commented on #420
Hey can I take this issue?

[2021-10-16 07:37] aspacca commented on #420
@anihm136 how much high the value must be set?

[2021-10-16 07:46] aspacca commented on #413
@anihm136 you probably want to send a PR for changing https://github.com/dutchcoders/transfer.sh-web/blob/master/src/index.html#L165

[2021-10-16 18:18] dgigantino opened #423 "The SSL Cert has expired."
![image](https://user-images.githubusercontent.com/88822116/137598042-9ea514d4-4e67-473c-b99b-04ade821596c.png)

[2021-10-17 07:21] #423 closed

[2021-10-17 08:27] anihm136 commented on #419
Is `POST` meant to be officially supported? If not, I could remove the post-related handlers and logic, else I can add the header

[2021-10-17 08:41] anihm136 commented on #420
Maybe overkill, but I did a binary search and it appears to fail at 8217934 days

[2021-10-25 13:23] fr3fou opened #425 "Support for pasting files directly?"
Let's say I have an image copied in my clipboard, I'd like to simply press <kbd>Ctrl</kbd>+<kbd>V</kbd> or <kbd>⌘</kbd>+<kbd>v</kbd> while on the frontend and have that start the upload automatically. Would you consider adding support for this? I think https://imgur.com has it

[2021-10-28 13:26] jimdevops19 opened #429 "Contact us button redirects to top of the page"
I tried to contact someone for support on what to do in case of a forgotten token for deleting a file. But the contact us button in https://transfer.sh was not leading to a page where I can describe my problem.

Thanks a lot

[2021-10-29 11:28] Jassi10000 opened #430 "Request to add a github action to the repo"
This is an awesome and an engaging repository , plus due to hacktoberfest'21 many open source enthusiasts ( preferably students who are first time contributors ) open issues and PRs which eventually help repo to grow
I think there should be a github action to welcome contributors on their each issue and PR so as to make repository more interactive

If you love the idea , please assign this to me

[2021-10-30 07:58] aspacca commented on #430
hi @Jassi10000 thanks for the offer, but I'd rather welcome everyone personally as long as the number of contributions allow me to do that :)

[2021-10-30 07:58] #430 closed

[2021-10-30 07:59] aspacca commented on #429
@jimdevops19 I will use this issue for fixing the functionality on UI

as for the delete token you can try to reach @stefanbenten , he's the one the manage the hosted instance at  https://transfer.sh

[2021-10-30 08:01] aspacca commented on #429
proposed fix: add a param to the CLI for the `contact us` email address and transform the link to a `mailto:` one pointing to that value.
if no param is provided do not rendere the `contact us` section

[2021-10-30 08:04] aspacca commented on #419
@anihm136 I honeslty don't have much visibility on the clients, I think that listing them on this repo could be valuable as well. could you help on that?

as for the `POST` handler, happy to remove indeed: but not before auditing as much as possible the clients around and how many of them rely on it.

in the meanwhile you're welcome to add the `x-url-delete` headers to the `POST` handler

[2021-10-30 16:59] anihm136 commented on #419
I agree that it would be useful to list other clients here. I only know of a couple so far, but I'd be happy to help find and list more of them. In the meantime I'll add the headers to the post handler

[2021-11-01 17:05] BOPOHA opened #431 "Feature: S3 Usage with an AWS IAM Role"
To automate the deployment process in a aws cloud, it would be great to use the AWS IAM Role to access the s3 bucket.

[2021-11-01 21:49] jimmybrancaccio commented on #420
Looks good now @aspacca and @kugiyasan Thank you both! ❤️

[2021-11-05 17:30] stefanbenten commented on #429
I would be fine with that!

[2021-11-08 15:32] leoheck opened #434 "Bunch of persons/computers uploading files to the same url/folder"
Bunch of persons/computers uploading files to the same url/folder
Is this possible?

I have a script that makes some questions, and I would like to have the answers uploaded the same place online.

Is this possible with transfer.sh?

[2021-11-08 18:18] aspacca commented on #431
great feature to support, @BOPOHA , but please, see my coment about how it should be implemented :)

thanks

[2021-11-08 18:33] aspacca commented on #434
@leoheck on your own hosted instance?

probably, setting `--random-token-length`/`RANDOM_TOKEN_LENGTH ` to zero

not on hosted transfer.sh

[2021-11-08 18:33] #434 closed

[2021-11-08 18:33] #420 closed, assigned to nobody

[2021-11-08 18:34] aspacca commented on #419
@anihm136 great, thanks. looking forward for the PR

[2021-11-08 18:40] leoheck commented on #434
@leoheck on your own hosted instance?

On any free/public/available.
Or, is it possible to set up a host with this tool?
If yes, then it can be mine.

Could you give me an example before closing this issue?

[2021-11-08 18:53] aspacca commented on #434
I doubt any free/public/available instance have 0 length for the random token

How proficient are you in running a service on internet?
This could be a starter:
https://github.com/dutchcoders/transfer.sh#docker

Something like:
[code]

Beware that if the users will upload files with the same name it could be a problem (not sure the latest will be saved or the first only, and later ones will fail)

[2021-11-08 18:58] aspacca commented on #434
Every new upload with the same filename will overwrite the old one

Also you will be able to access the files only from the local folder, `http://youdomain.com//filename.ext` won't work

[2021-11-08 18:59] leoheck commented on #434
I can handle it.

Ok.

Ok

Thanks @aspacca

[2021-11-11 06:58] anihm136 commented on #419
I have created a PR for adding the headers. Let me know how you'd like to begin work on listing existing clients (new issue, GH discussion or any other), and I can start listing some of the ones I've come across

[2021-11-11 07:46] aspacca commented on #419
thanks, see my comment

either an issue or a GH discussion is fine for me

[2021-11-21 15:01] EMREOYUN opened #436 "[Server Issue]Constant 413 Entity Request Too Large errors"
cURL requests returns 413 Entity Request Too Large errors everytime i try to upload a file between 300-330 MB. Did limits changed or can you check any issues on the server?
Edit: Same happens in website GUI upload.
![chrome_uO2qXJESIY](https://user-images.githubusercontent.com/35144629/142767403-233889ce-ff70-4ec6-9e1e-b24da3f3d965.png)
![chrome_zbVd7xcwaT](https://user-images.githubusercontent.co

[2021-11-21 15:56] stefanbenten commented on #436
Should be functional again. Sorry for the short failure time.

[2021-11-21 15:56] #436 closed

[2021-11-22 00:13] DillFrescott opened #437 "Error I get when trying to upload a jpeg image using curl"
<head><title>301 Moved Permanently</title></head>
<body bgcolor="white">
<center><h1>301 Moved Permanently</h1></center>
<hr><center>nginx/1.14.2</center>
</body>
</html>

[2021-11-22 00:14] DillFrescott commented on #437
Please ignore the markdown kind of messing with the error since its in html

[2021-11-22 12:03] stefanbenten commented on #437
How do you try to upload it? @DillFrescott
A full example would be great.

[2021-11-22 13:58] HemanthJabalpuri commented on #116
temp.sh

[2021-11-22 20:22] DillFrescott commented on #437
Here is the exact console history of my latest attempt. This is very odd. Perhaps its my antivirus or firewall?

https://gist.github.com/DillFrescott/e1e21817a2630fc4dd87ceafc7ddeb48

[2021-11-22 20:23] DillFrescott commented on #437
Update: Just disabled the antivirus and firewall and its still happening...

[2021-11-22 20:40] stefanbenten commented on #437
You need to specify https://transfer.sh as endpoint. The redirect comes from HTTP to HTTPS.

[2021-11-22 20:42] DillFrescott commented on #437
Ok, that works, but I no longer have an upload progress :(

[2021-11-22 20:55] stefanbenten commented on #437
That sounds like an unrelated issue to me (also not tied to transfer.sh).

[2021-11-22 20:55] DillFrescott commented on #437
Ok.

[2021-11-22 20:55] #437 closed

[2021-11-24 16:32] nlkguy opened #438 "transfer.sh Moved Permanently"
~$ curl http://transfer.sh/ --upload-file exp3.zip
<html>
<head><title>301 Moved Permanently</title></head>
<body bgcolor="white">
<center><h1>301 Moved Permanently</h1></center>
<hr><center>nginx/1.14.2</center>
</body>
</html>

[2021-11-24 16:59] stefanbenten commented on #438
See #437 , you need to use https!

[2021-11-24 16:59] #438 closed

[2021-11-28 05:20] nlkguy commented on #438
~$ curl https://transfer.sh/ --upload-file backup.log
curl: (92) HTTP/2 stream 0 was not closed cleanly: INTERNAL_ERROR (err 2)

back then transfer.sh only worked with'out' https! , now neither are working

[2021-11-28 15:46] stefanbenten commented on #438
Om 2021, almost 2022 there is no reason to still use non SSL sites.
I just confirmed that uploads as well as downloads work fine.

[2021-12-06 00:51] mcreasindo-git opened #439 "direct link for fullscreen video"
Hi,
* If we send video file, is it possible to share the direct link for fullscreen video?
* the purpose is very simple use case, people with direct link can play the video immediately.

[2021-12-07 00:22] rompeldunk opened #440 "Endless redirects using SSL/TLS with docker-image"
Hi!

I'm trying to run the dutchcoders/transfer.sh:latest docker image, utilizing the TLS/SSL feature.

The closest I've come, using the host-os's cert and priv-keys:

[code]

But I'm faced with endless 308 redirects when doing this.
Is this because the Dockerfile only exposes 8080 I presume?

**Apache proxy workaround**
As a temporary workaround I'm able to make the frondend https using a Apache2

[2021-12-07 07:37] aspacca commented on #440
@rompeldunk
`--force-https` is a boolean flag, you don't need to pass `true` as a value, setting it is enough
passing `true` seems to break the parsing of the rest of the command arguments and indeed your tls listener is never started.
You can try the following:
[code]

It should work

[2021-12-07 07:55] aspacca commented on #439
hi @mcreasindo-git
you are looking for the inline alias: https://github.com/dutchcoders/transfer.sh/blob/6b8eff83220b8ae48bbea408309ca6c6234a9862/README.md#link-aliases

[2021-12-07 07:55] #439 closed

[2021-12-07 09:17] rompeldunk commented on #440
Thanks for the quick reply!

Yes, I corrected that error previously and tested without `true` too - Still the redirect problem persists.
The command below is tested without Apache2 (proxy) running, but gives the exact same output as if it was active (Virtucal config in my previous comment)

I've replaced my real domain with the my.domain.com and IP with 123.123.123.123 in the terminal code below:

[2021-12-07 17:10] aspacca commented on #440
@rompeldunk
there was actually a bug in the redirect handler, fixed on #441

[2021-12-07 18:41] #440 closed

[2021-12-07 19:16] rompeldunk commented on #440
Seem that the error still persist after I purged and pulled :latest tag.

Could you confirm that you're able to run the SSL-based transfer.sh docker image?
I'm still testing with the command above.

[2021-12-07 19:20] aspacca commented on #440
https://hub.docker.com/r/dutchcoders/transfer.sh/tags

it seems the docker image is not updated yet

[2021-12-07 19:25] aspacca commented on #440
the workflow was still running on `master`, fixed now, in a few minutes we should have the new docker image

[2021-12-08 18:54] aspacca commented on #440
is it working now @rompeldunk ?

[2021-12-08 19:25] rompeldunk commented on #440
Yes. Just confirmed it the latest docker pull! Thanks alot! 👍

[2021-12-09 08:03] AmoghSaxena opened #442 "What all types of "--provider" do we have while launching it with docker"
I want to launch it with domain name instead of IP.
But while i run the docker command to run the container and go to the custom domain assigned to it.
It shows the IP address as a title bar and other upload settings.
Can anyone help me with this ?

[2021-12-09 10:38] stefanbenten commented on #442
@AmoghSaxena Could you provide the full example of how you try to start it?
More than happy to assist!

[2021-12-10 23:14] rompeldunk opened #443 ".bashrc transfer command code fails on HTTPS servers"
The bug lies somewhere in the generated transfer() alias code under `# Add this to .bashrc or .zshrc or its equivalent`

I've tested some examples, but I'm not that fluent in shell-script so I'll just post the results of the test. Maybe someone can pinpoint where this is going wrong:

The alias generated is this:
[code]

I've re-added and tested the code multiple time and refreshed with `source ~/

[2021-12-10 23:26] rompeldunk commented on #443
Also a minor "bug" with the .bashrc code is that there is not a line-break after the response from the server, which makes the terminal go:

can this be added too?

[2021-12-10 23:38] rompeldunk commented on #443
An update: It might be related to the system I'm using.
* I just copied a shorted code working on another server running `Ubuntu LTS 18.04.1 LTS` and `curl 7.58.0`

[code]

Tested the same code on the buggy server and it fails with the same error as above.

[code]

[2021-12-10 23:46] rompeldunk commented on #443
I just found the bug:
It seems I don't have access to
```tee /dev/null;```
on the buggy server

Is there a better way to write this maybe?

Btw: For the errors above, I think text-files are short enough to just not make the /tmp/-folder transfer not be utilized, thus making hello.txt work maybe?

[2021-12-11 07:32] aspacca commented on #443
you can change the command to
[code]

`tee /dev/null` is required to show the progress bar and print the output in seamless way

if you renounce the progress bar you can do without tee

you can also check `man tee` on the system where the command is failing, to see if it has different params and how to fix

[2021-12-11 07:32] #443 closed

[2021-12-13 06:40] OfekShochat opened #444 "curl: (92) HTTP/2 stream 0 was not closed cleanly: INTERNAL_ERROR (err 2)"
doing this `curl --upload-file quiet_01.txt https://transfer.sh` and it returns `curl: (92) HTTP/2 stream 0 was not closed cleanly: INTERNAL_ERROR (err 2)`

[2021-12-13 17:18] aspacca commented on #444
@OfekShochat can you add `-v` to curl parms and copy the output?

I just uploaded a file and I had no issue

[2021-12-13 18:17] OfekShochat commented on #444
Sure

[2021-12-13 18:18] OfekShochat commented on #444
[code]

[2021-12-13 18:39] aspacca commented on #444
thanks

can you test the upload adding `--http1.1` param to curl?

@stefanbenten you might want to look into this

[2021-12-13 18:51] OfekShochat commented on #444
Hmm when adding --http1.1 I get an empty reply

[2021-12-13 18:56] aspacca commented on #444
can you past the `-v` output?

[2021-12-13 19:32] OfekShochat commented on #444
[code]

[2021-12-13 19:34] stefanbenten commented on #444
May i ask where you are located at? This could possibly be the geoblocking that takes place here.

[2021-12-13 19:45] OfekShochat commented on #444
just tried with tor, seems that it is!

[2021-12-13 19:57] stefanbenten commented on #444
It is there because of abuse, but i am sure you know that already.

[2021-12-14 11:14] driftywinds opened #445 "Is there any kind of documentation to set this up with docker other than the README?"
The readme has very little information and I was wondering if anyone had made a guide to set this up with docker?

[2021-12-14 15:43] JacksonChen666 opened #446 "Dead v2 onion address"
[Onion addresses for version 2](https://support.torproject.org/onionservices/v2-deprecation/) has been officially killed by the tor project at least months ago, and I am not aware of any new onion addresses or even [a redirect for tor users](https://community.torproject.org/onion-services/advanced/onion-location/) for it (yes, i tested).

So far, I think only the following can be done about it:
-

[2021-12-14 16:57] stefanbenten commented on #446
@JacksonChen666 Thanks for bringing it up! I did notice that as well recently.

@aspacca I would be in favor of removing it for the time being.

[2021-12-14 18:35] aspacca commented on #446
@stefanbenten
let's delete it: I indeed didn't notice it when I refactored the frontend to use custom domain for self hosting

[2021-12-14 18:36] aspacca commented on #445
@driftywinds
do you have any specific issue?

starting from fixing your setup we can come out with better documentation

[2021-12-15 06:43] driftywinds commented on #445
@aspacca firstly, the rclone integration fails to work for me and my bucket is not connected even though I supplied the relevant keys and IDs.
Secondly, even though the docker container starts up successfully, I am not able to connect to it remotely. I have checked and rechecked everything including the forwarded ports or any other hindrance but I can't connect to it.

[2021-12-15 08:44] aspacca commented on #445
@driftywinds this doesnàt seem related to docker

also, could please share the params you use to launch transfer.sh and please, do not attacch screenshot with output, copy the text :)

[2021-12-15 10:29] driftywinds commented on #445
@aspacca My bad, here is the command I use to deploy the container -
[code]

[2021-12-15 10:30] driftywinds commented on #445
From my untrained eye it seems like it is not able to connect to Storj servers, is that it?

[2021-12-15 12:25] stefanbenten commented on #445
It looks like you have some sort of local DNS problem. Also why do you start it with `sudo` ?

[2021-12-15 12:37] driftywinds commented on #445
Oh I didn't know I was not supposed to use sudo, it has always been a constant

[2021-12-15 12:40] stefanbenten commented on #445
Ok it sounds like your user is not part of the docker group then. Its always preferred to run with as few priviliges as possible :)

This however isnt the problem here. The screenshot above clearly indicates a DNS lookup failure.

[2021-12-15 12:52] driftywinds commented on #445
I host other things on the same VPS and they seem to connect just fine with whatever they need to, could it be a problem with StorJ servers? I'm sorry I am a novice at this so I do not know what I can do to fix it.

[2021-12-15 12:54] stefanbenten commented on #445
The Storj Servers are not the problem. Its the DNS lookup of the container that fails. I do not have the time to test the docker image myself in the next few hours, but i also doubt that the image itself is the issue.
Which VPS provider are you using?

[2021-12-15 16:24] driftywinds commented on #445
After looking into it I found out that it was a problem with my docker version. Thank you for your help guys!
One last thing -
when I try to delete a file from the UI after uploading from the command line, what token am I supposed to give to it? Uploading from UI gives a deletion token but the command line does not

[2021-12-15 16:26] stefanbenten commented on #445
@driftywinds Glad it works now!
Regarding the deletion token, please see https://github.com/dutchcoders/transfer.sh/issues/419

[2021-12-15 16:36] driftywinds commented on #445
Thank you!

[2021-12-15 16:36] #445 closed

[2021-12-15 20:06] #429 closed

[2021-12-15 20:06] #446 closed

[2021-12-16 12:43] driftywinds opened #448 "Error while using Storj as provider"
The server starts up normally while using docker, but when I try to upload any file from UI or command line the server shows me this error in the console: -
[code]
Also the --basedir flag does not change the directory for some reason and it always uses /tmp/

[2021-12-16 13:07] stefanbenten commented on #448
@driftywinds basedir is not used at all for the storage provider, only when using local storage.
Could you paste your entire docker run command here, redacting secrets of course.

[2021-12-16 13:20] driftywinds commented on #448
@stefanbenten my command is: -
[code]
I then use caddy to reverse proxy the server running at port 4444 to my domain

[2021-12-17 12:39] imTHAI commented on #409
That's why ! I was searching where the hell I should be supposed to have received it. Maybe it would be good to warm people somewhere in the README.md text, zsh is even the default shell under MacOS

[2021-12-18 06:12] driftywinds commented on #448
Any leads?

[2021-12-18 10:30] stefanbenten commented on #448
@driftywinds I did not had time to look into this.
Will get to it today 🙏

[2021-12-20 16:07] ChaunceyShannon opened #449 "curl: (92) HTTP/2 stream 0 was not closed cleanly: INTERNAL_ERROR"
Don't know why, but happened.

Test on OSX and Linux with different IP addresses. (The same ISP but different account with different IP address)

Did not see any RST package.

![image](https://user-images.githubusercontent.com/87258078/146796636-733589c9-f8c0-40df-ba1e-39319bf48bfe.png)

Here is the full log

[code]

[2021-12-20 16:39] stefanbenten commented on #449
Please see #444

[2021-12-20 16:39] #449 closed

[2021-12-20 20:13] stefanbenten commented on #448
@driftywinds After going down the rabbit hole i have found out its actually a dependency that the Storj provider uses itself and thus is not easy able to change.
There are now two ways to solve this:

a) use a smaller image like apline or debian small instead of the scratch image as base see [Dockerfile](https://github.com/dutchcoders/transfer.sh/blob/acd6fb084f2804a5eea5b79bf8f82612e74a4b43/Docke

[2021-12-20 20:15] stefanbenten commented on #442
@AmoghSaxena Any update on this?

[2021-12-21 08:12] aspacca commented on #448
@stefanbenten what's the dependency?

I would like to understand if we have a workaround before using alpine as base image

[2021-12-23 15:59] siddharthchaini opened #450 "Transfer.sh can't be reached?"
I am unable to open transfer.sh

I tried opening it on wifi and data, on Chrome as well as Firefox.

I think it's just me though. Any idea what could be the reason?

Here's what chrome tells me:
[code]
![transfer](https://user-images.githubusercontent.com/40721514/147264449-69e5e671-9a8c-4d03-b952-de55acbcac3d.PNG)

[2021-12-23 16:20] stefanbenten commented on #450
You are very likely hitting the geo-blocking which transfer.sh sadly had to implement due to abuse recently.
I could look into returning a 403 Access Denied if that helps?

[2021-12-23 18:19] AmoghSaxena commented on #442
I want to deploy the project on my private FQDN but it only gives me the option for IP address instead of putting a domain.

[2021-12-23 18:27] mckaygerhard commented on #442
read the requirements it said: "_Could you provide the full example of how you try to start it?_" so @AmoghSaxena  without further details nobody can help you..

[2021-12-23 20:59] aspacca commented on #442
@AmoghSaxena
https://pkg.go.dev/net#Dial
according to the documentation
[code]

as @mckaygerhard said indeed, without further details we cannot help with a possible solution

[2021-12-23 21:03] mckaygerhard commented on #450
umm this means that now we must be open to be traking by? due those abusers?

[2021-12-24 07:44] bkzcode opened #451 "This site can’t be reached"
**Unable to open transfer.sh.**

`This site can’t be reached. The webpage at https://transfer.sh/ might be temporarily down or it may have moved permanently to a new web address.
ERR_HTTP2_PROTOCOL_ERROR`

[2021-12-24 10:45] stefanbenten commented on #451
Closing as exact same issue is already open #450

[2021-12-24 10:45] #451 closed

[2021-12-24 10:46] stefanbenten commented on #450
@mckaygerhard Until further notice we are not able to provide services to a couple of regions/countries, since those have been massively abusing the service. However i will be working on a better error message to reflect this.

[2021-12-25 00:47] mckaygerhard commented on #450
we must provide a list of countries and reasons why .. also we must made another way to stop abusers, or a way to provide those users help to the service..

[2021-12-25 10:53] stefanbenten commented on #450
@mckaygerhard We are currently working on improving upon this.
That said, we cannot fully mitigate it which also one of the reasons that most public services without registration had to shutdown (one example being Firefox Send).

[2021-12-25 10:56] siddharthchaini commented on #450
That's really a bummer. I really liked using transfer.sh and it sucks that because of other abusers I won't be able to use it.

Anyway, thank you for clearing this out. I'll search for alternatives.

[2021-12-25 10:56] #450 closed

[2021-12-25 21:22] stefanbenten commented on #448
@aspacca I am looking into this now and possibly found a workaround.

[2021-12-26 16:17] #448 closed

[2021-12-26 16:17] mckaygerhard commented on #450
the 99% of the abusers are windoser stupid users.. but i noted also the most activity is supporting windos related stupid features like clavmav! @siddharthchaini and @stefanbenten so in part this is a right consecuence.. well deserved!

[2021-12-26 16:19] aspacca commented on #450
@mckaygerhard
Use of harsh language is against the code of conduct

[2021-12-28 20:14] raul1991 opened #456 "Is site transfer.sh dead ?"
Hey! everyone,

I've been seeing a dns lookup failure for the website. Has it been shutdown ? Is there an alternative for it ?

[2021-12-28 21:54] stefanbenten commented on #456
Hello @raul1991

Seems like it is an issue on your end, it resolves fine for all resolvers i tried so far:

[code]

Please check your local setup :)

[2021-12-31 20:36] raul1991 commented on #456
@stefanbenten just tried and it still shows a dns failure.

![Screenshot_20220101_020556_com.android.chrome.jpg](https://user-images.githubusercontent.com/1281636/147838414-82262526-6c32-4933-8971-f582189634f5.jpg)

[2021-12-31 20:38] stefanbenten commented on #456
This is not a DNS failure rather than geoblocking.
Please see for reference #444

[2021-12-31 20:39] #456 closed

[2022-01-04 10:49] ShivamJoker commented on #444
@stefanbenten it's happening same on my computer as well (location: India)

[2022-01-04 10:52] stefanbenten commented on #444
@ShivamJoker India is one of the countries being blocked.

[2022-01-04 10:53] ShivamJoker commented on #444
You mean you have blocked it here ? or our government has

[2022-01-04 11:00] OfekShochat commented on #444
So you know, my country shouldn't be blocked tbh

[2022-01-04 11:00] #444 closed

[2022-01-04 11:01] OfekShochat commented on #444
Reopened it by mistake

[2022-01-04 12:36] stefanbenten commented on #444
@OfekShochat @ShivamJoker We blocked it, not the government. We sadly see very high abuse in various forms from a couple of countries (including India). We are working on a couple of improvements to reduce the abuse (eg. virus scanning) which hopefully allows us to remove the restrictions currently put in place.

[2022-01-04 12:38] OfekShochat commented on #444
Not in India

[2022-01-04 12:38] OfekShochat commented on #444
Where's the list? Not feeling like browsing the code

[2022-01-04 12:43] stefanbenten commented on #444
Its not in the code currently as its done on a lower level. I can fetch the list soon.

[2022-01-04 12:48] OfekShochat commented on #444
Thanks.

[2022-01-04 13:00] ShivamJoker commented on #444
Why not block some regions instead of the whole country ? 😒

[2022-01-04 13:05] OfekShochat commented on #444
Cuz it's the easiest way

[2022-01-06 18:16] matteoturini opened #457 "Link with invalid characters errors out"
https://transfer.sh/FXtvbX/DiscordSRV-Build-1.24.0.jar%E2%8F%8E for example says ``runtime error: invalid memory address or nil pointer dereference``

[2022-01-07 10:45] hkpanchani opened #458 "How to self host the server behind proxy"
How to build a production binary and make a linux service and host it behind proxy with SSL termination

[2022-01-08 12:41] stefanbenten commented on #442
@AmoghSaxena Is this question still unanswered? Else i am going to close it in 48 hours from now.

[2022-01-08 12:44] stefanbenten commented on #457
That seems like its some kind of other bug..
@aspacca Do you have time to diagnose?

[2022-01-09 14:21] stefanbenten commented on #457
I found the issue and it is not related to invalid characters. It was an internal nil pointer that was passed to a clean up func, that caused this.

[2022-01-09 14:21] #457 closed

[2022-01-09 19:11] stefanbenten commented on #411
@wuniversales Could you elaborate more on the use case?
Why would one not share the URL directly?

[2022-01-09 19:19] aspacca commented on #457
hi @stefanbenten

sorry, I was away, thanks for taking care of the issue

[2022-01-09 21:17] stefanbenten commented on #458
Hello @hkpanchani ,

to build a production binary the easiest i found is
[code]

In order to run it behind a proxy/loadbalancer, you can run it with `--listener 127.0.0.1:8080` and then hook your proxy up to this URL. This should be pretty much it.

[2022-01-09 21:24] stefanbenten commented on #458
Technically you are still missing the ldflags as done here, but it should not matter for operation:
https://github.com/dutchcoders/transfer.sh/blob/cff0a88bf3d90f4de654dcdb1157ce0b2bccf02c/.github/workflows/release.yml#L118

[2022-01-10 08:20] aspacca commented on #458
@hkpanchani
you don't need to build the binary btw, you can use the one available on release page: https://github.com/dutchcoders/transfer.sh/releases
(look under `Assets`)

Setting the proxy depends on what you use as proxy, here's a sample conf for nginx:
[code]

You have to change the paths and `domain.tld` and eventually the port of the upstream in `proxy_pass`

`client_max_body_size` should b

[2022-01-10 10:16] LinusCDE opened #461 "Add document env for provider in readme and dockerhub description"
The entry for "provider" (alsong some others maybe) in the readme as well as on dockerhub has not specified a ENV name even though it exists.

[2022-01-10 10:16] LinusCDE opened #462 "No default `/tmp` volume/directory in docker container"
By default, `/tmp` is used for tmpfiles. This directory is not created by default and might break some existing deployments, since this requirement seems new.

Origin: https://github.com/dutchcoders/transfer.sh/pull/389#issuecomment-1008686228

[2022-01-12 07:17] jjunnky opened #463 "CLI Uploading Failed"
So Ive tried many times using different cli programs & also adding the shell config provided but uploading doesn't work

when using curl - curl: (92) HTTP/2 stream 0 was not closed cleanly: INTERNAL_ERROR (err 2)
when using wget - No data received.

[2022-01-12 11:56] stefanbenten commented on #463
Please see #444

[2022-01-12 11:56] #463 closed

[2022-01-16 10:03] anihm136 opened #464 "File overwritten when multiple files with same name uploaded via POST"
When multiple files of the same name are uploaded via POST method, transfer.sh overwrites all of them with the last uploaded file. This happens because all the files uploaded in a single POST request get a single UID in the URL, and are named based on the upload name.
How to replicate:
1. Upload two files with the same name but different contents (for example, `a/foo.txt` and `b/foo.txt` in a sing

[2022-01-16 10:09] aspacca commented on #464
thanks @anihm136

since you are already working on the POST handler do you mind implementing solution 1? :)

thanks

[2022-01-21 08:41] anihm136 commented on #464
Sure, will do. Might take some time depending on my schedule, so do let me know if anyone else wants to take it up in the meantime.

[2022-01-21 20:04] bman46 commented on #411
One thing that I would use this for is storing files from urls that have a short amount of time to be accessed. For example, instagram videos have a hash and timestamp in the URL that prevent them from being viewed with that link after a couple hours.

[2022-01-21 20:09] bman46 commented on #411
An example of another site doing this is [https://0x0.st/](https://0x0.st/). They allow a key called 'url' to be posted in the body as form data and then they handle the upload from that link.

[2022-01-21 22:13] stefanbenten commented on #411
This might possibly violate rights and is not a good example in my mind.

[2022-01-21 22:17] bman46 commented on #411
Regardless of the specifics, there are situations where uploading from a link would be useful. That also wont stop anyone from just uploading the file from a local copy, anyway.

[2022-01-21 22:19] stefanbenten commented on #411
I totally agree, it would not stop it. But certainly make it possible to track down who uploaded it in case of an takedown/abuse request.

[2022-01-21 23:06] aspacca commented on #411
on top of the abuse problem, I see another one here: what content should be upload from the url?
an instagram url with an embedded video should upload html of the page or the video?
the second is out of scope for transfer.sh, the first would make the example improper ;)

uploading directly a remote content, like https://0x0.st/ does, doesn't need an extra feature in transfer.sh itself, for cli:
so

[2022-01-26 08:37] hackertron opened #465 "token issue for deletion on website"
hi, when I upload the file using curl there is no token that I recieve. How to delete file on your web platform. It asks for token and I don't have token

[2022-01-26 11:15] stefanbenten commented on #465
Hello @hackertron ,

as described on our README, the token is returned as part of the upload success url in a header. Please refer to this section:
https://github.com/dutchcoders/transfer.sh#x-url-delete

Since you cannot retrieve this after the upload anymore, please send an email via the link on the website with the URL, timestamp and in best case IP address of the upload location.

[2022-01-26 11:20] stefanbenten commented on #411
I do agree having a shell alias/function for the above command is fine and easiest. In that case, it would still pass the data via the client and check all boxes in my eyes.

[2022-01-30 23:26] Anarios opened #466 "504 gateway time-out response from server"
Uploading 10GB tar.gz file via `transfer` function provided in examples.

The file gets sent (I see network activity).

But then, after some wait - I receive a 504 error

[2022-01-30 23:35] Anarios commented on #466
Same happened from web UI.

[2022-01-31 08:18] stefanbenten commented on #466
Hello @Anarios , could you please try again?
Since the file is being ran through a virus scanner and then afterwards being uploaded, there might have been the case that the instance timed out waiting on the application response. I have increased said timeouts to avoid this now.

[2022-01-31 08:45] Anarios commented on #466
Same error. The tar.gz is a huge csv file archived (in case this info helps)

[2022-01-31 08:46] Anarios commented on #466
Doesn't seem like I can reopen the issue, though, @stefanbenten

[2022-01-31 09:15] stefanbenten commented on #466
Do you have a filename and timestamp for me? You can submit those via the website contact form if privacy should be kept.

[2022-01-31 09:26] Anarios commented on #466
Filename is topRated.tar.gz. No exact timestamp, but I left a comment here pretty-much immediately. So should be within a minute or two around the comment post time.

[2022-01-31 09:29] stefanbenten commented on #466
Thank you, i will look into this.

[2022-01-31 20:28] stefanbenten commented on #466
@Anarios Could you kindly try again?
Thank you!

[2022-02-01 16:54] Anarios commented on #466
@stefanbenten, all good now, thanks!

[2022-02-01 16:54] #466 closed

[2022-02-03 18:05] Enohriel commented on #462
In addition to this issue, changing the directory as a workaround doesn't do the trick anymore :

`# docker run -d --restart always --publish 8080:8080 -v "/home/transfer:/transfer" dutchcoders/transfer.sh:latest --provider local --basedir=/transfer`

[code]

[2022-02-03 18:41] aspacca commented on #462
`--temp-path` is the param for the temp folder

[2022-02-24 16:42] spantheslayer opened #469 "Support for folder upload/sharing"
whenever I want to share multiple files, it becomes very difficult to upload multiple files at once. It would be awesome if devs can implement this feature. Looking forward to it.

[2022-02-25 07:01] aspacca commented on #469
hi @spantheslayer this is already support throught `POST` requests.
I see it's not properly documented, you can find some context here: https://github.com/dutchcoders/transfer.sh/issues/419

[2022-02-25 07:01] #469 closed

[2022-02-25 07:07] spantheslayer commented on #469
And what about folders? Is it possible?

[2022-02-25 07:12] aspacca commented on #469
You have to pack the folder before uploading

https://transfer.sh/ has multiple examples of different way to upload content

[2022-02-28 21:22] fnpanic opened #470 "max-downloads seems not to delete the file"
Hi,

Great tool! Thank you very much.

i am using max downloads 1 header on the files. It works for non images perfect. Then i noticed that the image is embedded in the page and displayed but the download button is still there. When i click it, it says 404 which is desired. When i press back in the browser it downloads the file as often as i want.

I am running transfer.sh behind a nginx under the

[2022-02-28 22:19] fnpanic opened #471 "service side encryption for local backend"
Hi,

it would be great to have server side encryption for localbackend by passing a password as a header and then encrypting it with AES. On download the password should be passed to the server.

The server itself das not store the passwords and so has encryption at rest.

[2022-03-01 12:30] aspacca commented on #471
hi @fnpanic

there is still open a PR I worked on long time ago: https://github.com/dutchcoders/transfer.sh/pull/162

there are some concerns having the encryption on server side since you have to trust the server obviously.

[2022-03-01 14:15] fnpanic commented on #471
@aspacca Thanks for your feedback! That is exactly what i was thinking about. The downsides are clear but it is really a good solution for encryption at rest.

Any chance to get this merged?

[2022-03-02 12:26] #419 closed

[2022-03-02 13:56] aspacca commented on #470
hello @fnpanic , `max-donwloads` header doesn't delete the file, but rather just block the access to it

to delete a file you have two options:
1. `DELETE` request (https://github.com/dutchcoders/transfer.sh#deleting)
2. purging rules (`PURGE_DAYS`/`PURGE_INTERVAL`)

the fact that navigating the browser history back trigger the file download is probably due to caching, either in nginx or in the br

[2022-03-02 13:58] aspacca commented on #471
@fnpanic revamped it

but I can see this: https://github.com/golang/go/issues/44226

@stefanbenten what do you think?

[2022-03-02 13:59] aspacca commented on #471
I forgot: you can achieve the same goal with https://github.com/dutchcoders/transfer.sh#encrypt--upload

[2022-03-02 21:06] fnpanic commented on #471
Yes it does but if you download it form a windows box it is not very easy to decrypt it on the fly. That is why i think your patch is a great fit here.

[2022-03-03 06:58] #442 closed

[2022-03-03 06:59] aspacca commented on #411
we should add an example box in the frontend, @stefanbenten

[2022-03-11 12:43] stefanbenten commented on #470
Yeah, seems like we need to add no-cache directives to the actual content being served.

Additionally, the purging does only delete the files after the set retention time, not if the `max-downloads` has been reached. We could implement an automatic deletion, if we reach this point and a user keeps requesting it. The last download that sets download count to the same value as `max-downloads` would

[2022-03-11 15:18] aspacca commented on #470
yes, but indeed I'm quite positive about this behaviour: it is `max-donwloads`, not `delete-after-downloads` ;)

as consequence of my opinion above, I would say we must consider thoroughly befor adding extra complexity that might not be necessary.
what we will achieve with such behaviour?
- prevent for sure unwanted download (like the "bug" we have now since we have no caching directive)
- somehow

[2022-03-13 17:15] isaacKenyon opened #472 "Reporting Abuse"
I've come across a file hosted on your website which I am certain to be malicious.

I was on the website and did not see a form to report abuse, so I figured my next option was to leave it here since emails are scary 😥

## URL in question:
`https://transfer.sh/get/BGCth5/Ngame%20v2.4.rar`

## Why I believe it to be malicous:
Recently there have been floods of phishing links on Discord, they follow

[2022-03-14 08:25] stefanbenten commented on #472
Hello @isaacKenyon,

thanks for reporting. The file has been removed.
For the future, there is a contact us button near the end of the page, which definitely gets handled as well!

Cheers!

[2022-03-14 08:25] #472 closed

[2022-03-14 09:51] stefanbenten commented on #470
To me its more of the question whats the point in keeping the file on the service if it can not be downloaded anymore. Either its missing a feature of something like an override for the owner or to change the value upwards?
But at that point its likely more a CDN type deal than temporary file share.
For the operator of the server it might also be good to save cost/space, but that should not be a d

[2022-03-14 15:47] BenHarris opened #473 "Go 1.17 strict TLS APLN breaks Let's Encrypt"
More information and a fix noted here: https://github.com/traefik/traefik/issues/8376

Logs
[code]

[2022-03-24 15:57] keks24 opened #475 "Example Zsh/Bash function for transfer.sh homepage"
Hello,

I just want to share this. If you consider [my function](https://github.com/keks24/dotfiles/blob/master/etc/zsh/zshrc.local#L247-L254) as an worthy example for the homepage, go for it!:
[code]

Example outputs:
[code]
[code]

-Ramon

[2022-04-01 23:45] JustAnotherArchivist commented on #237
For future reference, this has since been implemented via #419 and #435.

[2022-04-03 04:05] aspacca commented on #470
good point, but I was more on decoupling the deletion part from the expiration part.

not easy to implement without keeping a state of the files past max-downloads and having a goroutine regularly purging them. the problem is how to implement the state to persist across restart of the service (indeed there is already: metadata file) and/or not having to scan every file uploaded to purge the expire

[2022-04-03 04:10] aspacca commented on #470
to summarise I see to different scenarios:
1. the person who runs the service has purging enabled: in the end the files that "expired" due to max number of requests will be deleted anyway and we do not need to handle a special case trigger for deletion
2. the person who runs the service has not purging enabled: can we assume as an admin saving space for no more "reachable" files is not their conce

[2022-04-03 04:12] aspacca commented on #475
nice @keks24 , thanks for sharing

I will add to `README.md` for the moment, since the frontend is already cluttered with examples unluckily :(

if you are able to write a cross-shell (bash/zsh at least) version of your function, including echoing delete command (that's really great!) we could promote it to frontend.

please let me know what do you think

[2022-04-03 12:15] gingerbeardman commented on #475
Yeah, delete command is not shown when using zsh

[2022-04-03 12:39] keks24 commented on #475
I just tested this on my end and it works for `zsh` and `bash`.

What output do you get, if you upload a small file via `curl` like the following?:
[code]

`curl` returns me this:
[code]

Maybe the key `x-url-delete` is returned differently and not matched by `gawk`.

---

These are the package versions I am using and an upload test, which I did in `bash`:
[code]
[code]
[code]
[code]

I refactored

[2022-04-03 12:55] #100 closed

[2022-04-03 12:58] keks24 commented on #475
I found the issue!

It seems, that `x-url-delete` is written differently in some versions of `curl` as seen in the [README.md](https://github.com/dutchcoders/transfer.sh#x-url-delete=) file.

Since there are different versions of `awk` like `gawk`, `mawk` and so on, I am going to match `x-url-delete` without case sensitivity; using the variable `IGNORECASE` only works for `gawk` and is not suffici

[2022-04-03 13:00] aspacca commented on #475
[code]

not sure about that `transfer:9: command not found: #`

[2022-04-03 13:20] keks24 commented on #475
I think, that has something to do with `--progress-bar`, which is not perfectly removed by `sed`.

Does this one with `--silent` and `--show-error` work for you?:
[code]

Leaving out the parameter `--silent` messes up the output for some reason. I think there are missing line terminators like `new lines` or `null terminators`:
[code]

[2022-04-03 16:42] keks24 commented on #475
This one should be the final, functioning version for `zsh` and `bash`, which also filters out the `deletion token`:
[code]
[code]

https://github.com/keks24/dotfiles/compare/c6938f1779b6197bd1f1f514f5189466fa905cf2...a378b45be1369b37c9ea62279ba117b935d326f6

[2022-04-03 17:28] stefanbenten commented on #470
I agree, the header should fix this scenario!

[2022-04-03 18:33] stefanbenten commented on #458
@hkpanchani Is there anything left to do on this issue? Are we good to close this?

[2022-04-03 18:48] stefanbenten commented on #462
The easiest fix for docker containers likely is to create the directory in the Dockerfile. The other approach is to set the mentioned path to the current working dir.
What would you prefer?

[2022-04-04 00:09] keks24 commented on #475
I could not help myself, but to improve the function once again. It is slowly growing, where I almost got to the point to create a separate repository for it, but I will keep it like this for now.

I consider this the final version now.

It can now upload multiple files:
[code]
[code]
https://github.com/keks24/dotfiles/compare/62ed27df71f742245498d57a8c99879b3d0bf3b5...a8b377b04fe7d45c99a4edcfaad9

[2022-04-04 18:48] hkpanchani commented on #458
Yes perfectly fine. Good to close this one ouy.

[2022-04-04 18:48] #458 closed

[2022-04-05 05:45] wisinfun opened #477 "[Demand] Can provide a list of historical files on the page"
You can easily find historical files to prevent repeated uploading

[2022-04-05 06:21] aspacca commented on #477
hello @wisinfun , not sure I understand what you mean

[2022-04-05 06:25] wisinfun commented on #477
like this，It would be better to have a search box
<img width="1401" alt="CleanShot 2022-04-05 at 14 24 17@2x" src="https://user-images.githubusercontent.com/41355260/161691926-ffe9cad8-55dc-47d6-a262-8ad92934d0be.png">

[2022-04-05 06:41] aspacca commented on #477
the problem is that such feature makes sense only in self-hosted *and* single upload user case

[2022-04-05 23:32] aspacca commented on #475
@keks24 thank you very much for you effort!

I will try to add this to the frontend in the weekend

[2022-04-06 00:44] keks24 commented on #475
My pleasure! :smiley:

If it is too big for the `README.md`, you may want to put it into an expandable `detail section`:

<details><summary>Some details</summary><p>

[code]

</p></details>

[2022-04-07 00:15] flavorgold1 opened #481 "The LISTENER environment variable isn't working with Docker."
It's stuck on port 8080.

How do I change this?

[2022-04-07 07:37] stefanbenten commented on #481
Hello @flavorgold1,

the port is fixed inside of the container, see here:
https://github.com/dutchcoders/transfer.sh/blob/b30b296ac838c73a4bcb83e394e6d9dac1b75e27/Dockerfile#L38

In order to map it to a different port you should probably use the docker networking features like this:
`docker run -p 8081:8080 dutchcoders/transfer.sh:latest`

[2022-04-07 08:53] flavorgold1 commented on #481
I understand that but, I'm in a situation where I have to use `network_mode: host` in `docker-compose.yml`. So, if there's a way through which it can respect that `environment variable`, it'd be great. Thanks anyways.

[2022-04-07 10:34] stefanbenten commented on #481
@aspacca I would like your opinion on this.

[2022-04-07 16:32] stefanbenten commented on #481
We could make it so that the binary per default listens on 8080 without specifying the flag at all, right?
Then setting the env variable should help, or one needs to pass this flag to the run command. Certainly better than having to maintain custom script solutions.

[2022-04-08 10:16] aspacca commented on #481
[code]

[code]

these two changes fixes, only cons: users not specifing a `--listener` flag/`LISTENER` env variable will now bind on every interface instead of localhost only

if we keep `Value:  "127.0.0.1:8080"`, docker won't bind on every interface but only localhost, that's more disruptive probably

[2022-04-08 19:40] flavorgold1 commented on #481
The way it is right now, it allows me to access the service via IPv4 and IPv6 directly, with `network_mode: host`. That's a good thing. Please preserve that functionality.

[2022-04-09 06:01] flavorgold1 commented on #481
This may be a crude solution, but, here's my `docker-compose.yml` file. It is located in `/home/username/transfersh_docker`, along with a `data` directory located in that same directory. It works:

[code]

[2022-04-09 08:40] aspacca commented on #481
doh @flavorgold1
I did't think about the most obvious solution: overriding the `entrypoint` (either on docker-compose or with ` --entrypoint` on docker run

having `/go/bin/transfersh` as entrypoint should be enough if you specify a `LISTENER` env variable

[2022-04-09 08:40] aspacca commented on #481
I will close this since it's solved

[2022-04-09 08:40] #481 closed

[2022-04-10 10:13] #470 closed

[2022-04-18 22:49] gwigz commented on #462
`--tmp-path` doesn't seem to change this anyway, seems like the folder should just exist regardless?
[code]

[2022-04-18 23:10] aspacca commented on #462
the flag is `--temp-path` not `--tmp-path`

[2022-04-19 20:22] gwigz commented on #462
typo

[2022-04-20 01:16] gonubana commented on #277
For anyone encountering this problem, oshi.at may be their solution. Just saying...

[2022-04-20 01:32] rouzbehzarei opened #482 "500 Internal Server Error"
Uploading files are returning

as response body on the official website.

[2022-04-20 10:38] stefanbenten commented on #482
Issue is fixed. A new account limit on the Storj backend was introduced, causing uploads to fail.

[2022-04-20 10:38] #482 closed

[2022-04-20 11:24] aspacca commented on #475
@keks24 , thank you very much

if you have time and you can open a PR to directly update the `README.md` it would be awesome

I'm a little busy this days and I'm not sure when I'll be able to do on my own 🙏

[2022-04-20 12:24] keks24 commented on #475
@aspacca
I already did that in #478, which also got merged by @stefanbenten. :)

[2022-04-20 13:40] #475 closed

[2022-04-20 13:53] aspacca commented on #462
@gwigz what version are you using?

there's no explicit saving of a `multipart` suffix temporary file in the code, I vaguely remember there was once, but I'm not sure

if I set `--temp-path` to `/dir/not/exists` this the output:
[code]

but that's rather expected and there is a match between tempo folder and the message on temp file creation

[2022-04-30 09:42] imTHAI opened #483 "Problem with spaces, any workaround ?"
Hello,

When I try to transfer a file with spaces I get a error message:
[code]
Is there any workaround I could use ?

Thank you and thank you for this project !

[2022-05-04 02:10] barart opened #484 "Unable to delete and no token on curl"
Im self-hosting transfer.sh using a doker container, i can upload files from browser and using curl and i can get the file, browser show the download link also curl, also i can see the files on my server but i cant delete those files from curl or browser let me explain:

If i upload a file from browser i can get my deletion token, if i go to http://ip:port/yF126n/file/deletiontoken i just see a em

[2022-05-04 02:53] aspacca commented on #484
hello @barart

you are making a `GET` request instead of a `DELETE` one when opening the url in the browser. having an empty `405` (method not allowed) response is correct

this is strange, the request is a `DELETE` one, the file should be deleted. having an empty response is correct, but the file should be deleted as well.

I wonder if running on docker can be the problem: what is your `--basedir

[2022-05-04 23:40] barart commented on #484
Hello @aspacca

Thanks for your reply,

My --basedir value is `--basedir=/transfers` and yes is in a volume shared and i think it has the proper permissions, im running it as `-nonroot` so user (according to your manual) is `5000` my docker Volume has this values:

[code]
This are my ls outputs:
[code]

For some reason if i do a ls on yF126n with my current user i got this:
[code]

I need to sudo

[2022-05-04 23:54] aspacca commented on #484
file are created with only owner permission

yes, only the files are delete, not the directory

[2022-05-04 23:54] #484 closed

[2022-05-05 00:08] barart commented on #484
Ok, i have a last question, is there a database or something where the delete token and file history are stored? I mean, if a user forgot his delete token can i just delete the files manually or i need to delete ? can i also delete the folders?

[2022-05-13 14:25] cr-sh opened #485 ""Hostname" and "webAddress" printed in punycode instead of unicode (IDN)"
Hey there,
in order to use this software with intertionalized domain names (IDN) is auspicable to print unicode instead of punycode.

you can see a live example here -> https://краш.мкд

[2022-05-14 00:46] aspacca commented on #485
I initially created a branch for adding what seems to be a missing feature for legit users

anyway looking at the content of your github profile, @cr-sh , made me think that such feature could be a high vehicle of attacks

so I'm quite favourable to keep as it is.

what do you think @stefanbenten ?

[2022-05-14 06:57] cr-sh commented on #485
Ciao Andrea,

you have just redefined the concept of security through obscurity, taking it to the next level: security through obstructionism! LOL 🌚

I'm a legit security researcher stuck in the light side of the force; BTW I well know the bad guys, and I can assure you that they would have edited those four lines themself, keeping this change private.

Anyway, probably these days I would have don

[2022-05-14 08:40] aspacca commented on #485
ciao @cr-sh

there's no security through obscurity neitehr through obstructionism: it's simply a concern similar to the one here https://github.com/golang/go/issues/20210

forcing the punycode will prevent `transfer.gοlang.org` to look like `transfer.golang.go`

I explained my doubt because the content of your github profile made me think, I never implied that your usage would be malicious

please

[2022-05-14 09:26] cr-sh commented on #485
Oh, I'm sorry if I looked rude, it was not my intention, at all. As I did say before I have a lot of respect and appreciation for your work on maintaining this code, I can't thank you enough for that. 🙏

Concrete IDN homograph attacks are almost history of the past, since mixing latin with non-latin alphabets are now forbidden at registry-level for the most TLDs, .org was among the first, so you a

[2022-05-14 10:06] aspacca commented on #485
https://github.com/dutchcoders/transfer.sh/pull/486

[2022-05-14 12:05] #485 closed

[2022-05-14 20:08] andrewzah opened #487 "would it be possible to set/use authorization tokens to limit who can upload?"
I want to create an instance to let some people upload, but only if they pass an authorization token. This is different than the basic auth handler, which doesn't make sense for multiple people.

This could be an array of strings, statically set in the config.

[2022-05-14 23:35] aspacca commented on #487
there's the option to ask for an http basic authorization:
[code]

[2022-05-15 03:56] andrewzah commented on #487
Is it possible to set multiple? Ideally I’d like to set a token per person in case it needs to be revoked or changed.

[2022-05-15 08:45] aspacca commented on #487
@andrewzah
it's not possible to set multiple credentials: I will look into in ad an `--http-auth-htpasswd` param so that the credentials are read from an htpasswd file

[2022-05-26 14:47] kzssc opened #489 "Guide for deploying on Synology?"
Sorry for the noob question - but I wonder devs might lend me a hand on deploying transfer.sh onto my synology NAS via docker, please? Many thanks! :))

[2022-05-27 01:06] aspacca commented on #489
hello @kzssc , it depends on the synology model, according the its cpu

what model do you have?

is it fine for you to deploy from shell or do you want to deploy from the docker manager on the DSM?

[2022-05-28 11:22] kzssc commented on #489
Hiiiii thanks for the reply! I'm currently on 218+. I don't mind whichever way but I think Docker might be easier? haha!

[2022-05-28 11:37] aspacca commented on #489
it's indeed esier to user directly the compiled binary available from the releases, since we build for a lot of OSes and platform

for the ds 218+ this one should be the right one https://github.com/dutchcoders/transfer.sh/releases/download/v1.4.0/transfersh-v1.4.0-linux-arm64-v8a

arm64 v8

just donwload that somewhere in your path on the syno and starts it from the shell
you can  probably have a

[2022-06-02 10:55] hongkongkiwi commented on #390
Any progress on this?

[2022-06-02 18:48] niss88 opened #490 "How can I resume downloads?"
I'm downloading from transfer.sh url like wget  -c "https://transfer.sh/..." but in the middle way an error occurs stating that "...バイトで読み込みエラーが発生しました (Operation timed out)。 再試行しています。".
Then it restarts downloading but from the scratch (progress bar starts from 0%). I read this https://github.com/dutchcoders/transfer.sh/issues/289 but didn't get the solution.

[2022-06-02 23:41] aspacca commented on #490
from wget documentation
[code]

[2022-06-02 23:51] niss88 commented on #490
Sorry but I'm always putting "wget -c url" and what's wrong with that

[2022-06-03 00:41] aspacca commented on #490
I'm sorry @niss88, you are right
range donwload works only for video and audio file: https://github.com/dutchcoders/transfer.sh/blob/main/server/handlers.go#L1054

I will fix as soon as I have time

[2022-06-03 05:05] niss88 commented on #490
My downloading file was a video... but I'll wait either way.

For testing I uploaded mp4 file for example https://transfer.sh/KnDl1c/out3.mp4 (~1 MB), tested like below and --continue (-c) didn't work for mp4 file
[code]

[2022-06-03 10:02] CodeCubeNeo opened #491 "Add an option to password protect a file"
I think it would be awesome if we could restrict unknown users from even downloading a file (not just encryption). I think the easiest way is that if the uploader wants, he can set a password, and if the downloader wants to have that file, he should enter that password.

[2022-06-03 10:04] CodeCubeNeo opened #492 "Is there any option for a gui desktop frontend?"
A desktop client would be really awesome!!!

[2022-06-03 17:32] roozbehzarei opened #493 "What are the privacy policy/terms of service?"
Specifically about the privacy of the users' files, what happens if the NL officials request for data?

[2022-06-06 13:37] aspacca commented on #490
hello @niss88

after some tests I can confirm that the code handles download resume on video and audio file (we could change for every file type, but that's no related to your problem)

failure on download resume at https://transfer.sh could be due to a proxy that doesn't forward the range header (it was indeed the same on my private instance): @stefanbenten , can you validate this assumption?
do

[2022-06-06 13:43] aspacca commented on #490
filtering out `range` header to the transfer.sh service will also break seeking feature on the audio/video preview page

[2022-06-06 13:53] stefanbenten commented on #490
transfer.sh is currently running with nginx in front and the correct proxy pass directive added. That said, it has a timeout at 1800s per request, due to the fact that there have been HTTP slow attacks in the past.

[2022-06-06 15:16] aspacca commented on #490
@stefanbenten
taking @niss88 upload (https://transfer.sh/KnDl1c/out3.mp4), seeking does not work on the video player, that should be related to the `range` header

[2022-07-04 17:25] GACGAMA opened #494 "Can't connect to transfer.sh anymore!"
Hello everyone

I'm using curl on my archlinux server. After an update on the system, when I try:

`curl --upload-file file.tar https://transfer.sh/file.tar`

I get:

`curl: (35) OpenSSL SSL_connect: Connection reset by peer in connection to transfer.sh:443
`

[2022-07-04 19:11] stefanbenten commented on #494
Closing, since its very likely due to geoblocking mentioned here: https://github.com/dutchcoders/transfer.sh/issues/450

[2022-07-04 19:11] #494 closed

[2022-07-05 07:30] corporateuser commented on #409
Some command line clients do not print headers by default, please consider to return JSON object instead of a simple string:
[code]

[2022-07-08 14:39] ErrorNoInternet commented on #490
This is also affecting parallel download tools (tools that connect to the server multiple times and download segments of the file in each thread). It makes a `HEAD` request to see if the server gives the `Accept-Ranges: bytes` header, and then sends a GET request containing the `Range: bytes=0-N` header to download the first N bytes.

[2022-07-09 13:30] aspacca commented on #490
@ErrorNoInternet did you hit this issue with `transfer.sh`, intended as software, or on https://transfer.sh website?

can you tell me one of the parallel download tools that are affected?

I will check if everything is fine on the `transfer.sh` side.

For sure `Range: bytes=` requests are currently supported only for video and audio content type. We can widen support for every file.

[2022-07-09 15:09] ErrorNoInternet commented on #490
@aspacca

The https://transfer.sh website

Some examples are [Paralload](https://github.com/ErrorNoInternet/Paralload) (my own tool), Chrome (it has a multi-threaded download feature), [chunked-downloader](https://github.com/vbrown608/chunked-downloader), and a few more small tools.
My ISP throttles download speeds (sometimes down to 20 KB/s) for foreign sites, so I rely on these tools to download

[2022-07-10 03:46] aspacca commented on #490
`HEAD` requests do not return `Accept-Ranges: bytes`, I will fix that, as well of allowing partial download for every file type

this is related to the support on `transfer.sh` intended as software.

hosted instances like https://transfer.sh, might or might nor support this according to the presence of a proxy and its setup

[2022-07-10 04:34] aspacca commented on #490
indeed it's a rather tricky: we have a mutex on `checkMetadata` (https://github.com/dutchcoders/transfer.sh/blob/35e794220b3c998194d7d52796e052ef00795c2f/server/handlers.go#L689-L690) in order to track the `MaxDownloads` and update them

parallel range requests will be handled sequentially anyway because of the mutex.
I cannot see an easy way to get rid of the mutex: just skipping it in case of ra

[2022-07-10 04:55] aspacca commented on #490
@ErrorNoInternet here: https://github.com/dutchcoders/transfer.sh/pull/495

[2022-07-19 22:16] phpmac opened #499 "can you support IPFS storage and chrome PWA?"
can you support IPFS storage and chrome PWA?

[IPFS](https://ipfs.io/) is blockchain.

PWA is Chrome App

[2022-07-30 16:51] imTHAI commented on #483
Hello,

You never answered.
Is this problem fixable ?

[2022-07-31 07:33] aspacca commented on #483
hello @imTHAI
sorry for missing the issue

could you share the whole curl command you use?

[2022-07-31 07:53] #483 closed

[2022-07-31 07:54] aspacca commented on #483
@imTHAI

fixed in https://github.com/dutchcoders/transfer.sh#bash-and-zsh-with-delete-url-delete-token-output-and-prompt-before-uploading

[2022-08-11 06:20] blind-intruder opened #500 "Transfer.sh Vulnerable to Stored XSS"
Hi,
I am Farhan, a professional cyber security researcher & penetration tester from Pakistan. I was reviewing the code of the transfer.sh and I found that it is possible to achieve Cross Site Scripting (XSS) on transfer.sh.

**Steps to Reproduce:**

- Create a file without any extension, example: "poc"
- Add this HTML in this file "`<h3 onclick="alert('XSS')">click me</h3>`"
- Save this file
- Upl

[2022-08-19 17:05] thebardockgames opened #502 "how can delete a my file with curl"

[2022-08-19 19:40] michaelscl opened #503 "Feature: skip auth from specific IP"
Hi,

We use the service to exchange files between customers. It would make the work easier to not require upload authentication when accessing from defined IPs.

What do you think?

best regards

Michaels

[2022-08-20 13:32] aspacca commented on #503
@michaelscl I see some value indeed, while I'm not sure about the extra complexity in configuration

just an idea at infra level: have you thought about hosting two instances pointing at the same storage, one with and one without upload authentication, and route to the second from the IPs you'd like to whitelist?

[2022-08-23 06:10] OfekShochat commented on #450
Can you provide a list?

[2022-08-30 12:51] joshspicer opened #505 "Update version of go to >=1.18?"
For personal use, I currently working on adding support for Azure blob storage as an alternative storage driver (https://github.com/dutchcoders/transfer.sh/compare/main...joshspicer:transfer.sh:main?expand=1).

I would love to contribute back the Azure storage driver back to this repo. The Azure SDKs require at least go 1.18.  I am curious if there's any justification for pinning this project to g

[2022-08-30 14:25] stefanbenten commented on #505
Usually its good to require the latest + the previous to minor versions (ie 1.19, 1.18, 1.17) and thus setting the minimum to 1.17 would be a good intermediate step imo.
For Azure i think there is a "deprecated" sdk that can be used that builds with 1.16 and upwards?

[2022-08-31 06:07] #462 closed

[2022-08-31 06:08] aspacca commented on #503
hello @michaelscl where you able to try this solution?

[2022-09-01 04:25] aspacca commented on #505
in order to clarify: my goal is to give users the possibility to build from source on any LTS (or equivalent) major system they use, relying on the default repo of the system package manager (or equivalent).

MacOS: hombrew is almost up to latest release, same macports - no problem here
Windows: I honestly don't have a clue :)
Linux:
- Debian, buster, from backports: 1.15
- Anything that can fallb

[2022-09-03 02:43] aspacca commented on #505
to shorten the discussion:  @joshspicer you should be able to pin to a non-latest version of the azure sdk and still use azure blob storage

is it ok for you?

[2022-09-03 22:14] joshspicer commented on #505
FWIW the official stance from the golang team is to [support two major versions](https://go.dev/doc/devel/release) back from the latest (so 1.17, 1.18, and 1.19 today).

I'll see if I can get my changes working with 1.17 so that things are backwards compatible.  I would prefer to use the new Azure Blob Storage sdk (https://github.com/Azure/azure-sdk-for-go).  Not sure if all the features of this S

[2022-09-04 01:33] aspacca commented on #505
as far as I know github.com/Azure/azure-sdk-for-go@v59.0.0+incompatible works with 1.17

[2022-09-07 17:50] toastie89 commented on #503
@aspacca nice idea, I will give it a try

[2022-09-07 18:12] toastie89 commented on #502
Hi, the procedure described below works for me:
https://github.com/dutchcoders/transfer.sh#x-url-delete
https://github.com/dutchcoders/transfer.sh#deleting

Where do you stuck?

[2022-09-07 18:16] toastie89 commented on #491
The 'password'  is part of the URL in form of the random key, isn't it?

[2022-09-07 18:36] CodeCubeNeo commented on #491
I guess yes, but you can guess that (although nearly impossible). You can close this and thanks for taking the time to answer my question ;).

[2022-09-07 20:49] toastie89 commented on #491
For me the 6 characters also feel a bit short. I run an own instance of transfer.sh and set `random-token-length` to 20.

[2022-09-08 08:12] toastie89 commented on #503
@aspacca, thanks for the workaround!
Having one container with `HTTP_AUTH_USER` and another with `IP_WHITELIST` pointing both to the same storage works fine.

[2022-09-08 11:48] aspacca commented on #491
@CodeCubeNeo

it's one of the example on the frontend:
[code]

[2022-09-08 11:55] toastie89 commented on #491
No, this is what I've set for my own installation. The default is 6.

[2022-09-08 20:22] michaelscl commented on #503
@aspacca Yes, this is a partial solution for me. For the convenience of uploading from our lan, I didn't want to use HTTP_AUTH at all.

[2022-09-12 00:28] bahammut commented on #502
and if we upload without run this grep part, how to delete the file without this specific header value !?

[2022-09-12 02:05] #500 closed

[2022-09-12 02:07] aspacca commented on #503
@michaelscl
as I said my main concern was about complexity of the configuration.

I think a solution migth be to add `NO_HTTP_AUTH_FROM_WHITELIST`

[2022-09-12 02:08] aspacca commented on #502
@bahammut there's no way without knowing the delete token

if you uploaded on transfer.sh you can try asking @stefanbenten

[2022-09-12 02:09] aspacca commented on #409
@corporateuser sorry, that will be a breaking change

[2022-09-12 02:09] #409 closed

[2022-09-12 02:16] aspacca commented on #390
@hongkongkiwi
I have no shared folder to test on

you can try to write the ID of the folder in the shared drive in  `%gdrive-local-config-path%root_id.conf` and see if it works

[2022-09-12 11:52] stefanbenten commented on #502
You can always reach out via the contact-us form on the website and we'll be happy to help with getting files deleted, if proven ownership of the file exists 👍

[2022-09-12 13:23] zell180 opened #507 "Upload not work"
Hi, from yesterday upload not work. Why?

[2022-09-12 14:15] stefanbenten commented on #507
I just tested an upload and works fine. Could you test again and if it fails report your IP, so we could check the log files?

[2022-09-12 14:26] zell180 commented on #507
Now works fine

[2022-09-12 14:36] #507 closed

[2022-09-13 23:21] glk0 commented on #425
HI, I'd like to work on this feature. Can you assign it to me ?

[2022-09-13 23:35] stefanbenten commented on #425
Of course!

[2022-09-14 00:42] aspacca commented on #425
@glk0 thanks

in caes the code for the fronted is at https://github.com/dutchcoders/transfer.sh-web

[2022-09-16 19:18] zell180 commented on #507
No upload or really slow upload all day.
94.240.56.137 my ip

[2022-09-18 17:22] TobiasDeBruijn opened #509 "Unable to upload or access site"
Hi there,
I'm unable to access the site or use curl to upload files. The browser gives `An error occurred during a connection to transfer.sh. PR_END_OF_FILE_ERROR` in Firefox. Edge is switching between `closed the connection`, `connection was reset` and `500 Internal server error`. Curl is giving `curl: (35) error:0A000126:SSL routines::unexpected eof while reading`. Googling seems to  suggest an

[2022-09-19 05:02] reorx commented on #502
It's very easy to forget to grep the file because grep is not included in the getting started command.

Would it be a good idea to show the deleted url in upload response? Like:

[code]

[2022-09-19 05:27] aspacca commented on #502
@reorx unluckily change the output of the command will be a breaking change that we are not willing to do

maybe we can improve te documentation in the getting started command: any suggestion is welcome

[2022-09-19 05:55] reorx commented on #502
You are right, there must be many scripts that relies on the output to
parse the download url.

My suggestion to document is to add a `-v` after curl, making the command
looks like below:

curl -v —upload-file hello https://transfer.sh/hello.txt

On Mon, Sep 19, 2022 at 13:27 Andrea Spacca ***@***.***>
wrote:

--
Xiao Meng

[2022-09-21 07:12] Dan1jel commented on #502
I have for a while trying to figure out the delete token.

Is there a way to show regular and delete token in one curl command?

When i use ```
curl -sD - --upload-file test.txt https://transfer.sh/test.txt | grep "x-delete-token
"``` i only the delete token in a whole link. But i would like to have one url and one line with token only.

Sorry but I'm new to the whole curl and grep thing.

[2022-09-22 09:54] aspacca commented on #502
@Dan1jel , @reorx

you might want to give a look at the sample bash/zsh function on the readme https://github.com/dutchcoders/transfer.sh#bash-and-zsh-with-delete-url-delete-token-output-and-prompt-before-uploading :)

@Dan1jel if it doesn't not work for fish and you are able to improve, you're welcome to open a PR :)

[2022-09-22 10:40] Dan1jel commented on #502
Did not see that, thanks for the tip, dont know if i would be able to do better tho, my thought was to make an zip to upload instead of several files, thats why my line is small and minimalist but yea, that sample was really nice :)

[2022-09-29 20:47] voyeg3r opened #510 "Would you mind adding an option to paste uri on the clipboard?"
I would like to have an option we could enable and get the final uri in the clipboard and a notify-send telling me that.

[2022-09-30 00:04] aspacca commented on #510
hello @voyeg3r I don't know notify-send, cam you explain what's it?

as for copy to clipboard:
`curl --upload-file ./hello.txt https://transfer.sh/hello.txt |pbcopy`

that's on mac, there must be an equivalente of `pbcopy` on other platform

[2022-10-11 11:17] TobiasDeBruijn commented on #509
Seems to be fixed

[2022-10-11 11:17] #509 closed

[2022-10-12 11:10] toastie89 opened #511 "Max-Days for Browser Upload"
Hi! Brief question: Is there an option to set [Max-Days](https://github.com/dutchcoders/transfer.sh#max-days) when uploading via the Browser?

[2022-10-16 01:14] aspacca commented on #511
hello @toastie89 , all the header feature are not available uploading on the frontend, sorry :)

[2022-10-16 01:14] #511 closed

[2022-10-20 06:22] wc7086 commented on #402
https://github.com/dutchcoders/transfer.sh-web/pull/37#issuecomment-818119288

[2022-10-20 07:29] aspacca commented on #402
@26tanishabanik , yes, the comment reported by @wc7086 is still valid on my side

thanks for the feedback @wc7086

I apologise but I've been a little busy and could not give enough attention to the project

I will try to review the PR anyway

[2022-10-21 20:51] joshlopes commented on #466
@stefanbenten having the same on self-hosted .. can you please enlight me -- what have you done ?

[2022-10-29 18:09] eliasrm87 opened #513 "Main site is being used to distribute malware"
Hi, apologies if this is not the correct place to report about this issue, but I haven't been able to find another way.

I found that there is a web page called gimp[.]monster liking to malware stored at transfer[.]sh/get/mbckh4/Setup.exe
It looks like the platform has not means to report malicious files.

Regards

[2022-10-30 11:32] stefanbenten commented on #513
Hello @eliasrm87,

There is a contact us button for these kind of requests.
The file has been removed quite some time ago already.

Thank you kindly for reporting!

[2022-10-30 11:32] #513 closed

[2022-11-01 08:19] mg-dev25 opened #514 "Permission problems SSO?"
Hello, I tried multiple command on multiple SHELL and computer, but it seems that I miss something.

Transfer.sh is installed on my Yunohost server, the installation work fine I can connect to the webpage, give my credential, and upload and download my file using the graphic interface of the web browser.

The problems are with the terminal, I tried with Wget, curl, and the function transfer, but i

[2022-11-02 11:30] aspacca commented on #514
hello @mg-dev25

from the server logs it seems you do a `GET` requesto to the delete url (https://transfer.mg-dev25.com/qDlRVy/dns.txt/Uf0FNrJImyPi). It returns 405, method not allowed, because that url accepts `DELETE` request

I tried `curl -v --upload-file ./hello.txt https://transfer.mg-dev25.com/hello.txt` and the server seems to work properly: https://transfer.mg-dev25.com/z5vibr/hello.txt

[2022-11-02 13:27] mg-dev25 commented on #514
Hi, thanks for the help, it resolves my issue. I also update the transfer function on the one that is with in the Git page, which add more dialogue and information like download command, delete token, etc.

The transfer function indicate in the website simple used case is not the same, maybe it needs to be updated?

[2022-11-05 11:01] jm33-m0 opened #515 "Error 413"
I did a search and found it might be a size limit issue, then I looked at the [README](https://github.com/dutchcoders/transfer.sh#usage-1), which is extremely confusing.

How should I pass those "parameters" to `transfer.sh` or its docker container? According to "usage" table it looks like I should use environment variables but passing `MAX_UPLOAD_SIZE` didn't work.

[2022-11-12 07:16] #514 closed

[2022-11-17 21:46] wait-what opened #516 ""Upload from web" is very unintuitive"
Most of the people I've asked to send a file via transfer.sh could not find the upload button. I believe it should be more emphasized, like an actual button.

I would be willing to implement this and open a PR if it is something you would consider merging.

Related code https://github.com/dutchcoders/transfer.sh-web/blob/master/src/index.html#L58

[2022-11-17 21:47] wait-what commented on #516
Reopening under https://github.com/dutchcoders/transfer.sh-web/issues/57

[2022-11-17 21:47] #516 closed

[2022-11-21 03:03] #502 closed

[2022-11-28 20:32] Akih1999 opened #517 "https://transfer.sh/jagkUP/CHOK.scworld"

[2022-11-29 01:49] aspacca commented on #517
what's that @Akih1999 ?

[2022-11-29 01:49] #517 closed

[2022-11-29 20:28] tnfru commented on #510
Linux equivalent is to pipe to xlip:

`transfer foo | xclip -selection clipboard` will do the trick.